<div class="open-jobs-component">
    <md-card class="jobs-widget">
        <md-toolbar class="widget-toolbar">
            <div class="md-toolbar-tools">
                <span class="material-symbols-outlined">inventory_2</span>
                <span class="md-headline-title" flex style="margin-left: 8px;">Open Jobs</span>

                <span flex></span>

                <md-switch
                        class="view-toggle-switch md-primary"
                        ng-model="ctrl.isTableView"
                        ng-change="ctrl.toggleViewMode()"
                        aria-label="Toggle view">
                    <md-tooltip md-direction="bottom">
                        {{ctrl.isTableView ? 'Card View' : 'Table View'}}
                    </md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" class="toggle-icon">
                        {{ctrl.isTableView ? 'dashboard' : 'view_list'}}
                    </md-icon>
                </md-switch>

                <md-button aria-label="collapse" class="md-icon-button" ng-click="ctrl.toggleCard()">
                    <md-icon md-font-set="material-symbols-outlined" style="color: white;">
                        {{ctrl.isCardCollapsed ? 'expand_more' : 'expand_less'}}
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-card-content class="md-padding" ng-if="!ctrl.isCardCollapsed">
            <!-- Empty state message -->
            <div class="empty-state"
                 layout="column"
                 layout-align="center center"
                 ng-if="(!ctrl.drivers.length && ctrl.viewMode === 'card') || (!ctrl.tableJobs.length && ctrl.viewMode === 'table')">
                <md-icon class="empty-icon"
                         md-font-set="material-symbols-outlined">
                    inventory_2
                </md-icon>
                <p class="md-body-1">
                    No open jobs match your current filter criteria
                </p>
            </div>

            <div ng-if="ctrl.isTableView && ctrl.tableJobs.length" class="table-view-container">
                <div class="data-table data-table--hover">
                    <div class="data-table__container">
                        <table class="data-table__table">
                            <thead class="data-table__head">
                                <tr class="data-table__header-row">
                                    <th class="data-table__header-cell"
                                        ng-repeat="column in ctrl.tableColumns track by column.key"
                                        ng-class="{
                                            'sortable': column.sortable,
                                            'align-right': column.align === 'right'
                                        }"
                                        ng-click="column.sortable && ctrl.onSort({column: column.key, direction: ctrl.tableSort.column === column.key && ctrl.tableSort.direction === 'asc' ? 'desc' : 'asc'})">
                                        <div class="data-table__header-content">
                                            <span class="data-table__header-label">{{column.label}}</span>
                                            <md-icon class="data-table__sort-icon"
                                                     ng-if="column.sortable"
                                                     ng-class="{'active': ctrl.tableSort.column === column.key}"
                                                     md-font-set="material-symbols-outlined">
                                                {{ctrl.tableSort.column === column.key ? (ctrl.tableSort.direction === 'asc' ? 'arrow_upward' : 'arrow_downward') : 'unfold_more'}}
                                            </md-icon>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="data-table__body">
                                <tr class="data-table__row" ng-repeat="job in ctrl.paginatedTableJobs track by job.reference">
                                    <!-- Job Number -->
                                    <td class="data-table__cell">{{::job.reference}}</td>
                                    <!-- Driver -->
                                    <td class="data-table__cell">{{::job.driverName || 'Unassigned'}}</td>
                                    <!-- Status -->
                                    <td class="data-table__cell">
                                        <md-chip class="status-chip {{::job.status}}">
                                            {{::job.status}}
                                        </md-chip>
                                    </td>
                                    <!-- Pickup Time -->
                                    <td class="data-table__cell">{{::job.pickup.timeString}}</td>
                                    <!-- Pickup Location -->
                                    <td class="data-table__cell">
                                        <div class="data-table__cell-content truncate location-cell">
                                            <div class="location-name">{{::job.pickup.name}}</div>
                                            <div class="location-address">{{::job.pickup.address}}</div>
                                        </div>
                                    </td>
                                    <!-- Delivery Time -->
                                    <td class="data-table__cell">{{::job.delivery.timeString}}</td>
                                    <!-- Delivery Location -->
                                    <td class="data-table__cell">
                                        <div class="data-table__cell-content truncate location-cell">
                                            <div class="location-name">{{::job.delivery.name}}</div>
                                            <div class="location-address">{{::job.delivery.address}}</div>
                                        </div>
                                    </td>
                                    <!-- Package -->
                                    <td class="data-table__cell">{{::job.quantity}} {{::job.packageType}}</td>
                                    <!-- Mileage -->
                                    <td class="data-table__cell align-right">{{::job.mileage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <table-pagination
                            page="ctrl.tableQuery.page"
                            limit="ctrl.tableQuery.limit"
                            total="ctrl.tableJobs.length"
                            limit-options="[5, 10, 15, 20]"
                            on-paginate="ctrl.onPaginate(page, limit)"
                            show-page-select="true">
                    </table-pagination>
                </div>
            </div>

            <div class="driver-sections" ng-if="!ctrl.isTableView && ctrl.drivers.length">
                <!-- Sort Button moved outside toolbar -->
                <div class="sort-section" layout="row" layout-align="end center">
                    <md-menu>
                        <md-button class="md-primary md-raised sort-button" ng-click="$mdMenu.open($event)">
                            <span>Sort: {{ ctrl.getSortLabel() }}</span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sortBy = 'jobId'; ctrl.onSortChange()">
                                    <md-icon md-font-set="material-symbols-outlined" ng-if="ctrl.sortBy === 'jobId'">check
                                    </md-icon>
                                    <span>Job Number</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sortBy = 'pickup'; ctrl.onSortChange()">
                                    <md-icon md-font-set="material-symbols-outlined" ng-if="ctrl.sortBy === 'pickup'">check
                                    </md-icon>
                                    <span>Pickup Time</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.sortBy = 'delivery'; ctrl.onSortChange()">
                                    <md-icon md-font-set="material-symbols-outlined" ng-if="ctrl.sortBy === 'delivery'">
                                        check
                                    </md-icon>
                                    <span>Delivery Time</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <md-expansion-panel class="driver-panel md-padding" ng-repeat="driver in ctrl.drivers">
                    <md-expansion-panel-expanded>
                        <md-toolbar class="md-primary driver-header" ng-click="driver.expanded = !driver.expanded">
                            <div class="md-toolbar-tools">
                                <md-icon md-font-set="material-symbols-outlined" style="color: black;">
                                    {{driver.expanded ? 'expand_less' : 'expand_more'}}
                                </md-icon>
                                <div flex layout="row" layout-align="start center">
                                    <span class="driver-name">{{::driver.name || 'Unassigned'}}</span>
                                    <md-divider class="vertical-divider"></md-divider>
                                    <span class="job-count">({{::driver.jobs.length}} open jobs)</span>
                                </div>


                                <div class="driver-stats" layout="row" layout-align="end center">
                                    <div class="completed-jobs">
                                        <md-icon class="success-icon"
                                                 md-font-set="material-symbols-outlined"
                                                 ng-class="{'success-green': driver.completedToday > 0, 'error-red': driver.completedToday === 0}">
                                            check_circle
                                        </md-icon>
                                        <span>{{::driver.completedToday}} completed today</span>
                                    </div>

                                    <md-divider class="vertical-divider"></md-divider>

                                    <div class="last-completed" layout="column">
                                        <div class="last-time">
                                            Last completed: <span class="na-warning"
                                                                  ng-if="driver.lastCompleted === 'N/A'">N/A</span>
                                            <span ng-if="driver.lastCompleted !== 'N/A'">{{::driver.lastCompleted}}</span>
                                        </div>
                                        <div class="duration-text" ng-if="driver.lastCompleted !== 'N/A'">
                                            {{::ctrl.getTimeSinceLastCompleted(driver.lastCompleted)}} mins ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-toolbar>

                        <div class="job-list" ng-if="driver.expanded">
                            <div layout="row" layout-wrap>
                                <div flex="50" ng-repeat="job in driver.jobs">
                                    <md-card style="height: calc(100% - 16px);">
                                        <md-card-content>
                                            <!-- Job Header -->
                                            <div layout="row" layout-align="space-between center">
                                                <div layout="row">
                                                    <div style="margin-left: 16px;">
                                                        <p class="md-caption">Reference</p>
                                                        <p class="md-body-1">{{::job.reference}}</p>
                                                    </div>
                                                </div>
                                                <md-chip ng-class="job.status | lowercase">
                                                    <md-icon md-font-set="material-symbols-outlined">package_2</md-icon>
                                                    {{::job.statusName}}
                                                </md-chip>
                                            </div>

                                            <md-divider></md-divider>

                                            <!-- Job Details -->
                                            <div layout="row" layout-align="space-between start" layout-margin>
                                                <!-- Pickup Info -->
                                                <div flex="50">
                                                    <div layout="row" layout-align="start center">
                                                        <md-icon class="md-primary" md-font-set="material-symbols-outlined">pin_drop</md-icon>
                                                        <span class="md-body-2">Pickup: {{::ctrl.formatRegionalTime(job.pickup.time)}}</span>
                                                    </div>
                                                    <div layout="column" layout-padding>
                                                        <span class="md-body-1">{{::job.pickup.name}}</span>
                                                        <span class="md-caption">{{::job.pickup.address}}</span>
                                                    </div>
                                                </div>

                                                <!-- Delivery Info -->
                                                <div flex="50">
                                                    <div layout="row" layout-align="start center">
                                                        <md-icon class="md-primary" md-font-set="material-symbols-outlined">pin_drop</md-icon>
                                                        <span class="md-body-2">Delivery: {{::ctrl.formatRegionalTime(job.delivery.time)}}</span>
                                                    </div>
                                                    <div layout="column" layout-padding>
                                                        <span class="md-body-1">{{::job.delivery.name}}</span>
                                                        <span class="md-caption">{{::job.delivery.address}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <md-divider></md-divider>

                                            <!-- Job Footer -->
                                            <div layout="row" layout-align="space-between center" layout-padding>
                                                <div layout="row" layout-align="start center">
                                                    <md-icon md-font-set="material-symbols-outlined">directions_car</md-icon>
                                                    <span class="md-caption" layout-margin>Mileage: {{::job.mileage}}</span>
                                                </div>
                                                <div layout="row" layout-align="start center">
                                                    <md-icon md-font-set="material-symbols-outlined">inventory_2</md-icon>
                                                    <span class="md-caption" layout-margin>{{::job.quantity}} {{::job.packageType}}</span>
                                                </div>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                </div>
                            </div>
                        </div>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
            </div>
        </md-card-content>
    </md-card>
</div>
