<md-dialog aria-label="Create Job" style="width: 55%;">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">add_business</md-icon>
            <h2>Add New Job</h2>
            <span flex></span>
            <md-button class="md-icon-button close-dialog-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <form name="ctrl.jobForm" ng-cloak ng-submit="ctrl.jobForm.$valid && ctrl.submit(ctrl.job)">
            <div class="md-dialog-content">

                <div layout-gt-sm="row">
                    <md-autocomplete
                            flex-gt-sm
                            md-autofocus
                            md-autoselect
                            md-escape-options="clear"
                            md-floating-label="Client"
                            md-item-text="item.text"
                            md-items="item in ctrl.clientSearch(ctrl.searchClientText)"
                            md-min-length="3"
                            md-no-asterisk
                            md-search-text="ctrl.searchClientText"
                            md-selected-item="ctrl.selectedClient"
                            placeholder="Start typing to search clients"
                            md-autoselect
                            required>
                        <md-item-template>
                                <span md-highlight-flags="^i"
                                      md-highlight-text="ctrl.searchClientText">{{item.text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No clients matching "{{ctrl.searchClientText}}" were found.
                        </md-not-found>
                    </md-autocomplete>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="charge-amount">Charge Amount</label>
                        <input id="charge-amount" md-no-asterisk ng-model="ctrl.job.charge" required step="0.01"
                               type="number">
                    </md-input-container>

                    <md-autocomplete
                            flex-gt-sm
                            md-escape-options="clear"
                            md-floating-label="Courier"
                            md-item-text="item.text"
                            md-items="item in ctrl.courierSearch(ctrl.courierSearchText)"
                            md-min-length="1"
                            md-no-asterisk
                            md-search-text="ctrl.courierSearchText"
                            md-selected-item="ctrl.selectedCourier"
                            md-autoselect
                            placeholder="Start typing to search couriers">
                        <md-item-template>
                            <span md-highlight-flags="^i"
                                  md-highlight-text="ctrl.courierSearchText">{{item.text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No couriers matching "{{ctrl.courierSearchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Job Date</label>
                        <md-datepicker aria-label="Enter job date" md-no-asterisk ng-model="ctrl.jobDate"
                                       required></md-datepicker>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-autocomplete
                            flex-gt-sm
                            md-escape-options="clear"
                            md-floating-label="From Address"
                            md-item-text="item.address.label"
                            md-items="item in ctrl.addressSearchAutocomplete(ctrl.fromAddressSearchText)"
                            md-min-length="3"
                            md-no-asterisk
                            md-search-text="ctrl.fromAddressSearchText"
                            md-selected-item="ctrl.selectedPickupAddress"
                            placeholder="Start typing to search clients"
                            md-autoselect
                            required>
                        <md-item-template>
                            <span md-highlight-flags="^i"
                                  md-highlight-text="ctrl.fromAddressSearchText">
                                  {{item.address.label}}
                            </span>
                        </md-item-template>
                        <md-not-found>
                            No address matching "{{ctrl.fromAddressSearchText}}" was found.
                        </md-not-found>
                    </md-autocomplete>

                    <md-autocomplete
                            flex-gt-sm
                            md-escape-options="clear"
                            md-floating-label="To Address"
                            md-item-text="item.address.label"
                            md-items="item in ctrl.addressSearchAutocomplete(ctrl.toAddressSearchText)"
                            md-min-length="3"
                            md-no-asterisk
                            md-search-text="ctrl.toAddressSearchText"
                            md-selected-item="ctrl.selectedDeliveryAddress"
                            md-autoselect
                            placeholder="Start typing to search clients" required>
                        <md-item-template>
                            <span md-highlight-flags="^i"
                                  md-highlight-text="ctrl.toAddressSearchText">
                                 {{item.address.label}}
                            </span>
                        </md-item-template>
                        <md-not-found>
                            No address matching "{{ctrl.toAddressSearchText}}" was found.
                        </md-not-found>
                    </md-autocomplete>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="pickup-contact">Pickup Contact</label>
                        <input id="pickup-contact" md-no-asterisk ng-model="ctrl.job.fromContactName" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="delivery-contact">Delivery Contact</label>
                        <input id="delivery-contact" md-no-asterisk ng-model="ctrl.job.deliverToContact" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="pod-name">POD Name</label>
                        <input id="pod-name" md-no-asterisk ng-model="ctrl.job.podName" required>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-autocomplete
                            flex-gt-sm
                            md-autoselect
                            md-escape-options="clear"
                            md-floating-label="Vehicle"
                            md-item-text="item.text"
                            md-items="item in ctrl.vehicleSearch(ctrl.vehicleSearchText)"
                            md-min-length="0"
                            md-no-asterisk
                            md-search-text="ctrl.vehicleSearchText"
                            md-selected-item="ctrl.selectedVehicle"
                            required>
                        <md-item-template>
                            <span md-highlight-text="ctrl.vehicleSearchText">{{item.text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No vehicles matching "{{ctrl.vehicleSearchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>

                    <md-autocomplete
                            flex-gt-sm
                            md-autoselect
                            md-escape-options="clear"
                            md-floating-label="Speed"
                            md-item-text="item.text"
                            md-items="item in ctrl.speedSearch(ctrl.speedSearchText)"
                            md-min-length="0"
                            md-no-asterisk
                            md-search-text="ctrl.speedSearchText"
                            md-selected-item="ctrl.selectedSpeed"
                            required>
                        <md-item-template>
                            <span md-highlight-text="ctrl.speedSearchText">{{item.text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No speeds matching "{{ctrl.speedSearchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="referenceA">Reference A</label>
                        <input id="referenceA" md-maxlength="20" ng-model="ctrl.job.refA">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="referenceB">Reference B</label>
                        <input id="referenceB" md-maxlength="20" ng-model="ctrl.job.refB">
                    </md-input-container>
                </div>


                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="jobNotes">Job Notes</label>
                        <textarea id="jobNotes" md-maxlength="150" md-select-on-focus ng-model="ctrl.job.jobNotes"
                                  rows="5"></textarea>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="pickupNotes">Pickup Notes</label>
                        <textarea id="pickupNotes" md-maxlength="150" md-select-on-focus ng-model="ctrl.job.pickupNotes"
                                  rows="5"></textarea>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="deliveryNotes">Delivery Notes</label>
                        <textarea id="deliveryNotes" md-maxlength="150" md-select-on-focus
                                  ng-model="ctrl.job.deliveryNotes"
                                  rows="5"></textarea>
                    </md-input-container>
                </div>

            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-progress-circular
                class="md-primary"
                md-diameter="40"
                md-mode="indeterminate"
                ng-disabled="ctrl.jobForm.$invalid"
                ng-show="ctrl.isLoading">
        </md-progress-circular>

        <md-button class="md-raised md-primary" ng-click="ctrl.submit(ctrl.job)" ng-disabled="ctrl.jobForm.$invalid"
                   ng-show="!ctrl.isLoading">
            Create
        </md-button>
    </md-dialog-actions>
</md-dialog>
