<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <div id="book" class="book container-fluid" ng-cloak>
            <h2 ng-hide="!courierEvent">Create a Courier Event</h2>
            <h2 ng-hide="courierEvent">Create a Job Event</h2>
            <form name="bookForm" novalidate>


                <div class="boxier">
                    <fieldset ng-disabled="isClicked">
                        <div class="box">
                            <div class="icon">1</div>
                            Details
                        </div>

                        <div class="book-input">
                            <div class="label">
                                Follow-up
                            </div>

                            <div class="input-group" ng-class="{ 'has-error' : bookForm.account.$invalid && bookForm.account.$touched }">
                                <select id="account" class="form-control" name="account" ng-model="book.account" ng-change="accountChange()" required title="choose the followup company" aria-describedby="basic-addon2">

                                    <option value="" disabled selected>select followup company</option>
                                    <option value="Client">Client</option>
                                    <option value="UCL">UCL</option>
                                </select>
                            </div>

                        </div>

                        <div class="book-input" ng-hide="courierEvent">
                            <fieldset ng-disabled="true">
                                <div class="label">
                                    Job Number
                                </div>

                                <div class="input-group" ng-class="{ 'has-error' : bookForm.job.$invalid && bookForm.job.$touched }">
                                    <input type="text" name="job" ng-model="book.job" class="form-control" placeholder="enter the job number" aria-describedby="basic-addon2">
                                </div>
                            </fieldset>
                        </div>

                        <div class="book-input">
                            <fieldset ng-disabled="true">
                                <div class="label">
                                    Courier Code
                                </div>
                                <div class="input-group" ng-class="{ 'has-error' : bookForm.courier.$invalid && bookForm.courier.$touched }">
                                    <input type="text" name="courier" ng-model="book.courier" class="form-control" placeholder="enter the courier code" aria-describedby="basic-addon2">
                                </div>
                            </fieldset>
                        </div>

                        <div class="book-input">
                            <div class="label">
                                Your Name
                            </div>
                            <div class="input-group" ng-class="{ 'has-error' : bookForm.name.$invalid && bookForm.name.$touched }">
                                <input type="text" name="name" ng-model="book.name" required class="form-control" placeholder="enter your name..." aria-describedby="basic-addon2">
                            </div>
                        </div>

                        <div class="book-input" ng-show="isAdmin">
                            <div class="label">
                                Client Visible?
                            </div>
                            <div class="input-group">
                                <input type="checkbox" style="width:30px!important;" id="internal" name="internal" ng-model="book.internal" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        <div class="book-input" ng-show="isAdmin">
                            <div class="label">
                                Notify Client?
                            </div>
                            <div class="input-group">
                                <input type="checkbox" style="width:30px!important;" id="notify" name="notify"  ng-model="book.notify" aria-describedby="basic-addon2">
                            </div>
                        </div>

                        <div class="book-input">
                            <div class="label">
                                Notes
                            </div>
                            <div class="input-group" ng-class="{ 'has-error' : bookForm.notes.$invalid && bookForm.notes.$touched }">
                                <textarea rows="7" cols="60" name="notes" id="event-notes" ng-model="book.notes" class="form-control" required placeholder="enter the details of this event" aria-describedby="basic-addon2"></textarea>
                            </div>
                        </div>  

                    </fieldset>

                    <div class="book-button">
                        <a class="btnyellow" ng-click="createEvent()">Create Event</a>
                    </div>
                    <md-progress-circular class="wait" md-mode="indeterminate"></md-progress-circular>

                </div>


            </form>
        </div>
    </md-dialog-content>
</md-dialog>
