<div class="droppable-box" style="min-height:500px">
    <div class="table-headings">
        <table>
            <thead class="thead-dark no select">
            <tr>
                <th ng-click="orderList('jobList', 'booked')" scope="col">Booked
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='booked'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-booked'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'status')" scope="col">Status
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='status'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-status'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'speed')" scope="col">Speed
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='speed'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-speed'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'jobNo')" scope="col">Job
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='jobNo'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-jobNo'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'client')" scope="col">Client
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='client'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-client'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'from')" scope="col">From
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='from'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-from'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList', 'to')" scope="col">To
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='to'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList =='d-to'">arrow_drop_up
                    </md-icon>
                </th>
                <th ng-click="orderList('jobList','to')" scope="col">Street
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList == 'to'">arrow_drop_down
                    </md-icon>
                    <md-icon md-font-set="material-symbols-outlined" ng-show="sort.jobList == 'd-to'">arrow_drop_up
                    </md-icon>
                </th>
            </tr>
            </thead>
        </table>
    </div>

    <table class="table table-striped table-responsive table-rows" data-group="jobList" id="jobList">
        <tbody>
        <tr class="droppable-row draggable-row clickable-row noselect"
            data-courier="{{job.courier}}"
            data-jobNo="{{job.jobNo}}" data-jobid="{{job.id}}" ng-click="selectJobDetail(job.id);"
            ng-repeat="job in jobList | filter: box.searchBox | orderBy: jobQuery.order">
            <td>{{job.booked | date: "dd/MM/yy HH:mm"}}</td>
            <td class="status" ng-class="job.status">{{job.status}}</td>
            <td action="speedColumnClick(event)" right-click>{{job.speed}}</td>
            <td>{{job.jobNo}}</td>
            <td action="clientColumnClick(event)" right-click>{{job.client}}</td>
            <td action="fromColumnClick(event)" right-click>
                {{isUsCustomer ? job.pickupAddress.addressLine5 : job.from}}
                <md-icon md-font-set="material-symbols-outlined" ng-if="!job.pickUpLongitude">warning</md-icon>
            </td>
            <td action="toColumnClick(event)" right-click>
                {{isUsCustomer ? job.deliveryAddress.addressLine5 : job.to}}
                <md-icon md-font-set="material-symbols-outlined" ng-if="!job.deliveryLongitude">warning</md-icon>
            </td>
        </tr>
        <tr>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
            <td>
                <div></div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td align="center" colspan="8">
                <div class="pull-right">
                    <md-table-pagination
                            md-limit="jobQuery.limit"
                            md-limit-options="[5, 10, 25, 50]"
                            md-on-paginate="jobPageChanged"
                            md-page="jobQuery.page"
                            md-page-select
                            md-total="{{totalCount}}">
                    </md-table-pagination>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="loading" ng-if="jobListLoading">
    <div class="text">
        <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<style>
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
</style>

<script>
    angular.element(".box-content").on("scroll", function () {
        var newTop2 = angular.element(this).scrollTop();
        angular.element(this).find(".box-calculator").css({"top": newTop2});
    });
</script>
