<!-- Job List Table -->
<md-table-container>
    <table md-progress="jobPromise" md-row-select md-table ng-model="selectedJobs">
        <thead md-head md-order="jobQuery.order">
        <tr md-row>
            <th md-column md-order-by="booked"><span>Booked</span></th>
            <th md-column md-order-by="status"><span>Status</span></th>
            <th md-column md-order-by="speed"><span>Speed</span></th>
            <th md-column md-order-by="jobNo"><span>Job</span></th>
            <th md-column md-order-by="client"><span>Client</span></th>
            <th md-column md-order-by="from"><span>From</span></th>
            <th md-column md-order-by="to"><span>To</span></th>
            <th md-column md-order-by="toAddress"><span>Street</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="job" md-select-id="id" ng-click="selectJobDetail(job.id)"
            ng-repeat="job in jobList | orderBy: jobQuery.order">
            <td md-cell>{{job.booked | date: "dd/MM/yy HH:mm"}}</td>
            <td md-cell ng-class="job.status">{{job.status}}</td>
            <td md-cell>{{job.speed}}</td>
            <td md-cell>{{job.jobNo}}</td>
            <td md-cell>{{job.client}}</td>
            <td md-cell>
                {{job.from}}
                <md-icon md-font-set="material-symbols-outlined" ng-if="!job.pickUpLongitude">warning</md-icon>
            </td>
            <td md-cell>
                {{job.to}}
                <md-icon md-font-set="material-symbols-outlined" ng-if="!job.deliveryLongitude">warning</md-icon>
            </td>
            <td md-cell>
                {{job.toAddress}}
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination
        md-limit="jobQuery.limit"
        md-limit-options="[5, 10, 25, 50]"
        md-on-paginate="jobPageChanged"
        md-page="jobQuery.page"
        md-page-select
        md-total="{{totalCount}}">
</md-table-pagination>
