<div class="droppable-box">
    <md-table-container>
        <table md-dense md-progress="jobListLoading" md-table>
            <thead md-head md-on-reorder="orderList('jobList', jobQuery.order)" md-order="jobQuery.order">
            <tr md-dense md-row>
                <th md-column md-order-by="booked">
                    <span>{{jobHeaders[0].label}}</span>
                </th>
                <th md-column>
                    <span>{{jobHeaders[1].label}}</span>
                </th>
                <th md-column md-order-by="speed">
                    <span>{{jobHeaders[2].label}}</span>
                </th>
                <th md-column md-order-by="jobNo">
                    <span>{{jobHeaders[3].label}}</span>
                </th>
                <th md-column md-order-by="client">
                    <span>{{jobHeaders[4].label}}</span>
                </th>
                <th md-column md-order-by="from">
                    <span>{{jobHeaders[5].label}}</span>
                </th>
                <th md-column md-order-by="to">
                    <span>{{jobHeaders[6].label}}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr class="droppable-row draggable-row" data-jobno="{{job.jobNo}}"
                md-dense
                md-row
                ng-click="selectJobDetail(job.id)"
                data-courier="{{job.courier}}"
                data-jobid="{{job.id}}"
                ng-repeat="job in jobList | filter: box.searchBox | orderBy: jobQuery.order | limitTo: jobQuery.limit : (jobQuery.page - 1) * jobQuery.limit">

                <td md-cell>{{job.booked | date: "dd/MM/yy HH:mm"}}</td>
                <td class="status" md-cell ng-class="job.status">{{job.status}}</td>
                <td md-cell>{{job.speed}}</td>
                <td md-cell>{{job.jobNo}}</td>
                <td md-cell>{{job.client}}</td>
                <td md-cell>
                    {{isUsCustomer ? job.pickupAddress.addressLine5 + ', ' + job.pickupAddress.addressLine6 : job.from}}
                    <md-tooltip md-direction="bottom">{{ job.pickupAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.pickUpLongitude">warning</md-icon>
                </td>
                <td md-cell>
                    {{isUsCustomer ? job.deliveryAddress.addressLine5 + ', ' + job.deliveryAddress.addressLine6 : job.to}}
                    <md-tooltip md-direction="bottom">{{ job.deliveryAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.deliveryLongitude">warning</md-icon>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-limit="jobQuery.limit"
            md-limit-options="[5, 10, 25, 50]"
            md-on-paginate="jobPageChanged"
            md-page="jobQuery.page"
            md-page-select
            md-total="{{totalCount}}">
    </md-table-pagination>
</div>
