<div class="droppable-box" style="min-height:500px">
    <md-table-container>
        <table md-dense md-progress="preBookPromise" md-table>
            <thead md-head md-on-reorder="orderList('pbList', preBookQuery.order)" md-order="preBookQuery.order">
            <tr md-row>
                <th md-column md-order-by="booked">
                    <span>Booked</span>
                </th>
                <th md-column md-order-by="speed">
                    <span>Speed</span>
                </th>
                <th md-column md-order-by="jobNo">
                    <span>Job</span>
                </th>
                <th md-column md-order-by="client">
                    <span>Client</span>
                </th>
                <th md-column md-order-by="from">
                    <span>From</span>
                </th>
                <th md-column md-order-by="to">
                    <span>To</span>
                </th>
                <th md-column md-order-by="code">
                    <span>Code</span>
                </th>
                <th md-column>
                    <span>Actions</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr class="droppable-row draggable-row"
                md-dense
                data-courier="{{job.courier}}"
                data-jobNo="{{job.jobNo}}"
                data-jobid="{{job.id}}"
                md-row
                ng-mouseup="selectPreBookDetail(job.id)"
                ng-repeat="job in pbList | filter: box.searchBox | orderBy: preBookQuery.order | limitTo: preBookQuery.limit : (preBookQuery.page - 1) * preBookQuery.limit">

                <td md-cell>{{job.booked | date: "dd/MM/yy HH:mm"}}</td>
                <td md-cell>{{job.speed}}</td>
                <td md-cell>{{job.jobNo}}</td>
                <td md-cell ng-click="clientColumnClick($event); $event.stopPropagation()">{{job.client}}</td>
                <td md-cell>
                    {{isUsCustomer ? job.pickupAddress.addressLine5 + ' ' + job.pickupAddress.addressLine6 : job.from}}
                    <md-tooltip md-direction="bottom">{{ job.pickupAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.pickUpLongitude">warning</md-icon>
                </td>
                <td md-cell>
                    {{isUsCustomer ? job.deliveryAddress.addressLine5 + ' ' + job.deliveryAddress.addressLine6 : job.to}}
                    <md-tooltip md-direction="bottom">{{ job.deliveryAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.deliveryLongitude">warning</md-icon>
                </td>
                <td md-cell>{{job.courier}}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="sendPrebookJob(job.id); $event.stopPropagation()"
                               title="Send">
                        <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="voidPrebookJob(job.id); $event.stopPropagation()"
                               title="Void">
                        <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-limit="preBookQuery.limit"
            md-limit-options="[5, 10, 25, 50]"
            md-on-paginate="preBookPageChanged"
            md-page="preBookQuery.page"
            md-page-select
            md-total="{{pbTotalCount}}">
    </md-table-pagination>

    <no-data
            ng-if="!preBookPromise && (!pbList || pbList.length === 0)"
            title="No Pre-Booked Jobs"
            message="There are currently no pre-booked jobs to display."
            icon="event_available"
            show-action="false">
    </no-data>
</div>
