<md-menu>
    <md-button
            aria-label="Open date filter menu"
            class="md-icon-button"
            ng-click="$mdMenu.open($event)">
        <md-icon md-font-set="material-symbols-outlined">calendar_today</md-icon>
        <md-tooltip md-direction="bottom">Date Filter</md-tooltip>
    </md-button>

    <md-menu-content class="date-filter-menu">
        <div md-prevent-menu-close>
            <!-- Professional Header -->
            <md-toolbar class="md-primary md-hue-2 date-filter-header">
                <div class="md-toolbar-tools">
                    <md-icon class="header-icon" md-font-set="material-symbols-outlined">date_range</md-icon>
                    <h3 class="md-title">Date Range Filter</h3>
                    <span flex></span>
                    <span class="timezone-label">{{::ctrl.timeZone | timezoneShort}}</span>
                </div>
            </md-toolbar>

            <div class="date-filter-content">
                <!-- Range Type Selection -->
                <div class="range-selection-section">
                    <md-radio-group
                            class="md-primary range-radio-group"
                            ng-change="ctrl.onSearchRangeChange(ctrl.dateSearchRange)"
                            ng-model="ctrl.dateSearchRange"
                            aria-label="Date range selection">
                        <md-radio-button value="1" class="range-option">
                            <span class="option-label">Last 24 Hours</span>
                        </md-radio-button>
                        <md-radio-button value="2" class="range-option">
                            <span class="option-label">Custom Date Range</span>
                        </md-radio-button>
                    </md-radio-group>
                </div>

                <!-- Custom Date Range Section -->
                <div class="custom-date-section" ng-if="ctrl.dateSearchRange == 2">
                    <md-divider class="section-divider"></md-divider>

                    <div class="date-picker-container" layout="column" layout-gt-xs="row" layout-align="space-between start">
                        <!-- From Date -->
                        <div flex class="date-picker-wrapper">
                            <label class="date-picker-label">
                                <md-icon class="date-icon dialog-icon" md-font-set="material-symbols-outlined">event</md-icon>
                                Start Date
                            </label>
                            <custom-date-picker
                                    date-time="ctrl.startDate"
                                    show-date="true"
                                    show-time="false"
                                    on-change="ctrl.onStartDateChange(dateTime)">
                            </custom-date-picker>
                        </div>

                        <!-- To Date -->
                        <div flex class="date-picker-wrapper">
                            <label class="date-picker-label">
                                <md-icon class="date-icon dialog-icon" md-font-set="material-symbols-outlined">event</md-icon>
                                End Date
                            </label>
                            <custom-date-picker
                                    date-time="ctrl.endDate"
                                    show-date="true"
                                    show-time="false"
                                    on-change="ctrl.onEndDateChange(dateTime)">
                            </custom-date-picker>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="ctrl.clearDateFilter()">
                        Reset to Default
                    </md-button>
                </div>
            </div>
        </div>
    </md-menu-content>
</md-menu>