<md-toolbar class="md-hue-1 md-whiteframe-2dp">
    <div class="md-toolbar-tools">
        <img alt="DFRNT" class="toolbar-logo" src="images/dfrnt_logo.png" ng-click="ctrl.openHubUrl()">
        <md-divider class="vertical-divider"></md-divider>
        <span class="md-title" ng-bind="ctrl.title"></span>

        <div flex></div>

        <!-- Transclude slot for custom action buttons -->
        <ng-transclude></ng-transclude>

        <md-divider class="vertical-divider"></md-divider>

        <span class="greeting-message" ng-bind="ctrl.greeting"></span>

        <md-button aria-label="Menu" class="md-icon-button" ng-mouseover="ctrl.toggleSidenav()">
            <md-icon md-font-set="material-symbols-outlined">menu</md-icon>
        </md-button>
    </div>
</md-toolbar>
<material-sidenav></material-sidenav>
