.job-note-editor-dialog {
  min-width: 500px;
  max-width: 800px;

  md-dialog-content {
    padding-top: 10px;
  }

  .note-metadata {
    margin-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.03);

    md-list-item {
      min-height: 40px;
    }

    .md-subheader {
      color: rgba(0, 0, 0, 0.54);
      background-color: transparent;
    }

    md-icon {
      margin-right: 16px;
      color: rgba(0, 0, 0, 0.54);
    }

    p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  md-checkbox {
    margin-bottom: 16px;
  }
}
