<md-dialog aria-label="{{::ctrl.title}}" class="job-note-editor-dialog">
    <form name="noteForm" ng-submit="ctrl.save()" novalidate>
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <md-icon class="popup-icon" md-font-set="material-symbols-outlined">sticky_note_2</md-icon>
                <h2>{{::ctrl.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button close-dialog-button" ng-click="ctrl.cancel()">
                    <md-icon md-font-set="material-symbols-outlined">close</md-icon>
                    <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="dialog-content">
            <div class="content-wrapper">
                <!-- Note Type Section -->
                <div class="form-section note-type-section">
                    <div class="section-header">
                        <h3 class="section-title">Note Type</h3>
                        <md-button class="md-icon-button add-type-button" ng-click="ctrl.toggleNoteTypeCreator()"
                                   aria-label="Add New Note Type">
                            <md-icon md-font-set="material-symbols-outlined">add_circle</md-icon>
                            <md-tooltip md-direction="bottom">Add New Note Type</md-tooltip>
                        </md-button>
                    </div>

                    <md-input-container class="md-block type-selector">
                        <label>Select Note Type</label>
                        <md-select ng-model="ctrl.model.noteTypeId" required>
                            <md-option ng-repeat="type in ctrl.noteTypes" ng-value="type.id">
                                {{type.text}}
                            </md-option>
                        </md-select>
                        <div ng-messages="noteForm.noteTypeId.$error" class="field-errors">
                            <div ng-message="required">Note type is required</div>
                        </div>
                    </md-input-container>

                    <!-- Note Type Description -->
                    <div ng-if="ctrl.getSelectedNoteType() && ctrl.getSelectedNoteType().description"
                         class="type-description-wrapper">
                        <md-button class="description-toggle-button"
                                   ng-click="ctrl.toggleDescription(ctrl.model.noteTypeId)"
                                   aria-label="Show Description">
                            <md-icon md-font-set="material-symbols-outlined">
                                {{ctrl.showDescriptionFor === ctrl.model.noteTypeId ? 'expand_less' : 'expand_more'}}
                            </md-icon>
                            <span>View Description</span>
                        </md-button>

                        <div ng-if="ctrl.showDescriptionFor === ctrl.model.noteTypeId" class="description-card"
                             ng-cloak>
                            <div class="description-content">
                                <p>{{::ctrl.getSelectedNoteType().description}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Public Note Warning -->
                    <div ng-if="ctrl.isSelectedNoteTypePublic()" class="alert alert-info">
                        <md-icon class="dialog-icon" md-font-set="material-symbols-outlined">visibility</md-icon>
                        <span>This is a public note that will be visible to clients</span>
                    </div>
                </div>

                <!-- Note Type Creator -->
                <div ng-if="ctrl.showNoteTypeCreator" class="form-section creator-section" ng-cloak>
                    <div class="creator-card">
                        <div class="creator-header">
                            <h3>Create New Note Type</h3>
                        </div>
                        <div class="creator-content">
                            <md-input-container class="md-block">
                                <label>Note Type Name</label>
                                <input ng-model="ctrl.newNoteType.text" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Description (Optional)</label>
                                <textarea
                                        ng-model="ctrl.newNoteType.description"
                                        md-maxlength="500"
                                        rows="3"
                                        placeholder="Provide a brief explanation of when to use this note type">
                                </textarea>
                            </md-input-container>

                            <div class="checkbox-wrapper">
                                <md-checkbox
                                        class="md-primary"
                                        ng-model="ctrl.newNoteType.isPublic"
                                        aria-label="Public Note Type">
                                    Is Public Note Type
                                </md-checkbox>
 
                                <div ng-if="ctrl.newNoteType.isPublic" class="alert alert-warning">
                                    <md-icon md-font-set="material-symbols-outlined">warning</md-icon>
                                    <span>Public note types are visible to clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="creator-actions">
                            <md-button class="cancel-button" ng-click="ctrl.toggleNoteTypeCreator()">Cancel</md-button>
                            <md-button class="md-primary md-raised create-button" ng-click="ctrl.createNoteType()"
                                       ng-disabled="ctrl.isCreatingNoteType">
                                <md-progress-circular ng-if="ctrl.isCreatingNoteType" md-mode="indeterminate"
                                                      md-diameter="18" class="button-spinner"></md-progress-circular>
                                <span>Create Note Type</span>
                            </md-button>
                        </div>
                    </div>
                </div>

                <!-- Note Content Section -->
                <div class="form-section note-content-section">
                    <h3 class="section-title">Note Content</h3>

                    <md-input-container class="md-block note-textarea">
                        <label for="note-content">Write your note</label>
                        <textarea id="note-content" ng-model="ctrl.model.noteText" required md-maxlength="1000" rows="6"
                                  placeholder="Enter your note content here..."></textarea>
                        <div ng-messages="noteForm.noteText.$error" class="field-errors">
                            <div ng-message="required">Note text is required</div>
                            <div ng-message="md-maxlength">Note cannot be longer than 1000 characters</div>
                        </div>
                    </md-input-container>

                    <div class="note-options">
                        <md-checkbox
                                ng-model="ctrl.model.isImportant"
                                aria-label="Mark as Important"
                                class="md-primary important-checkbox">
                            <md-icon md-font-set="material-symbols-outlined">priority_high</md-icon>
                            Mark as Important
                        </md-checkbox>
                    </div>
                </div>

                <!-- Metadata Section for existing notes -->
                <div ng-if="!ctrl.isNew" class="form-section metadata-section">
                    <h3 class="section-title">
                        <md-icon md-font-set="material-symbols-outlined">info</md-icon>
                        Note Information
                    </h3>

                    <div class="metadata-grid">
                        <div class="metadata-item">
                            <div class="metadata-icon">
                                <md-icon md-font-set="material-symbols-outlined">person</md-icon>
                            </div>
                            <div class="metadata-content">
                                <span class="metadata-label">Created by</span>
                                <span class="metadata-value">{{::ctrl.model.createdByName || 'System'}}</span>
                            </div>
                        </div>

                        <div ng-if="ctrl.model.createdDate" class="metadata-item">
                            <div class="metadata-icon">
                                <md-icon md-font-set="material-symbols-outlined">schedule</md-icon>
                            </div>
                            <div class="metadata-content">
                                <span class="metadata-label">Created on</span>
                                <span class="metadata-value">{{::ctrl.model.createdDate | momentFormat: 'MMM D, YYYY HH:mm:ss'}} ({{::ctrl.timeZone | timezoneShort}})</span>
                            </div>
                        </div>

                        <div ng-if="ctrl.model.updatedDate" class="metadata-item">
                            <div class="metadata-icon">
                                <md-icon md-font-set="material-symbols-outlined">update</md-icon>
                            </div>
                            <div class="metadata-content">
                                <span class="metadata-label">Last updated</span>
                                <span class="metadata-value">{{ctrl.model.updatedByName}} on {{ctrl.model.updatedDate | momentFormat: 'MMM D, YYYY HH:mm:ss'}} ({{::ctrl.timeZone | timezoneShort}})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions class="dialog-actions">
            <md-button class="cancel-action" ng-click="ctrl.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised save-action" type="submit"
                       ng-disabled="noteForm.$invalid || ctrl.isSubmitting">
                <md-progress-circular ng-if="ctrl.isSubmitting" md-mode="indeterminate" md-diameter="18"
                                      class="button-spinner"></md-progress-circular>
                <md-icon ng-if="!ctrl.isSubmitting" md-font-set="material-symbols-outlined">save</md-icon>
                <span>Save Note</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>