.event-dialog {
  min-width: 800px;
  width: 80%;
  max-width: 1200px;

  .md-dialog-content {
    padding: 0 24px;
  }

  md-table-container {
    width: 100%;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  md-input-container {
    margin: 0;
    width: 100%;
  }

  .md-errors-spacer {
    display: none;
  }

  md-autocomplete {
    height: 35px;
    width: 100%;
    margin: 0;

    input {
      height: 30px;
    }
  }

  md-checkbox {
    margin: 0;
  }

  th {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  tr {
    height: 60px;
  }

  td {
    padding: 0 12px;
  }

  .hidden-label-input .md-input-has-value label,
  .hidden-label-input .md-input-focused label {
    color: transparent;
  }
}
