<md-dialog aria-label="Events Table" class="event-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Task Groups Table</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-font-set="material-symbols-outlined">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-padding">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Task Type</th>
                            <th md-column>Group</th>
                            <th md-column>Sequence</th>
                            <th md-column>Due ({{::ctrl.browserTimeZone | timezoneShort}})</th>
                            <th md-column>Assign To</th>
                            <th md-column>Active</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="item in ctrl.events">
                            <td md-cell>{{::item.eventType.text}}</td>
                            <td md-cell md-truncate>{{::item.group}}</td>
                            <td md-cell>{{::item.sequence}}</td>
                            <td md-cell>
                                <md-input-container>
                                    <input mdc-datetime-picker
                                           date="true" time="true" type="text"
                                           id="datetimeedit"
                                           show-todays-date=""
                                           minutes="true"
                                           short-time="false"
                                           min-date="ctrl.minDate"
                                           max-date="ctrl.maxDate"
                                           edit-input="true"
                                           show-icon="true"
                                           ng-model="item.dueTime"
                                           name="datetimeedit"
                                           required
                                           class=" dtp-no-msclear dtp-input md-input">
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-autocomplete
                                        md-selected-item="item.assignTo"
                                        md-search-text="item.searchText"
                                        md-items="user in ctrl.querySearch(item.searchText, $index)"
                                        md-item-text="user.text"
                                        md-floating-label=""
                                        placeholder="Search User..."
                                        md-escape-options="clear"
                                        md-input-name="assignTo"
                                        md-autocomplete-enter-select
                                        md-no-asterisk="true"
                                        md-min-length="2"
                                        md-selected-item-change="ctrl.selectedUserChange(user, $index)">
                                    <md-item-template>
                                        <span md-highlight-text="item.searchText">{{user.text}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </td>
                            <td md-cell>
                                <md-checkbox ng-model="item.active" aria-label="Active"></md-checkbox>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <div ng-if="!ctrl.events || ctrl.events.length === 0" class="md-padding" layout="column" layout-align="center center">
                    <md-icon md-font-set="material-symbols-outlined" style="font-size: 30px; color: #9E9E9E;">event_busy</md-icon>
                    <h4 style="padding-top: 5px;">No task job types found</h4>
                    <p>Please add task types in the Admin Manager</p>
                    <md-button class="md-primary md-raised" ng-click="ctrl.goToAdminManager()" ng-disable="true">
                        <md-icon md-font-set="material-symbols-outlined">admin_panel_settings</md-icon>
                        Open Admin Manager
                    </md-button>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="ctrl.save(ctrl.jobId, ctrl.events)" ng-disabled="!ctrl.events || ctrl.events.length === 0">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
