<md-content class="md-dense home-view">
    <div>
        <md-toolbar class="md-hue-2 md-whiteframe-2dp">
            <div class="md-toolbar-tools">
                <img alt="DFRNT" class="toolbar-logo" src="images/dfrnt_logo.png" ng-click="ctrl.openHubUrl()">
                <md-divider class="vertical-divider"></md-divider>
                <span class="md-title">Dispatch Dashboard</span>

                <div flex></div>

                <md-button aria-label="Open messages window" class="md-icon-button"
                           ng-click="ctrl.openMessagingDialog($event)">
                    <md-icon md-font-set="material-symbols-outlined">sms</md-icon>
                    <span class="custom-badge"
                          ng-show="ctrl.unReadMessageCount > 0"
                          ng-class="{'large-count': ctrl.unReadMessageCount > 99}"
                          md-tooltip="{{ctrl.unReadMessageCount}} Unread Messages"
                          md-tooltip-direction="bottom">
        {{ ctrl.unReadMessageCount > 99 ? '99+' : ctrl.unReadMessageCount }}
    </span>
                    <md-tooltip md-direction="bottom">Messages</md-tooltip>
                </md-button>

                <md-menu>
                    <md-button
                            aria-label="Open date filter menu"
                            class="md-icon-button"
                            ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">calendar_today</md-icon>
                        <md-tooltip md-direction="bottom">Date</md-tooltip>
                    </md-button>
                    
                    <md-menu-content style="width: 300px; overflow: hidden;">
                        <div md-prevent-menu-close>
                            <md-toolbar class="md-hue-1" style="margin-top: -10px;">
                                <div class="md-toolbar-tools">
                                    <md-icon class="popup-icon" md-font-set="material-symbols-outlined">date_range
                                    </md-icon>
                                    <h2>Date Filter: ({{::ctrl.browserTimeZone | timezoneShort}})</h2>
                                    <span flex></span>
                                </div>
                            </md-toolbar>

                            <div class="md-padding">

                                <md-radio-group
                                        class="md-primary"
                                        ng-change="ctrl.onSearchRangeChange(ctrl.dateSearchRange)"
                                        ng-model="ctrl.dateSearchRange"
                                        aria-labelledby="dateRange"
                                        layout="row"
                                        layout-align="center center">
                                    <md-radio-button value="1">24 Hours</md-radio-button>
                                    <md-radio-button value="2">Custom</md-radio-button>
                                </md-radio-group>

                                <md-divider style="margin: 10px;"></md-divider>

                                <div layout="column" layout-align="center end" ng-if="ctrl.dateSearchRange == 2">
                                    <div>
                                        <label id="from-datepicker-header">From: </label>
                                        <md-datepicker md-date-locale="{ firstDayOfWeek: 1 }"
                                                       input-aria-describedby="from-datepicker-description"
                                                       input-aria-labelledby="from-datepicker-header "
                                                       md-placeholder="Enter date"
                                                       ng-model-options="{ debounce: 500 }"
                                                       ng-change="ctrl.getData()"
                                                       ng-model="ctrl.startDate"></md-datepicker>
                                        <p id="from-datepicker-description" style="display: none">
                                            Start date search
                                        </p>
                                    </div>

                                    <div>
                                        <label id="to-datepicker-header">To: </label>
                                        <md-datepicker md-date-locale="{ firstDayOfWeek: 1 }"
                                                       input-aria-describedby="to-datepicker-description"
                                                       input-aria-labelledby="to-datepicker-header "
                                                       md-placeholder="Enter date"
                                                       ng-model-options="{ debounce: 500 }"
                                                       ng-change="ctrl.getData()"
                                                       ng-model="ctrl.endDate"></md-datepicker>
                                        <p id="to-datepicker-description" style="display: none">
                                            End date search
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <md-button aria-label="Open views menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined" ng-if="ctrl.views">view_list</md-icon>
                        <md-tooltip md-direction="bottom">Views</md-tooltip>
                        <md-progress-circular md-diameter="18" md-mode="indeterminate"
                                              ng-if="!ctrl.views"></md-progress-circular>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-if="ctrl.views && ctrl.views.length === 0">
                            <p>No views available.</p>
                        </md-menu-item>
                        <md-menu-item ng-if="ctrl.views && ctrl.views.length > 0" ng-repeat="view in ctrl.views">
                            <md-checkbox
                                    aria-label="{{view.name}}"
                                    class="md-primary"
                                    ng-change="ctrl.toggleView(view)"
                                    ng-model="view.selected">
                                {{view.name}}
                            </md-checkbox>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <md-button aria-label="Open layout options menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">grid_view</md-icon>
                        <md-tooltip md-direction="bottom">Layouts</md-tooltip>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="ctrl.saveLayout()">
                                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                                Save Layout
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item ng-repeat="lo in ctrl.layouts track by $index">
                            <md-button>
                                <md-icon md-font-set="material-symbols-outlined" ng-click="ctrl.deleteLayout($index)"
                                         ng-if="lo.name != 'Default'">
                                    delete
                                </md-icon>
                                <md-icon md-font-set="material-symbols-outlined" ng-if="lo.name == 'Default'">
                                    tune
                                </md-icon>
                                <span ng-click="ctrl.loadLayout($index)"
                                      ng-style="lo.name == ctrl.currentLayoutName ? {'font-weight':'bold'} : {}">{{lo.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <md-button
                            aria-label="Open settings menu"
                            class="md-icon-button settings-trigger"
                            ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">settings</md-icon>
                        <md-tooltip md-direction="bottom">Settings</md-tooltip>
                    </md-button>

                    <md-menu-content class="settings-menu-content">
                        <div class="settings-container" md-prevent-menu-close>
                            <!-- Header -->
                            <md-toolbar class="md-hue-1" style="margin-top: -10px;">
                                <div class="md-toolbar-tools">
                                    <md-icon class="popup-icon" md-font-set="material-symbols-outlined">tune</md-icon>
                                    <h2>Settings</h2>
                                    <span flex></span>
                                </div>
                            </md-toolbar>

                            <!-- Settings Section -->
                            <div class="settings-section">
                                <label class="settings-label" id="refreshInterval">
                                    <md-icon md-font-set="material-symbols-outlined" class="popup-icon">
                                        timer
                                        <md-tooltip md-direction="bottom">Set how often the dashboard lists
                                            automatically refresh with new data
                                        </md-tooltip>
                                    </md-icon>
                                    Refresh Interval
                                </label>

                                <md-select
                                        ng-model="ctrl.selectedRefreshInterval"
                                        ng-change="ctrl.onRefreshIntervalChange(ctrl.selectedRefreshInterval)"
                                        aria-labelledby="refreshInterval"
                                        placeholder="Select interval"
                                        class="settings-select"
                                        md-container-class="settings-select-container">
                                    <md-option
                                            ng-repeat="option in ctrl.refreshIntervalOptions track by option.id"
                                            ng-value="option">
                                        {{option.text}}
                                    </md-option>
                                </md-select>

                                <!-- Status Indicator -->
                                <div class="status-indicator" ng-if="ctrl.selectedRefreshInterval">
                                    <div class="status-content">
                                        <div class="status-icon-wrapper">
                                            <md-icon
                                                    md-font-set="material-symbols-outlined"
                                                    ng-if="ctrl.isAutoRefreshActive()"
                                                    class="status-icon status-active">
                                                refresh
                                            </md-icon>
                                            <md-icon
                                                    md-font-set="material-symbols-outlined"
                                                    ng-if="!ctrl.isAutoRefreshActive()"
                                                    class="status-icon status-inactive">
                                                pause
                                            </md-icon>
                                        </div>
                                        <div class="status-text">
                                            <span class="status-label">Current Status:</span>
                                            <span class="status-value">{{ctrl.getCurrentRefreshIntervalText()}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-menu-content>
                </md-menu>

                <md-divider class="vertical-divider"></md-divider>

                <span class="greeting-message">{{ctrl.greeting}}</span>

                <md-button aria-label="Menu" class="md-icon-button" ng-mouseover="ctrl.toggleSidenav()">
                    <md-icon md-font-set="material-symbols-outlined">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <material-sidenav></material-sidenav>
    </div>

    <div ng-if="ctrl.isDataLoading">
        <md-progress-linear md-mode="indeterminate" class="md-primary" style="padding: 10px;"></md-progress-linear>
    </div>

    <div class="dashboard-padding">
        <div class="columns">
            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in ctrl.layout.columns"
                 r-directions="['right']" r-flex="true" resizable style="flex-basis: {{column.width}}">

                <!-- Add ui-sortable directive to the column-sortable div -->
                <div class="column-sortable" ui-sortable="ctrl.boxSortableOptions" ng-model="column.boxes">
                    <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                         r-directions="['bottom']" r-flex="true" resizable style="flex-basis: {{box.height}}">

                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">
                                <!--Icon-->
                                <span class="material-symbols-outlined">{{::ctrl.boxes[box.name].icon}}</span>

                                <span class="md-card-title" flex>
                                {{::ctrl.boxes[box.name].title}}
                                <span ng-if="::box.name == 'jobDetail'">{{ctrl.currentSelection}}</span>
                                <span ng-if="::box.name == 'potentialCouriers'">{{ctrl.potentialCouriersSelection}}</span>
                                <span ng-if="::box.name == 'currentWork' || box.name == 'map'">{{ctrl.currentWorkSelection}}</span>
                                <span ng-if="::box.name == 'supports'">{{ctrl.getActiveSupportFilterNames()}}</span>
                            </span>

                                <div flex></div>

                                <md-button class="md-icon-button" ng-click="ctrl.getData()"
                                           ng-if="::ctrl.boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                </md-button>

                                <!-- Detail Buttons-->
                                <div class="row-overflow"
                                     ng-if="ctrl.boxes[box.name].showDetailButtons && ctrl.currentJob">
                                    <md-fab-speed-dial class="md-scale"
                                                       md-direction="left"
                                                       md-open="ctrl.jobDetailFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="ctrl.jobDetailFabIsOpen=true"
                                                       ng-mouseleave="ctrl.jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button
                                                    ng-if="::ctrl.isDeliveryJob(ctrl.currentJob)"
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.addStopToJob($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Add Stop</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    pin_drop
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.showAdditionalServicesMenu($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Additional Services</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    add_shopping_cart
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.openFileAttachmentDialog($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Attachments</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    cloud_upload
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.otherEventForm($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Add Task</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    edit_calendar
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.closeSupport(ctrl.currentSupport);"
                                                       ng-disabled="!ctrl.currentSupport">
                                                <md-tooltip md-direction="bottom">Close Task</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    event_available
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.unlockJob(ctrl.currentJob)"
                                                       ng-if="ctrl.currentJob && (ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.lockJob(ctrl.currentJob)"
                                                       ng-if="ctrl.currentJob && (!ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.splitJob($event, ctrl.currentJob)"
                                                       ng-if="ctrl.currentJob && (ctrl.currentJob.allowSplit)">
                                                <md-tooltip md-direction="bottom">Split Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">shuffle</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini" ng-click="ctrl.swapPOD($event)"
                                                       ng-if="ctrl.currentJob && ctrl.currentJob.done && !ctrl.currentJob.bulkJob && !ctrl.currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Swap POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    swap_calls
                                                </md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <div class="row-overflow" ng-if="::box.name === 'driverLocations'">
                                    <md-menu>
                                        <md-button aria-label="truck mode" class="md-raised md-primary"
                                                   ng-click="$mdMenu.open($event)">
                                            Trucks <span>{{ctrl.truckMode}} </span>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.setTruckMode('On');">
                                                    On
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.setTruckMode('Off');">
                                                    Off
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.setTruckMode('Only');">
                                                    Only
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div ng-if="::box.name == 'supports'">
                                    <md-menu>
                                        <md-button aria-label="open staff support filter menu"
                                                   class="md-icon-button"
                                                   ng-click="$mdMenu.open($event)">
                                            <md-icon md-menu-origin md-font-set="material-symbols-outlined">
                                                person_apron
                                            </md-icon>
                                            <md-tooltip md-direction="bottom">Filter by Staff</md-tooltip>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item ng-if="ctrl.staffList && ctrl.staffList.length === 0">
                                                <p>No staff.</p>
                                            </md-menu-item>

                                            <md-menu-item ng-if="ctrl.staffList && ctrl.staffList.length > 0">
                                                <md-button ng-click="ctrl.filterByStaff('all')"
                                                           ng-class="{'md-primary': ctrl.staffFilter === 'all'}">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    All Staff
                                                </md-button>
                                            </md-menu-item>

                                            <md-menu-divider
                                                    ng-if="ctrl.staffList && ctrl.staffList.length > 0"></md-menu-divider>

                                            <md-menu-item ng-repeat="staff in ctrl.staffList">
                                                <md-button ng-click="ctrl.filterByStaff(staff)"
                                                           ng-class="{'md-primary': ctrl.staffFilter === staff.id.toString()}">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    {{ staff.text }}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>

                                    <md-menu>
                                        <md-button aria-label="open event types filter menu"
                                                   class="md-icon-button"
                                                   ng-click="$mdMenu.open($event)">
                                            <md-icon md-menu-origin md-font-set="material-symbols-outlined">category
                                            </md-icon>
                                            <md-tooltip md-direction="bottom">Filter by Event Type</md-tooltip>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item
                                                    ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length === 0">
                                                <p>No event types.</p>
                                            </md-menu-item>

                                            <md-menu-item ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length > 0">
                                                <md-button ng-click="ctrl.filterBySupportType('all')"
                                                           ng-class="{'md-primary': ctrl.eventTypeFilter === 'all'}">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    All Task Types
                                                </md-button>
                                            </md-menu-item>

                                            <md-menu-divider
                                                    ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length > 0"></md-menu-divider>

                                            <md-menu-item ng-repeat="eventType in ctrl.eventTypesList">
                                                <md-button ng-click="ctrl.filterBySupportType(eventType)"
                                                           ng-class="{'md-primary': ctrl.eventTypeFilter === eventType.id.toString()}">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    {{ eventType.text }}
                                                </md-button>
                                            </md-menu-item>

                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="box-handle md-icon-button">
                                    <md-icon class="md-drag-button" md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>
                            </div>
                        </md-toolbar>

                        <div class="box-content" ng-include="ctrl.boxes[box.name].templateUrl">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul active-icon="close" effect="slidein" mfb-menu position="bl" resting-icon="menu"
            template-url="ng-mfb-menu-md.tpl.html" toggling-method="hover">
            <mfb-button icon="add" label="Add New Job" ng-click="ctrl.createNewJob($event)"
                        template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
            <mfb-button icon="attach_money" label="Inter-Courier Charge" ng-click="ctrl.interCourierCharge($event)"
                        template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
        </ul>
    </div>

    <div id="draggingItems"></div>
</md-content>
