<div class="top-bar">
    <img src="/images/DFRNT-logo.png" class="logo" />

        <div class="btn-group" id="status-group" role="group">
            <button class="btn new btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'new'})"
                    type="button">
                New
            </button>
            <button class="btn nda btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'nda'})"
                    type="button">
                NDA
            </button>
            <button class="btn active btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'active'})"
                    type="button">Active
            </button>
            <button class="btn done btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'done'})"
                    type="button">
                Done
            </button>
            <button class="btn all btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'all'})"
                    type="button">
                All
            </button>
        </div>

        <div aria-label="Basic example" class="btn-group" id="area-group" ng-if="isInternal" role="group">
            <button class="btn city btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'city'})"
                    type="button">
                City
            </button>
            <button class="btn truck btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'truck'})"
                    type="button">
                Truck
            </button>
            <button class="btn main1 btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'main1'})"
                    type="button">
                Main1
            </button>
            <button class="btn main2 btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'main2'})"
                    type="button">
                Main2
            </button>
            <button class="btn central btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'central'})"
                    type="button">Central
            </button>
            <button class="btn shore btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'shore'})"
                    type="button">
                Shore
            </button>
            <button class="btn west btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'west'})"
                    type="button">
                West
            </button>
            <button class="btn remoteouter btn-sm btn-secondary"
                    ng-click="setFiltersFromTopBar({'area':'remote outer'})"
                    type="button">Remote Outer
            </button>
            <button class="btn remotecity btn-sm btn-secondary"
                    ng-click="setFiltersFromTopBar({'area':'remote city'})"
                    type="button">Remote City
            </button>
            <button class="btn remotecentral btn-sm btn-secondary"
                    ng-click="setFiltersFromTopBar({'area':'remote central'})"
                    type="button">Remote Central
            </button>
            <button class="btn regional btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'regional'})"
                    type="button">Regional
            </button>

        </div>

        <div class="topbar-NavButtons" role="navigation">
            <div class="btn btn-sm btn-nav topbar-button" ui-sref="home" ui-sref-active="topbar-active">Dispatch</div>
            <a class="btn btn-sm topbar-button" href="#/NW" target="_blank" ui-sref="nw" ui-sref-active="topbar-active">Nationwide</a>
            <a class="btn btn-sm topbar-button" href="#/CS" target="_blank" ui-sref="cs" ui-sref-active="topbar-active">POD/Search</a>
            <a class="btn btn-sm topbar-button" href="#/prebooks" target="_blank" ui-sref="prebooks"
               ui-sref-active="topbar-active">PreBooks</a>

        </div>

        <div class="btn-group box-search chat" ng-if="showChat">
            <i class="material-symbols-outlined small-icon" ng-click="openChat()">search</i>
            <i class="material-symbols-outlined small-icon" ng-click="chatBox = ''" title="Clear"></i>
            <input ng-model="chatBox" ng-model-options="{debounce: 300}" placeholder="Chat to..." type="text">
        </div>

        <div class="topbar-buttons">
            <span ng-if="!isInternal" style="color:white;">Clients:</span>
            <div class="multi-element btn-sm topbar-active" disabled="false"
                 extra-settings="pickService.settings"
                 ng-dropdown-multiselect=""
                 ng-if="!isInternal" option="pickClients" selected-model="pickService.clients"
                 style="display: inline-block; margin-top: -5px; padding-left: 0; padding-right: 50px;">
            </div>

            <div style="display: flex; align-items: center;">
                <div class="btn topbar-button" style="color: white;">
                    <span>{{greetUser()}}</span>
                </div>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open layout options menu"
                               class="md-fab md-mini md-primary"
                               ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">widgets</md-icon>
                        <md-tooltip md-direction="bottom">Layouts</md-tooltip>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="saveLayout()">
                                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                                Save Layout
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-repeat="lo in layouts track by $index">
                            <md-button>
                                <md-icon md-font-set="material-symbols-outlined"
                                         ng-click="deleteLayout($index)">
                                    delete
                                </md-icon>
                                <span ng-click="loadLayout($index)"
                                      ng-style="lo.name == currentLayoutName ? {'font-weight':'bold'} : {}">{{lo.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>

    <div class="">
        <div class="columns">

            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in layout.columns"
                 r-directions="['right']"
                 r-flex="true" resizable style="flex-basis: {{column.width}}">
                <div class="column-sortable" ng-model="column.boxes" ui-sortable="sortableOptions">
                    <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                         r-directions="['bottom']"
                         r-flex="true" resizable style="flex-basis: {{box.height}}">

                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">

                                <span class="md-headline-title" flex>{{boxes[box.name].title}}
                                          <span ng-if="box.name == 'jobDetail'">{{currentSelection}}</span>
                            <span ng-if="box.name == 'jobGroups'">{{groupJobsSelection}}</span>
                            <span ng-if="box.name == 'supports'"> ({{supportChannel}})</span>
                            <span ng-if="box.name == 'potentialCouriers'">{{potentialCouriersSelection}}</span>
                            <span ng-if="box.name == 'currentWork' || box.name == 'map'">{{currentWorkSelection}}</span>
                            <span ng-repeat="jo in currentJob.relatedJobs"
                                  ng-if="box.name == 'jobDetail' && currentJob.relatedJobs.length > 1">&nbsp;<span
                                    ng-click="loadRelatedJobDetail(jo.id, jo.label)"
                                    ng-style="currentJob.id == jo.id ? {'font-weight':'bold', 'color':'#fddd00'} : {'font-weight':'normal'}"
                                    style="cursor:pointer;text-decoration:underline;">{{jo.label}}</span>
                                    </span>
                                </span>

                                <md-button class="md-icon-button md-primary" ng-click="getData()"
                                           ng-if="boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                </md-button>

                                <!-- Courier Card Buttons-->
                                <div class="row-overflow" ng-if="box.name === 'currentWork' && currentCourier">
                                    <md-fab-speed-dial class="md-scale" md-direction="left"
                                                       md-open="courierListFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="courierListFabIsOpen=true"
                                                       ng-mouseleave="courierListFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="truckLoadingStatus($event)"
                                                       ng-if="truckCourierStatus.length > 0">
                                                <md-tooltip md-direction="bottom">Truck Loading Status</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">local_shipping
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="restoreAll($event)">
                                                <md-tooltip md-direction="bottom">Restore All</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="redispatchAll($event)">
                                                <md-tooltip md-direction="bottom">Redispatch All</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">repeat</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="resendAll($event)">
                                                <md-tooltip md-direction="bottom">Resend All Jobs</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="messageClick($event, currentJob)">
                                                <md-tooltip md-direction="bottom">Send Message</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">sms</md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <!-- Detail Buttons-->
                                <div class="row-overflow"
                                     ng-if="boxes[box.name].showDetailButtons && currentJob">
                                    <md-fab-speed-dial class="md-scale" md-direction="left"
                                                       md-open="jobDetailFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="jobDetailFabIsOpen=true"
                                                       ng-mouseleave="jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="showAdditionalServicesMenu($event, currentJob)">
                                                <md-tooltip md-direction="bottom">Additional Services</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">add_shopping_cart
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="otherEventForm($event, currentJob)">
                                                <md-tooltip md-direction="bottom">Add Event</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">edit_calendar
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="closeSupport(currentSupport);"
                                                       ng-disabled="!currentSupport">
                                                <md-tooltip md-direction="bottom">Close Event</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">event_available
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="unlockJob(currentJob)"
                                                       ng-if="currentJob && (currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="lockJob(currentJob)"
                                                       ng-if="currentJob && (!currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="splitJob($event, currentJob)"
                                                       ng-if="currentJob && (currentJob.allowSplit)">
                                                <md-tooltip md-direction="bottom">Split Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">shuffle</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="swapPOD($event)"
                                                       ng-if="currentJob && currentJob.done && !currentJob.bulkJob && !currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Swap POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">swap_calls
                                                </md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <!-- Courier Search-->
                                <div layout="row" ng-if="box.name === 'jobsList'">
                                    <md-autocomplete
                                            md-input-name="courierSearch"
                                            class="fixed-size-autocomplete"
                                            md-autoselect
                                            md-select-on-focus
                                            md-escape-options="clear"
                                            md-item-text="item.text"
                                            md-items="item in courierSearch(courierSearchText)"
                                            md-min-length="1"
                                            md-search-text="courierSearchText"
                                            md-selected-item="selectedCourier"
                                            md-selected-item-change="selectedCourierChange(item)"
                                            ng-click="onCourierSearchClick($event)"
                                            placeholder="Search Courier...">
                                        <md-item-template>
            <span md-highlight-flags="^i"
                  md-highlight-text="courierSearchText">{{item.text}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No couriers matching "{{courierSearchText}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>

                                <div class="row-overflow" ng-if="box.name === 'clearLists'">
                                    <md-menu>
                                        <md-button aria-label="truck mode" class="md-raised md-accent"
                                                   ng-click="$mdMenu.open($event)">
                                            Trucks <span>{{truckMode}} </span>
                                        </md-button>
                                        <md-menu-content class="md-dense">
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('On');">
                                                    On
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('Off');">
                                                    Off
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('Only');">
                                                    Only
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="row-overflow" layout="row" ng-if="box.name === 'map'">
                                    <div class="switch-container">
                                        <md-switch class="md-primary" ng-model="areaListCity"
                                                   ng-if="box.name === 'clearLists'">
                                            City
                                        </md-switch>
                                        <md-switch class="md-primary" ng-change="getAvailableCourierLocation()"
                                                   ng-if="box.name === 'map'" ng-model="allCouriers.display">
                                            All
                                        </md-switch>
                                        <md-switch class="md-primary" ng-change="storeMapZoomDisplay()"
                                                   ng-model="mapZoom.display" ng-show="box.name === 'map'">
                                            Auto Zoom
                                        </md-switch>
                                        <md-switch class="md-primary" ng-change="getAvailableCourierLocation()"
                                                   ng-if="box.name === 'map'" ng-model="allCouriers.includeUA">
                                            Include UA
                                        </md-switch>
                                    </div>
                                </div>

                                <div class="row-overflow" id="box-{{box.name}}-{{$index}}" layout="row"
                                     ng-if="boxes[box.name].showSearch">
                                    <md-button aria-label="open search" class="md-icon-button"
                                               ng-click="openSearch(box.name, $index)">
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="!showInput[box.name + '-' + $index]">search
                                        </md-icon>
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="showInput[box.name + '-' + $index]">close
                                        </md-icon>
                                    </md-button>

                                    <md-autocomplete
                                            md-autoselect
                                            md-escape-options="clear"
                                            md-item-text="item.text"
                                            md-items="item in jobRecordSearch(jobRecordSearchText)"
                                            md-min-length="1"
                                            md-search-text="jobRecordSearchText"
                                            md-selected-item="selectedJobRecord"
                                            md-selected-item-change="JobRecordSelected(item.id)"
                                            ng-if="showInput[box.name + '-' + $index]"
                                            placeholder="Search by job number...">
                                        <md-item-template>
                                            <span md-highlight-flags="^i"
                                                  md-highlight-text="jobRecordSearchText">{{item.text}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No jobs matching "{{jobRecordSearchText}}" were found. Please check the
                                            POD page.
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>

                                <div class="box-handle md-icon-button">
                                    <md-icon class="md-drag-button" md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>

                            </div>
                        </md-toolbar>

                        <div class="box-content"
                             ng-class="{'related-content':box.name == 'jobDetail' && currentJob.relatedJobs.length > 4}"
                             ng-include="boxes[box.name].tpl"></div>
                    </div>
                </div>
            </div>
        </div>

        <ul active-icon="close"
            effect="slidein"
            mfb-menu
            position="bl"
            resting-icon="menu"
            template-url="ng-mfb-menu-md.tpl.html"
            toggling-method="hover">
            <mfb-button
                    icon="add"
                    label="Add New Job"
                    ng-click="createNewJob($event)"
                    template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
            <mfb-button
                    icon="attach_money"
                    label="Inter-Courier Charge"
                    ng-click="interCourierCharge($event)"
                    template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
        </ul>

    </div>

    <div id='draggingItems'></div>
</div>

<script>
    document.onkeydown = overrideKeyboardEvent;
    document.onkeyup = overrideKeyboardEvent;
    var keyIsDown = {};

    function overrideKeyboardEvent(e) {
        switch (e.type) {
            case "keydown":
                if (!keyIsDown[e.keyCode]) {
                    keyIsDown[e.keyCode] = true;
                }
                break;
            case "keyup":
                delete (keyIsDown[e.keyCode]);
                // do key up stuff here
                break;
        }
        disabledEventPropagation(e);
        if (e.keyCode === 68 && e.ctrlKey) {
            e.preventDefault();
            return false;
        }
    }

    function disabledEventPropagation(e) {
        if (e.keyCode === 68 && e.ctrlKey) {
            if (e.stopPropagation) {
                e.stopPropagation();
            } else if (window.event) {
                window.event.cancelBubble = true;
            }
        }
    }


    angular.element(document).on('keydown', '.dispatchField, .lateCallField', function (event) {
        if (event.keyCode === 13) {
            angular.element(this).parents(".clickable-row").addClass("doing");
        }
    });

    angular.element(document).on('click', '.top-bar .btn-group .btn', function (event) {
        if (!event.ctrlKey && !event.metaKey) {
            angular.element(this).parent().find('.topBarActive').removeClass('topBarActive');
        }

        angular.element(this).addClass('topBarActive');
    });

    angular.element(document).on('click', '.clearLists-list-title', function (event) {
        if (!event.ctrlKey && !event.metaKey) {
            angular.element("#clearLists").find('.listActive').removeClass('listActive');
        }

        angular.element(this).addClass('listActive');
    });


    angular.element(document).ready(function () {

        var isDown = false;   // Tracks status of mouse button

        angular.element(document).mousedown(function () {
            isDown = true;      // When mouse goes down, set isDown to true
        })
            .mouseup(function () {
                isDown = false;    // When mouse goes up, set isDown to false
            });

        angular.element(document).on("mouseenter", ".activeTable .clickable-row", function (event) {

            if (event.ctrlKey) {
                if (isDown) {        // Only change css if mouse is down
                    angular.element(this).addClass("active");
                    angular.element(this).siblings(".test").click();
                }
            }
        });


    });


    var mouseDown = 0;

    angular.element(document).on('mousedown', '.clickable-row', function (event) {

        if (angular.element(".activeTable .clickable-row.active").length > 1) {
            var jobNo = angular.element(".activeTable .clickable-row.active").length + " Jobs";
        } else {
            var jobNo = angular.element(this).attr("data-jobno");
        }


        if (mouseDown === 0) {
            mouseDown = 1;

            if (event.which === 1) {
                if (event.ctrlKey) {
                    if (angular.element(this).hasClass("active")) {
                        angular.element(this).removeClass('active');
                    } else {
                        angular.element(this).addClass('active');
                    }
                } else {
                    if (!angular.element(this).hasClass("active")) {

                        var group = angular.element(this).parents(".table-rows").attr("data-group");
                        angular.element('*[data-group="' + group + '"]').each(function () {
                            angular.element(this).find('.active').removeClass('active');
                        });

                        angular.element(this).addClass('active');
                    }
                }

                angular.element(".activeTable").removeClass("activeTable");
                angular.element(this).parents(".table").addClass("activeTable");
            }

            if (!event.ctrlKey) {
                if (angular.element(this).hasClass("draggable-row")) {

                    if (!angular.element(this).hasClass("active")) {

                        var group = angular.element(this).parents(".table-rows").attr("data-group");
                        angular.element('*[data-group="' + group + '"]').each(function () {
                            angular.element(this).find('.active').removeClass('active');
                        });
                        angular.element(this).addClass('active');

                    }
                    setTimeout(function () {
                        if (mouseDown === 1) {
                            angular.element("#draggingItems").show();
                            angular.element("#draggingItems").html(jobNo);

                            angular.element("#draggingItems").css({"top": event.pageY - 25, "left": event.pageX - 50});
                            angular.element("#draggingItems").draggable();
                            angular.element("#draggingItems").trigger(event);
                        }
                    }, 200);
                }
            }

        }

    });

    angular.element(document).on('mouseup', '.clickable-row', function (event) {
        if (event.which === 3) {

            angular.element(".rightActiveTable").removeClass("rightActiveTable");
            angular.element(this).parents(".table").addClass("rightActiveTable");
        }
        if (!event.ctrlKey) {

            if (angular.element(this).hasClass("active")) {
            } else {
                var group = angular.element(this).parents(".table-rows").attr("data-group");

                angular.element('*[data-group="' + group + '"]').each(function () {
                    angular.element(this).find('.active').removeClass('active');
                });
                angular.element(this).addClass('active');
            }

        }

    });


    angular.element(document).on("mouseup", function (ev) {
        angular.element("#draggingItems").hide();
        mouseDown = 0;
    });

    angular.element(document).on("keydown", function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code === 40) {
            angular.element(".activeTable").find(".active").removeClass("active").next().addClass("active").mouseup().click();
        } else if (code === 38) {
            angular.element(".activeTable").find(".active").removeClass("active").prev().addClass("active").mouseup().click();
        }
    });

    function sizeHeadings(ele) {

        angular.element("body").find(".box").each(function () {
            var box = angular.element(this);
            box.find(".table-headings thead tr th").each(function (index) {
                var newWidth = box.find(".table tbody tr td").eq(index).outerWidth();
                angular.element(this).outerWidth(newWidth);
            });
            box.find(".table-headings table").width(box.find(".table").width());
        });

        var height = angular.element("#box-clearLists").find(".box-content").height() - 30;

        angular.element(".clearLists-list").each(function () {
            var newHeight = angular.element(this).data("height") * height / 100;
            angular.element(this).height(newHeight);
        });
    }
</script>
