<div class="box-content" ng-if="!isDeliveryJob()">
    <!-- State 1: No Current Job Selected -->
    <div class="no-data" ng-if="!currentJob">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                Please select a job to view available flights.
            </div>
        </div>
    </div>

    <!-- State 2: Job Has Assigned Flight -->
    <div class="no-data" ng-if="currentJob && currentJob.assignedFlight">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                A flight has already been assigned to this job. This can be found in the job details widget.
            </div>
        </div>
    </div>

    <!-- State 3: Missing Airport Information -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && (!currentJob.toAirportId || !currentJob.fromAirportId)">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">local_airport</md-icon>
            </div>
            <div class="text">
                Airport information not applicable or not provided for this job. If needed, please update the job
                details with relevant airport data.
            </div>
        </div>
    </div>

    <!-- State 4: Loading Flights -->
    <div class="loader-container"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && flightsLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">flight</md-icon>
            </div>
        </div>
    </div>

    <!-- State 5: Flight Error -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && flightError">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">error</md-icon>
            </div>
            <div class="text">
                {{flightError}}
            </div>
        </div>
    </div>

    <!-- State 6: No Flights Available -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && !flightError && flightOptions.length === 0">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                {{flightMessage || 'No flights available for the specified criteria.'}}
            </div>
        </div>
    </div>

    <!-- State 7: Flight List -->
    <div ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && !flightError && flightOptions.length > 0">
        <div class="job-list-container">
            <div class="table-headings sticky-header">
                <table>
                    <thead class="thead-dark no select">
                    <tr>
                        <th ng-click="orderList('flightList','airline')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'airline'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'd-airline'">arrow_drop_up</i>Airline
                        </th>
                        <th ng-click="orderList('flightList','flightNumber')" scope="col">
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'flightNumber'">arrow_drop_down</i>
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'd-flightNumber'">arrow_drop_up</i>Flight
                            No
                        </th>
                        <th ng-click="orderList('flightList', 'departureTime')" scope="col">
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'departureTime'">arrow_drop_down</i>
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'd-departureTime'">arrow_drop_up</i>Date
                        </th>
                        <th ng-click="orderList('flightList', 'departureTime')" scope="col">
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'departureTime'">arrow_drop_down</i>
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'd-departureTime'">arrow_drop_up</i>D
                        </th>
                        <th ng-click="orderList('flightList','arrivalTime')" scope="col">
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'arrivalTime'">arrow_drop_down</i>
                            <i class="material-symbols-outlined" ng-if="sort.flightList == 'd-arrivalTime'">arrow_drop_up</i>A
                        </th>
                        <th ng-click="orderList('flightList','duration')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'duration'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'd-duration'">arrow_drop_up</i>Duration
                        </th>
                        <th ng-click="orderList('flightList','stops')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'duration'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'd-duration'">arrow_drop_up</i>Stops
                        </th>
                        <th ng-click="orderList('flightList','amount')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'amount'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'd-amount'">arrow_drop_up</i>Rate
                        </th>
                        <th ng-click="orderList('flightList','aircraft')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'aircraft'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.flightList == 'd-aircraft'">arrow_drop_up</i>Aircraft
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <table class="table table-responsive table-rows" data-group="flightsGroup" id="flightList">
                <tbody>
                <tr class="clickable-row noselect"
                    ng-click="addFlightToJob($event, flight, currentJob)"
                    ng-repeat="flight in flightOptions | filter: box.searchBox">
                    <td>{{flight.airline}}</td>
                    <td>{{flight.flightNumber}}</td>
                    <td>{{flight.departureTime | date: "MM/dd/yyyy"}}</td>
                    <td>{{flight.departureTime | date: "HH:mm"}}</td>
                    <td>{{flight.arrivalTime | date: "HH:mm"}}</td>
                    <td>{{flight.duration | date: "H:mm"}}</td>
                    <td>{{flight.stops === 0 ? 'D' : flight.stops}}</td>
                    <td>{{flight.amount}}</td>
                    <td>{{flight.aircraft}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="box-content" ng-if="isDeliveryJob()">
    <!-- State 1: No Current Job Selected -->
    <div class="no-data" ng-if="!currentJob">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                Please select a job to view available agents.
            </div>
        </div>
    </div>

    <!-- State 2: Job Has Assigned Agent -->
    <div class="no-data" ng-if="currentJob && currentJob.assignedAgent">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                An agent has already been assigned to this job. This can be found in the job details widget.
            </div>
        </div>
    </div>

    <!-- State 3: Not a Delivery Job -->
    <div class="no-data" ng-if="currentJob && !currentJob.assignedAgent && !isDeliveryJob()">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                Agent information is not applicable for this job. This section is only relevant for delivery jobs.
            </div>
        </div>
    </div>

    <!-- State 4: Loading Agents -->
    <div class="loader-container" ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && agentsLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">handyman</md-icon>
            </div>
        </div>
    </div>

    <!-- State 5: Agent Error -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && agentError">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">error</md-icon>
            </div>
            <div class="text">
                {{agentError}}
            </div>
        </div>
    </div>

    <!-- State 6: No Agents Available -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && !agentError && agentOptions.length === 0">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                {{agentMessage || 'No agents available for the specified criteria.'}}
            </div>
        </div>
    </div>

    <!-- State 7: Agent List -->
    <div ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && !agentError && agentOptions.length > 0">
        <div class="job-list-container">
            <div class="table-headings sticky-header">
                <table>
                    <thead class="thead-dark no select">
                    <tr>
                        <th ng-click="orderList('agentList','agentName')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.agentList == 'agentName'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.agentList == 'd-agentName'">arrow_drop_up</i>Agent Name
                        </th>
                        <th ng-click="orderList('agentList','agentRate')" scope="col">
                            <i class="material-symbols-outlined"
                               ng-if="sort.agentList == 'agentRate'">arrow_drop_down</i>
                            <i class="material-symbols-outlined"
                               ng-if="sort.agentList == 'd-agentRate'">arrow_drop_up</i>Rate
                        </th>
                        <th ng-click="orderList('agentList', 'agentRanking')" scope="col">
                            <i class="material-symbols-outlined" ng-if="sort.agentList == 'agentRanking'">arrow_drop_down</i>
                            <i class="material-symbols-outlined" ng-if="sort.agentList == 'd-agentRanking'">arrow_drop_up</i>Ranking
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                </table>
            </div>


            <table class="table table-responsive table-rows" data-group="agentGroup" id="agentList">
                <tbody>
                <tr class="clickable-row draggable-row noselect"
                    ng-repeat="agent in agentOptions | filter: box.searchBox">
                    <td>{{agent.agentName}}</td>
                    <td>{{agent.agentRate}}</td>
                    <td>{{agent.agentRanking}}</td>
                    <td ng-click="" style="width:20px;" title="Send Quote Request">
                        <i class="material-symbols-outlined job-table-icon">request_quote</i>
                    </td>
                    <td ng-click="addAgentToJob($event, agent, currentJob)" style="width:20px;" title="Assign Job">
                        <i class="material-symbols-outlined job-table-icon">add</i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
