<div class="box-content nationwide-job-list" ng-if="!isDeliveryJob()">
    <!-- State 1: No Current Job Selected -->
    <div class="no-data" ng-if="!currentJob">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                Please select a job to view available flights.
            </div>
        </div>
    </div>

    <!-- State 2: Job Has Assigned Flight -->
    <div class="no-data" ng-if="currentJob && currentJob.assignedFlight">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                A flight has already been assigned to this job. This can be found in the job details widget.
            </div>
        </div>
    </div>

    <!-- State 3: Missing Airport Information -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && (!currentJob.toAirportId || !currentJob.fromAirportId)">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">local_airport</md-icon>
            </div>
            <div class="text">
                Airport information not applicable or not provided for this job. If needed, please update the job
                details with relevant airport data.
            </div>
        </div>
    </div>

    <!-- State 4: Loading Flights -->
    <div class="loader-container"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && flightsLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">flight</md-icon>
            </div>
        </div>
    </div>

    <!-- State 5: Flight Error -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && flightError">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">error</md-icon>
            </div>
            <div class="text">
                {{flightError}}
            </div>
        </div>
    </div>

    <!-- State 6: No Flights Available -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && !flightError && flightOptions.length === 0">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">flight_takeoff</md-icon>
            </div>
            <div class="text">
                {{flightMessage || 'No flights available for the specified criteria.'}}
            </div>
            <div class="action-buttons" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="loadNextFlights()">
                    Load More Flights
                </md-button>
                <md-button class="md-raised" ng-click="loadNextDayFlights()">
                    Next Day
                </md-button>
            </div>
        </div>
    </div>

    <!-- State 7: Flight List -->
    <div ng-if="currentJob && !currentJob.assignedFlight && currentJob.toAirportId && currentJob.fromAirportId && !flightsLoading && !flightError && flightOptions.length > 0">
        <md-table-container>
            <table md-dense md-progress="flightListPromise" md-table ng-model="selectedFlight">
                <thead md-head md-order="flightTableQuery.order">
                <tr md-row>
                    <th md-column md-order-by="airline">Airline</th>
                    <th md-column md-order-by="flightNumber">Flight No</th>
                    <th md-column md-order-by="departureTime">Date</th>
                    <th md-column md-order-by="departureTime">D</th>
                    <th md-column md-order-by="arrivalTime">A</th>
                    <th md-column md-order-by="duration">Duration</th>
                    <th md-column md-order-by="stops">Stops</th>
                    <th md-column md-order-by="amount">Rate</th>
                    <th md-column md-order-by="aircraft">Aircraft</th>
                    <th md-column>Actions</th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row
                    md-dense
                    ng-repeat="flight in flightOptions | filter: box.searchBox | orderBy: flightTableQuery.order">
                    <td md-cell>{{flight.airline}}</td>
                    <td md-cell>{{flight.flightNumber}}</td>
                    <td md-cell>{{flight.departureTime | date: "MM/dd/yyyy"}}</td>
                    <td md-cell>{{flight.departureTime | date: "HH:mm"}}</td>
                    <td md-cell>{{flight.arrivalTime | date: "HH:mm"}}</td>
                    <td md-cell>{{flight.duration | date: "H:mm"}}</td>
                    <td md-cell>{{flight.stops === 0 ? 'D' : flight.stops}}</td>
                    <td md-cell>{{flight.amount}}</td>
                    <td md-cell>{{flight.aircraft}}</td>
                    <td class="actions" md-cell>
                        <span class="action-icon" ng-click="addFlightToJob($event, flight, currentJob)">
                            <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                            <md-tooltip md-direction="left">Assign Flight</md-tooltip>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <!-- Flight Table Footer Actions -->
        <div class="table-footer-actions" layout="row" layout-align="end center" layout-padding>
            <md-button class="md-raised md-primary" ng-click="loadNextFlights()">
                Load More Flights
            </md-button>
            <md-button class="md-raised" ng-click="loadNextDayFlights()">
                Next Day
            </md-button>
        </div>
    </div>
</div>

<div class="box-content nationwide-job-list" ng-if="isDeliveryJob()">
    <!-- State 1: No Current Job Selected -->
    <div class="no-data" ng-if="!currentJob">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                Please select a job to view available agents.
            </div>
        </div>
    </div>

    <!-- State 2: Job Has Assigned Agent -->
    <div class="no-data" ng-if="currentJob && currentJob.assignedAgent">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                An agent has already been assigned to this job. This can be found in the job details widget.
            </div>
        </div>
    </div>

    <!-- State 3: Not a Delivery Job -->
    <div class="no-data" ng-if="currentJob && !currentJob.assignedAgent && !isDeliveryJob()">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                Agent information is not applicable for this job. This section is only relevant for delivery jobs.
            </div>
        </div>
    </div>

    <!-- State 4: Loading Agents -->
    <div class="loader-container" ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && agentsLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">handyman</md-icon>
            </div>
        </div>
    </div>

    <!-- State 5: Agent Error -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && agentError">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">error</md-icon>
            </div>
            <div class="text">
                {{agentError}}
            </div>
        </div>
    </div>

    <!-- State 6: No Agents Available -->
    <div class="no-data"
         ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && !agentError && agentOptions.length === 0">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">engineering</md-icon>
            </div>
            <div class="text">
                {{agentMessage || 'No agents available for the specified criteria.'}}
            </div>
        </div>
    </div>

    <!-- State 7: Agent List -->
    <div ng-if="currentJob && !currentJob.assignedAgent && isDeliveryJob() && !agentsLoading && !agentError && agentOptions.length > 0">
        <md-table-container>
            <table md-dense md-progress="agentListPromise" md-table ng-model="selectedAgent">
                <thead md-head md-order="agentTableQuery.order">
                <tr md-row>
                    <th md-column md-order-by="agentName">Agent Name</th>
                    <th md-column md-order-by="agentRate">Rate</th>
                    <th md-column md-order-by="agentRanking">Ranking</th>
                    <th md-column>Actions</th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row
                    md-dense
                    ng-repeat="agent in agentOptions | filter: box.searchBox | orderBy: agentTableQuery.order">
                    <td md-cell>{{agent.agentName}}</td>
                    <td md-cell>{{agent.agentRate}}</td>
                    <td md-cell>{{agent.agentRanking}}</td>
                    <td class="actions" md-cell>
                        <span class="action-icon" ng-click="sendQuoteRequest($event, agent, currentJob)">
                            <md-icon md-font-set="material-symbols-outlined">request_quote</md-icon>
                            <md-tooltip md-direction="left">Send Quote Request</md-tooltip>
                        </span>
                        <span class="action-icon" ng-click="addAgentToJob($event, agent, currentJob)">
                            <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                            <md-tooltip md-direction="left">Assign Job</md-tooltip>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
