<jobs-list
        ng-if="!ctrl.jobListLoading && (ctrl.jobList || ctrl.jobList.length > 0)"
        jobs="ctrl.jobList"
        selected-job="ctrl.currentJob"
        on-job-select="ctrl.handleJobSelection(job)"
        on-job-action="ctrl.handleJobAction(action, job, params)"
        get-context-menu-options="ctrl.getJobContextMenuOptions()"
        job-list-type="ctrl.nationwideJobList"
        query-params="ctrl.jobFilters">
</jobs-list>

<!-- No Data Message -->
<no-data
        ng-if="!ctrl.jobListLoading && (!ctrl.jobList || ctrl.jobList.length === 0)"
        title="No New Jobs Found"
        message="There are currently no new jobs to display."
        icon="new_releases"
        show-action="false">
</no-data>