<!-- Reprice List Component -->
<div class="droppable-box nationwide-job-list">
    <md-table-container>
        <table md-dense md-progress="ctrl.repriceListPromise" md-table ng-model="ctrl.selectedRepriceJob">
            <thead md-head md-on-reorder="ctrl.onReorderRepriceList" md-order="ctrl.jobRepriceFilters.order">
            <tr md-row>
                <th md-column md-order-by="time">Time</th>
                <th md-column md-order-by="speed">Speed</th>
                <th md-column md-order-by="jobNo">Job No</th>
                <th md-column md-order-by="client">Client</th>
                <th md-column md-order-by="from">From</th>
                <th md-column md-order-by="to">To</th>
                <th md-column md-order-by="courier">Dispatch</th>
                <th md-column md-order-by="pod">POD</th>
                <th md-column md-order-by="remain">Remain</th>
                <th md-column md-order-by="status">Status</th>
                <th md-column>Actions</th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row
                md-dense
                ng-repeat="job in ctrl.jobListReprice | filter: box.searchBox"
                ng-class="ctrl.jobClass(job)"
                ng-click="ctrl.selectJob(job)"
                data-jobid="{{job.id}}"
                data-jobno="{{job.jobNo}}"
                data-courier="{{job.courier}}"
                data-allowDispatch="{{job.allowDispatch}}"
                data-index="{{$index}}">

                <td md-cell>{{job.booked | date: (isUsCustomer ? "MM/dd/yyyy HH:mm" : "dd/MM/yyyy HH:mm")}}</td>
                <td md-cell ng-click="speedColumnClick($event)" right-click>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="job.fromAirportId || job.toAirportId">
                        {{ctrl.getFlightIcon(job.jobNo)}}
                    </md-icon>
                    <span ng-if="!job.fromAirportId && !job.toAirportId">{{job.speed}}</span>
                </td>
                <td context-menu="setEventsMenu($event)" md-cell>{{job.jobNo}}</td>
                <td md-cell ng-click="clientColumnClick($event)" right-click>{{job.client}}</td>
                <td md-cell ng-click="fromColumnClick($event)" right-click>
                    {{isUsCustomer ? job.pickupAddress.addressLine5 : job.from}}
                    <md-tooltip md-direction="bottom">{{ job.pickupAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.pickUpLongitude">warning</md-icon>
                </td>
                <td md-cell ng-click="toColumnClick($event)" right-click>
                    <span md-truncate>{{isUsCustomer ? job.deliveryAddress.addressLine5 : job.toAddress}}</span>
                    <md-tooltip md-direction="bottom">{{ job.deliveryAddress.fullAddress }}</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.deliveryLongitude">warning</md-icon>
                </td>
                <td md-cell>
                    <span ng-if="!job.assignedAgent.agentName && (!job.toAirportId || !job.fromAirportId)"
                          ng-style="ctrl.getJobStyle(job.courierData.courierID !== null)"
                          class="dispatch-field">
                        {{job.courier || "Enter courier..."}}
                    </span>

                    <span ng-if="!job.assignedAgent.agentName && job.toAirportId && job.fromAirportId"
                          ng-style="ctrl.getJobStyle(job.assignedFlight.flightNumber !== null)"
                          class="dispatch-field">
                        {{job.assignedFlight.flightNumber || "Flight"}}
                    </span>

                    <span ng-if="job.assignedAgent.agentName"
                          ng-style="ctrl.getJobStyle(job.assignedAgent.agentName !== null)"
                          class="dispatch-field">
                        {{job.assignedAgent.agentName || "Agent"}}
                    </span>
                </td>
                <td md-cell>{{job.pod}}</td>
                <td md-cell>
                    <span class="remain-time">{{job.remain}}</span>
                </td>

                <td md-cell>
                    <md-chip class="status {{job.statusName | lowercase | replace:' ':'-'}}">
                        {{job.status}}
                    </md-chip>
                </td>
                <td class="actions" md-cell>
                    <span class="action-icon" ng-click="createEvent($event, job); $event.stopPropagation();">
                        <md-icon md-font-set="material-symbols-outlined">calendar_add_on</md-icon>
                        <md-tooltip md-direction="bottom">Create Event</md-tooltip>
                    </span>
                    <span class="action-icon" ng-click="job.courier == null || ctrl.restoreJob(job); $event.stopPropagation();">
                        <md-icon md-font-set="material-symbols-outlined" ng-if="job.courier !== null">undo</md-icon>
                        <md-tooltip md-direction="bottom" ng-if="job.courier !== null">Restore</md-tooltip>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-limit="ctrl.jobRepriceFilters.limit"
            md-limit-options="[5, 10, 25, 50]"
            md-on-paginate="ctrl.onPaginateRepriceList"
            md-page="ctrl.jobRepriceFilters.page"
            md-page-select
            md-total="{{ctrl.totalRepriceCount}}">
    </md-table-pagination>

    <!-- No Data Message -->
    <no-data
            ng-if="!ctrl.repriceListLoading && (!ctrl.jobListReprice || ctrl.jobListReprice.length === 0)"
            title="No Repricing Jobs Found"
            message="There are currently no jobs that need repricing."
            icon="price_change"
            show-action="false">
    </no-data>
</div>
