<!-- Job List Delivery Component -->
<div class="job-list-container">
    <!-- Job List Delivery Table -->
    <div class="job-list-table" ng-if="!deliveryListLoading && jobListDelivery.length > 0">
        <!-- Table Headers -->
        <div class="table-headings sticky-header">
            <table>
                <thead class="thead-dark no-select">
                <tr>
                    <th ng-click="orderList('jobList', header.key)" ng-repeat="header in jobHeaders">
                        <i class="material-symbols-outlined job-table-icon"
                           ng-if="sort.jobList == header.key">arrow_drop_down</i>
                        <i class="material-symbols-outlined job-table-icon"
                           ng-if="sort.jobList == 'd-' + header.key">arrow_drop_up</i>
                        {{header.label}}
                    </th>
                    <th></th>
                    <th>E</th>
                    <th>R</th>
                </tr>
                </thead>
            </table>
        </div>

        <!-- Job List -->
        <table class="table table-responsive table-rows" data-group="jobsGroup" id="jobListDelivery">
            <tbody>
            <tr class="clickable-row noselect status"
                data-allowDispatch="{{job.allowDispatch}}"
                data-courier="{{job.courier}}"
                data-index="{{$index}}"
                data-jobid="{{job.id}}"
                data-jobno="{{job.jobNo}}"
                ng-class="jobClass(job)"
                ng-mouseup="selectJob(job)"
                ng-repeat="job in jobListDelivery | filter: box.searchBox">

                <td>{{job.booked | date: (isUsCustomer ? "MM/dd/yyyy HH:mm" : "dd/MM/yyyy HH:mm")}}</td>
                <td ng-click="speedColumnClick($event)"
                    ng-contextmenu="speedColumnClick($event)"
                    ng-mousedown="$event.button === 2 && $event.preventDefault()">
                    {{job.speed}}
                    <i class="material-symbols-outlined job-table-icon"
                       ng-if="job.fromAirportId || job.toAirportId">{{getFlightIcon(job.jobNo)}}</i>
                </td>
                <td context-menu="setEventsMenu($event)"
                    ng-click="$event.stopPropagation()"
                    ng-mousedown="$event.preventDefault(); $event.stopPropagation();">
                    {{job.jobNo}}
                </td>
                <td ng-click="clientColumnClick($event)"
                    ng-contextmenu="clientColumnClick($event)"
                    ng-mousedown="$event.button === 2 && $event.preventDefault()">{{job.client}}
                </td>
                <td class="address-cell"
                    ng-click="fromColumnClick($event)"
                    ng-contextmenu="fromColumnClick($event)"
                    ng-mousedown="$event.button === 2 && $event.preventDefault()">
                    {{isUsCustomer ? job.pickupAddress.addressLine5 : job.from}}
                </td>
                <td class="address-cell"
                    ng-click="toColumnClick($event)"
                    ng-contextmenu="toColumnClick($event)"
                    ng-mousedown="$event.button === 2 && $event.preventDefault()">
                    {{isUsCustomer ? job.deliveryAddress.addressLine5 : job.toAddress}}
                </td>
                <td>
                    <input class="dispatchField"
                           ng-if="!job.assignedAgent.agentName && (!job.toAirportId || !job.fromAirportId)"
                           ng-keydown="$event.keyCode === 13 && dispatchJobsFromNew(job.courier)"
                           ng-model="job.courier"
                           ng-readonly="job.courierData.courierID !== null"
                           ng-style="getJobStyle(job.courierData.courierID !== null)"
                           placeholder=""
                           type="text"/>

                    <input class="dispatchField"
                           ng-if="!job.assignedAgent.agentName && job.toAirportId && job.fromAirportId"
                           ng-model="job.assignedFlight.flightNumber"
                           ng-readonly="true"
                           ng-style="getJobStyle(job.assignedFlight.flightNumber !== null)"
                           placeholder=""
                           type="text"/>

                    <input class="dispatchField"
                           ng-if="job.assignedAgent.agentName"
                           ng-model="job.assignedAgent.agentName"
                           ng-readonly="true"
                           ng-style="getJobStyle(job.assignedAgent.agentName !== null)"
                           placeholder=""
                           type="text"/>
                </td>
                <td>{{job.pod}}</td>
                <td><span class="remain-time">{{job.remain}}</span></td>
                <td class="status" ng-class="job.status">{{job.status}}</td>
                <td class="selectjob" ng-click="selectForDispatch(job); $event.stopPropagation();"
                    title="placeholder selector"></td>
                <td class="icon-cell" ng-click="createEvent($event, job);" title="Create Event">
                    <i class="material-symbols-outlined job-table-icon">calendar_add_on</i>
                </td>
                <td class="icon-cell" ng-click="job.courier == null || restoreJob(job);" title="Restore">
                    <i class="material-symbols-outlined job-table-icon" ng-if="job.courier !== null">undo</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- No Data Message -->
    <div class="no-data" ng-if="!deliveryListLoading && jobListDelivery.length === 0">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">warning</md-icon>
            </div>
            <div class="text">No Action Required Jobs Found</div>
        </div>
    </div>

    <!-- Loading Indicator -->
    <div class="loader-container" ng-if="deliveryListLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">warning</md-icon>
            </div>
        </div>
    </div>
</div>
