<div class="responsive-datatable">
    <md-table-container>
        <table md-progress="jobPromise" md-table>
            <thead md-head md-order="jobQuery.order">
            <tr md-row>
                <th class="col-md" md-column md-order-by="time"><span>Time</span></th>
                <th class="col-md" md-column md-order-by="speed"><span>Speed</span></th>
                <th class="col-lg" md-column md-order-by="jobno"><span>Job No</span></th>
                <th class="col-lg" md-column md-order-by="client"><span>Client</span></th>
                <th class="col-md" md-column md-order-by="from"><span>From</span></th>
                <th class="col-md" md-column md-order-by="to"><span>To</span></th>
                <th class="col-md" md-column md-order-by="courier"><span>Courier</span></th>
                <th class="col-sm" md-column md-order-by="pod"><span>POD</span></th>
                <th class="col-sm" md-column md-order-by="remain"><span>Remain</span></th>
                <th class="col-sm" md-column md-order-by="status"><span>S</span></th>
                <th md-column><span>Actions</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="job" md-select-id="id" ng-mouseup="selectJob(job, true)"
                ng-repeat="job in jobList | filter: box.searchBox | orderBy: jobQuery.order">
                <td md-cell>{{job.time | date: "HH:mm"}}</td>
                <td md-cell>{{job.speed}}</td>
                <td md-cell>{{job.jobNo}}</td>
                <td md-cell>{{job.client}}</td>
                <td md-cell>{{isUsCustomer ? job.pickupAddress.addressLine5 : job.from}}</td>
                <td md-cell>{{isUsCustomer ? job.deliveryAddress.addressLine5 : job.toAddress}}</td>
                <td md-cell ng-click="editCourierNew($event, job)">
                    {{job.courier}}
                    <md-icon md-font-set="material-symbols-outlined" ng-if="!job.courier">edit</md-icon>
                </td>
                <td md-cell>{{job.pod}}</td>
                <td md-cell><span ng-style='{"color":"darkorange", "font-weight": "bold"}'>{{job.remain}}</span></td>
                <td md-cell ng-class="job.status">{{job.status}}</td>
                <td md-cell>
                    <md-button aria-label="Create Event" class="md-icon-button"
                               ng-click="createEvent(); $event.stopPropagation();">
                        <md-icon md-font-set="material-symbols-outlined">calendar_add_on</md-icon>
                    </md-button>
                    <md-button aria-label="Restore"
                               class="md-icon-button"
                               ng-click="job.courier == null || restoreJobsFromNew(); $event.stopPropagation();"
                               ng-disabled="!job.courier"
                               ng-if="job.courier !== null">
                        <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
            md-limit="jobQuery.limit"
            md-limit-options="[5, 10, 25, 50]"
            md-on-paginate="jobPageChanged"
            md-page="jobQuery.page"
            md-page-select
            md-total="{{totalCount}}">
    </md-table-pagination>
</div>
