<md-progress-linear
        md-mode="indeterminate"
        ng-show="ctrl.podListLoading"
        class="md-primary">
</md-progress-linear>

<jobs-list
        ng-if="!ctrl.podListLoading && (ctrl.jobListPOD || ctrl.jobListPOD.length > 0)"
        jobs="ctrl.jobListPOD"
        selected-job="ctrl.currentJob"
        on-job-select="ctrl.handleJobSelection(job)"
        on-job-action="ctrl.handleJobAction(action, job, params)"
        get-context-menu-options="ctrl.getJobContextMenuOptions()"
        job-list-type="ctrl.nationwidePodJobList"
        query-params="ctrl.jobPodFilters">
</jobs-list>