<div class="dispatch-map-component">
    <div class="dispatch-map-container">
        <div class="map-wrapper" style="height: 100%; width: 100%; position: absolute;">
            <!-- Loading Indicator -->
            <div class="loader-container" ng-if="!googleMapsUrl">
                <div class="full-height" layout="row" layout-align="center center">
                    <div class="material-icon-loader">
                        <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                        <md-icon class="loader-icon" md-font-set="material-symbols-outlined">map</md-icon>
                    </div>
                </div>
            </div>

            <!-- Map -->
            <div map-lazy-load="https://maps.google.com/maps/api/js"
                 map-lazy-load-params="{{googleMapsUrl}}"
                 ng-if="googleMapsUrl"
                 style="height: 100%; width: 100%;">
                <ng-map
                        center="{{mapCenter.lat}}, {{mapCenter.lng}}"
                        map-type-id="roadmap"
                        street-view-control="false"
                        style="width: 100%; height: 100%;"
                        zoom="{{mapZoom}}">
                </ng-map>
            </div>
        </div>
    </div>
</div>
