<md-content class="md-dense prebook-view">
    <div>
        <md-toolbar class="md-hue-2 md-whiteframe-2dp">
            <div class="md-toolbar-tools">
                <img alt="DFRNT" class="toolbar-logo" src="images/dfrnt_logo.png">
                <md-divider class="vertical-divider"></md-divider>
                <h2 class="md-title">Recurring Jobs Dashboard</h2>

                <span flex></span>

                <md-menu>
                    <md-button aria-label="Open layout options menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">grid_view</md-icon>
                        <md-tooltip md-direction="bottom">Layouts</md-tooltip>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="ctrl.saveLayout()">
                                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                                Save Layout
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item ng-repeat="lo in ctrl.layouts track by $index">
                            <md-button>
                                <md-icon md-font-set="material-symbols-outlined" ng-click="ctrl.deleteLayout($index)"
                                         ng-if="::lo.name != 'Default'">
                                    delete
                                </md-icon>
                                <md-icon md-font-set="material-symbols-outlined" ng-if="::lo.name == 'Default'">
                                    tune
                                </md-icon>
                                <span ng-click="ctrl.loadLayout($index)"
                                      ng-style="lo.name == ctrl.currentLayoutName ? {'font-weight':'bold'} : {}">{{lo.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-divider class="vertical-divider"></md-divider>

                <span style="font-size: medium;">{{::ctrl.greetUser()}}</span>

                <md-button aria-label="Menu" class="md-icon-button" ng-click="ctrl.toggleSidenav()"
                           ng-mouseover="ctrl.toggleSidenav()">
                    <md-icon md-font-set="material-symbols-outlined">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <material-sidenav></material-sidenav>
    </div>

    <div class="dashboard-padding">
        <div class="content-container">
            <div class="columns">
                <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in ctrl.layout.columns"
                     r-directions="['right']" r-flex="true" resizable style="flex-basis: {{column.width}}">

                    <div class="column-sortable" ui-sortable="ctrl.boxSortableOptions" ng-model="column.boxes">
                        <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                             r-directions="['bottom']" r-flex="true" resizable style="flex-basis: {{box.height}}">

                            <md-toolbar class="widget-toolbar">
                                <div class="md-toolbar-tools">
                                    <!--Icon-->
                                    <span class="material-symbols-outlined">{{::ctrl.boxes[box.name].icon}}</span>

                                    <span class="md-card-title">{{::ctrl.boxes[box.name].title}}</span>
                                    <span class="md-card-subtitle" ng-if="::box.name == 'jobList'">
                                        ({{ ctrl.jobQuery.active ? 'Active Jobs' : 'Inactive Jobs' }})
                                    </span>

                                    <div flex></div>

                                    <!-- Search Box-->
                                    <md-input-container class="md-block search-input-container" md-no-float
                                                        ng-if="::ctrl.boxes[box.name].showSearch">
                                        <md-icon md-font-set="material-symbols-outlined">search</md-icon>
                                        <input class="search-input"
                                               ng-change="ctrl.searchJobs(ctrl.jobQuery.searchText)"
                                               ng-model="ctrl.jobQuery.searchText"
                                               placeholder="Search..."
                                               type="text"
                                               style="color: black;">
                                    </md-input-container>


                                    <!--Refresh-->
                                    <md-button class="md-icon-button"
                                               ng-click="ctrl.refreshData()"
                                               ng-if="::ctrl.boxes[box.name].showRefresh">
                                        <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                        <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                                    </md-button>

                                    <!--Inactive Filter-->
                                    <md-menu ng-if="::ctrl.boxes[box.name].showFilter">
                                        <md-button class="md-icon-button"
                                                   ng-click="$mdMenu.open($event)">
                                            <md-icon md-font-set="material-symbols-outlined">filter_list</md-icon>
                                            <md-tooltip md-direction="bottom">Active/Inactive Filter</md-tooltip>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.switchActiveFilter(true)">
                                                    <md-icon md-font-set="material-symbols-outlined">toggle_on</md-icon>
                                                    Active
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="ctrl.switchActiveFilter(false)">
                                                    <md-icon md-font-set="material-symbols-outlined">toggle_off
                                                    </md-icon>
                                                    Inactive
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>

                                </div>
                            </md-toolbar>

                            <div class="box-content" ng-include="::ctrl.boxes[box.name].templateUrl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
