<div class="job-detail-page" ng-if="ctrl.job">

    <md-card class="warning-section md-whiteframe-1dp" ng-if="ctrl.job.isArchived || ctrl.job.prebook">
        <md-card-content>
            <div layout="row" layout-align="start center">
                <md-icon md-font-set="material-symbols-outlined">warning</md-icon>
                <span class="warning-text" ng-if="ctrl.job.isArchived">Job archived. Some fields can't be edited</span>
                <span class="warning-text" ng-if="ctrl.job.prebook">Pre-booked job. Some fields may require confirmation</span>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="job-detail-widget">
        <!-- Top Bar -->
        <div class="header-bar">
            <md-menu>
                <md-button aria-label="internal stage"
                           ng-click="$mdMenu.open($event)">
                    <md-tooltip md-direction="bottom">Modify Status</md-tooltip>
                    <md-icon style="margin-right: 5px;" md-font-set="material-symbols-outlined">swap_horiz</md-icon>
                    {{ctrl.selectedStatusText}}
                </md-button>
                <md-menu-content class="md-dense">
                    <md-menu-item ng-repeat="internalStatus in ctrl.internalStatusList">
                        <md-button ng-click="ctrl.setInternalStatus(internalStatus.id, ctrl.job)">
                            {{internalStatus.text}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <div flex></div>

            <md-button ng-click="!ctrl.job.locked && ctrl.job.internalStatusId !=1
                             && ctrl.job.internalStatusId !=4
                             && ctrl.editFollowUpTime($event, ctrl.job)">
                <md-icon style="margin-right: 5px;" md-font-set="material-symbols-outlined">schedule</md-icon>
                <span>Follow Up</span>
            </md-button>

            <md-chip class="status {{ctrl.job.statusName | lowercase | replace:' ':'-'}}"
                     md-ink-ripple
                     ng-click="ctrl.statusClick($event, ctrl.job)">
                <md-icon class="status-icon"
                         md-font-set="material-symbols-outlined">
                    package_2
                </md-icon>
                {{ctrl.job.statusName}}
            </md-chip>
        </div>

        <!-- Timing Section -->
        <div class="timing-section md-whiteframe-1dp">
            <div layout="row" layout-align="space-between center">
                <!-- Left Column -->
                <div flex="33" flex-xs="100" class="timing-column">
                    <md-list class="timing-list">
                        <md-list-item md-ink-ripple ng-click="ctrl.showPricingBreakdown($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Pricing">payments</md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Pricing:</span>
                                <span class="timing-value">{{ ctrl.job.charge ? ctrl.job.charge : 'N/A' }}</span>
                            </div>
                        </md-list-item>

                        <md-list-item>
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Created date">add_circle
                            </md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Created:</span>
                                <span class="timing-value">{{ctrl.job.createdDate ? (ctrl.job.createdDate | date:'MM/dd/yyyy') : 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item md-ink-ripple ng-click="!this.job.locked && ctrl.editLogTime($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Log time">timer</md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Log Time:</span>
                                <span class="timing-value">{{ctrl.job.time ? (ctrl.job.time | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <md-divider vertical></md-divider>

                <!-- Middle Column -->
                <div flex="33" flex-xs="100" class="timing-column">
                    <md-list class="timing-list">
                        <md-list-item md-ink-ripple
                                       ng-click="!this.job.locked && ctrl.editPuDate($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Pickup time">schedule
                            </md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">PU Time:</span>
                                <span class="timing-value">{{ctrl.job.puTime ? (ctrl.job.puTime | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item>
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Dispatch status">
                                outgoing_mail
                            </md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Dispatch:</span>
                                <span class="timing-value">{{ctrl.job.dispatchTime ? (ctrl.job.dispatchTime | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item md-ink-ripple
                                      ng-click="!ctrl.job.locked && ctrl.editPodName($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="POD name">verified_user</md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">POD Name:</span>
                                <span class="timing-value">{{ctrl.job.podName || 'N/A'}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <md-divider vertical></md-divider>

                <!-- Right Column -->
                <div flex="33" flex-xs="100" class="timing-column">
                    <md-list class="timing-list">
                        <md-list-item md-ink-ripple
                                      ng-click="!this.job.locked && ctrl.editCompletedTime($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="POD time">verified</md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">POD Time:</span>
                                <span class="timing-value">{{ctrl.job.completedTime ? (ctrl.job.completedTime | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item md-ink-ripple
                                      ng-click="!this.job.locked && ctrl.editFollowUpTime($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Follow up time">sync
                            </md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Follow Up:</span>
                                <span class="timing-value">{{ctrl.job.followupTime ? (ctrl.job.followupTime | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item md-ink-ripple ng-click="!this.job.locked && ctrl.editDeliverBy($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="delivery by time">alarm</md-icon>
                            <div class="timing-detail">
                                <span class="timing-label">Deliver By:</span>
                                <span class="timing-value">{{ctrl.job.deliverByTime ? (ctrl.job.deliverByTime | date:'MM/dd/yyyy h:mm a') : 'N/A'}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main-content" layout="row">
            <!-- Left Column -->
            <div flex="60" class="left-column">
                <!-- From/To Section -->
                <div layout="row" layout-xs="column" class="address-section md-whiteframe-1dp">
                    <!-- Pickup Location -->
                    <div flex="50" flex-xs="100" class="address-block pickup-block">
                        <md-subheader class="address-header">
                            <md-icon md-font-set="material-symbols-outlined"
                                     class="location-icon"
                                     aria-label="Pickup location">
                                {{ctrl.getJobAddressIcon()}}
                            </md-icon>
                            <span>Pickup Location</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-card-content class="address-content">
                            <div ng-click="!ctrl.job.locked && ctrl.updateAddress($event, ctrl.job, 'fromAddress')">
                                <h3 class="location-name md-title">{{ctrl.job.pickupAddress.addressLine1}}</h3>

                                <div class="address-lines">
                                    <p class="md-body-1">{{ctrl.job.pickupAddress.addressLine2}},
                                        {{ctrl.job.pickupAddress.addressLine3}}</p>
                                    <p class="md-body-1">{{ctrl.job.pickupAddress.addressLine4}},
                                        {{ctrl.job.pickupAddress.addressLine5}},
                                        {{ctrl.job.pickupAddress.addressLine6}}</p>
                                </div>
                            </div>

                            <md-list class="contact-info">
                                <md-list-item md-ink-ripple
                                              ng-click="!ctrl.job.locked && ctrl.editJobContact($event, ctrl.job, 'from')">
                                    <md-icon md-font-set="material-symbols-outlined">contacts</md-icon>
                                    <p>Contact: {{ctrl.job.fromContactName || 'N/A'}}</p>
                                </md-list-item>
                                <md-list-item md-ink-ripple
                                              ng-click="!ctrl.job.locked && ctrl.editJobContactPhone($event, ctrl.job, 'from')">
                                    <md-icon md-font-set="material-symbols-outlined">phone</md-icon>
                                    <p>Phone: {{ctrl.job.fromContactNumber || 'N/A'}}</p>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </div>

                    <md-divider vertical hide-xs></md-divider>

                    <!-- Delivery Location -->
                    <div flex="50" flex-xs="100" class="address-block delivery-block">
                        <md-subheader class="address-header">
                            <md-icon md-font-set="material-symbols-outlined"
                                     class="location-icon"
                                     aria-label="Delivery location">
                                {{ctrl.getJobAddressIcon()}}
                            </md-icon>
                            <span>Delivery Location</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-card-content class="address-content">
                            <div md-ink-ripple
                                 ng-click="!ctrl.job.locked && ctrl.updateAddress($event, ctrl.job, 'toAddress')">
                                <h3 class="location-name md-title">{{ctrl.job.deliveryAddress.addressLine1}}</h3>

                                <div class="address-lines">
                                    <p class="md-body-1">{{ctrl.job.deliveryAddress.addressLine2}},
                                        {{ctrl.job.deliveryAddress.addressLine3}}</p>
                                    <p class="md-body-1">{{ctrl.job.deliveryAddress.addressLine4}},
                                        {{ctrl.job.deliveryAddress.addressLine5}},
                                        {{ctrl.job.deliveryAddress.addressLine6}}</p>
                                </div>
                            </div>

                            <md-list class="contact-info">
                                <md-list-item md-ink-ripple
                                              ng-click="!ctrl.job.locked && ctrl.editJobContact($event, ctrl.job, 'to')">
                                    <md-icon md-font-set="material-symbols-outlined">contacts</md-icon>
                                    <p>Contact: {{ctrl.job.deliverToContact || 'N/A'}}</p>
                                </md-list-item>
                                <md-list-item md-ink-ripple
                                              ng-click="!ctrl.job.locked && ctrl.editJobContactPhone($event, ctrl.job, 'to')">
                                    <md-icon md-font-set="material-symbols-outlined">phone</md-icon>
                                    <p>Phone: {{ctrl.job.toContactPhone || 'N/A'}}</p>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </div>
                </div>

                <!-- Combined Info Sections -->
                <div class="info-sections-container md-whiteframe-1dp"
                     ng-if="ctrl.job.assignedFlight || ctrl.job.assignedAgent"
                     style="background: #f5f5f5;">
                    <!-- Flight Information -->
                    <section class="info-section client-section" ng-if="ctrl.job.assignedFlight">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="flight information">flight
                            </md-icon>
                            <span>Flight Information</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="flight number">
                                    flight_takeoff
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Flight Number:</span>
                                    <span class="value">{{ctrl.job.assignedFlight.flightNumber || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="departure">start
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Departure:</span>
                                    <span class="value">{{ctrl.job.assignedFlight.expectedDeparture || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="arrival">location_on
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Arrival:</span>
                                    <span class="value">{{ctrl.job.assignedFlight.expectedArrival || 'N/A'}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                    <!-- Agent information -->
                    <section class="info-section booker-section" ng-if="ctrl.job.assignedAgent">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Booking information">
                                badge
                            </md-icon>
                            <span>Agent Information</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="agent name">person
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Agent Name:</span>
                                    <span class="value">{{ctrl.job.assignedAgent.agentName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="agent rate">star_rate
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Agent Rate:</span>
                                    <span class="value">{{ctrl.job.assignedAgent.agentRate || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="agent ranking">payments
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Agent Ranking:</span>
                                    <span class="value">{{ctrl.job.assignedAgent.agentRanking || 'N/A'}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>
                </div>

                <!-- Notes Section with sticky note design -->
                <div class="notes-section md-whiteframe-1dp">
                    <div class="section-header">
                        <div style="display: flex; align-items: center;">
                            <md-icon md-font-set="material-symbols-outlined">info</md-icon>
                            <span>Notes / Consignment Notes / AWB</span>
                        </div>

                        <div flex></div>

                            <md-button class="md-fab md-mini md-primary" aria-label="add note"
                                       ng-click="ctrl.showNotesDialog($event, ctrl.job, 'Notes','Note')">
                                <md-icon md-font-set="material-symbols-outlined">note_add</md-icon>
                                <md-tooltip md-direction="bottom">Edit Note</md-tooltip>
                            </md-button>

                            <md-button class="md-fab md-mini md-primary" aria-label="add con note"
                                       ng-click="ctrl.showNotesDialog($event, ctrl.job, 'Consignment Note / AWB','ConNote')">
                                <md-icon md-font-set="material-symbols-outlined">inventory</md-icon>
                                <md-tooltip md-direction="bottom">Edit Consignment / AWB</md-tooltip>
                            </md-button>
                    </div>

                    <md-divider></md-divider>

                    <div class="sticky-notes-container">
                        <div ng-repeat="note in ctrl.notes"
                             class="sticky-note {{note.type}}"
                             ng-style="{'transform': 'rotate(' + (-1 + $index % 3) + 'deg)'}">
                            <div class="note-header">
                                <md-icon md-font-set="material-symbols-outlined">{{note.icon}}</md-icon>
                                <div class="note-type">
                                    <span ng-if="note.type === 'internal'">Internal Note</span>
                                    <span ng-if="note.type === 'consignment'">Consignment Note</span>
                                    <span ng-if="note.type === 'client'">Client Note</span>
                                    <span ng-if="!note.type || (note.type !== 'internal' && note.type !== 'consignment' && note.type !== 'client')">Note</span>
                                </div>
                            </div>
                            <div class="note-content">{{note.text}}</div>
                        </div>

                        <!-- Fallback to display raw notes data if the notes array is empty -->
                        <div ng-if="ctrl.notes.length === 0 && ctrl.job.internalNotes"
                             class="sticky-note internal"
                             style="transform: rotate(-1deg);">
                            <div class="note-header">
                                <md-icon md-font-set="material-symbols-outlined">note_stack</md-icon>
                                <div class="note-type">Internal Note</div>
                            </div>
                            <div class="note-content">{{ctrl.job.internalNotes}}</div>
                        </div>

                        <div ng-if="ctrl.notes.length === 0 && ctrl.job.clientNotes"
                             class="sticky-note client"
                             style="transform: rotate(1deg);">
                            <div class="note-header">
                                <md-icon md-font-set="material-symbols-outlined">business</md-icon>
                                <div class="note-type">Client Note</div>
                            </div>
                            <div class="note-content">{{ctrl.job.clientNotes}}</div>
                        </div>

                        <div ng-if="ctrl.notes.length === 0 && ctrl.job.conNote"
                             class="sticky-note consignment"
                             style="transform: rotate(-0.5deg);">
                            <div class="note-header">
                                <md-icon md-font-set="material-symbols-outlined">inventory_2</md-icon>
                                <div class="note-type">Consignment Note</div>
                            </div>
                            <div class="note-content">{{ctrl.job.conNote}}</div>
                        </div>

                        <!-- Message when truly no notes -->
                        <div ng-if="ctrl.notes.length === 0 && !ctrl.job.internalNotes && !ctrl.job.clientNotes && !ctrl.job.conNote"
                             class="no-notes-message">
                            <md-icon md-font-set="material-symbols-outlined">sticky_note_2</md-icon>
                            <p>No notes available for this job.</p>
                        </div>
                    </div>
                </div>

                <!-- Package Details -->
                <div layout="row" layout-xs="column" class="info-sections-container md-whiteframe-1dp">
                    <!-- Package Details -->
                    <div flex="50" flex-xs="100" class="info-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Package details">
                                inventory_2
                            </md-icon>
                            <span>Package Details</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.showJobDimensionsDialog($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Dimensions">
                                    straighten
                                </md-icon>

                                <div class="info-detail">
                                    <span class="label">Dimensions/Items:</span>
                                    <span class="value">{{ctrl.job.parcelDimensions.length || 0}} packages</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.editJobWeight($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Weight">
                                    scale
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Weight:</span>
                                    <span class="value">{{ctrl.job.weight || 0}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>

                    <md-divider vertical hide-xs></md-divider>

                    <!-- Additional Info -->
                    <div flex="50" flex-xs="100" class="info-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Additional information">
                                description
                            </md-icon>
                            <span>Additional Info</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && jdSvc.dgClassClick($event, ctrl.job)"
                                          ng-if="!ctrl.job.bulkJob">

                                <md-icon md-font-set="material-symbols-outlined" aria-label="Documents">
                                    article
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">DG#/Docs:</span>
                                    <span class="value">
                                        {{ctrl.job.dgClass}} / {{ctrl.hasDGDocs(ctrl.job)}}
                                    </span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row"
                                          ng-click="!ctrl.job.locked && jdSvc.leaveClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Delivery instructions">
                                    phone_callback
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Leave Parcel:</span>
                                    <span class="value">{{ctrl.job.deliverToLeaveId || 'N/A'}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>


                <!-- Additional Details  2-->
                <div flex="50" flex-xs="100" class="info-sections-container job-details-info md-whiteframe-1dp"
                     ng-if="!ctrl.job.prebook">
                    <div class="info-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Additional details">
                                local_shipping
                            </md-icon>
                            <span>Delivery Details</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="dispatcher">
                                    manage_accounts
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Dispatcher Name:</span>
                                    <span class="value">{{ctrl.job.dispatcherName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple ng-click="ctrl.courierClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Courier">person_pin</md-icon>
                                <div class="info-detail">
                                    <span class="label">Courier:</span>
                                    <span class="value">{{ctrl.job.courierData.courierName}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="courier phone">smartphone
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Courier Mobile:</span>
                                    <span class="value">{{ctrl.job.courierData.courierMobile || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="schedule name">event
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Schedule Name:</span>
                                    <span class="value">{{ctrl.job.scheduleName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                        </md-list>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div flex="40" class="right-column">
                <!-- Combined Info Sections -->
                <div class="info-sections-container md-whiteframe-1dp" style="background: #f5f5f5;">
                    <!-- Client Information -->
                    <section class="info-section client-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Client information">account_box
                            </md-icon>
                            <span>Client Information</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row" md-ink-ripple ng-click="ctrl.clientClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Company">account_circle
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Client Name:</span>
                                    <span class="value">{{ctrl.job.clientName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple ng-click="ctrl.clientClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Account number">tag
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Account:</span>
                                    <span class="value">{{ctrl.job.client || 'N/A'}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                    <!-- Booked By -->
                    <section class="info-section booker-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Booking information">
                                person_outline
                            </md-icon>
                            <span>Booked By</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="logged in contact">login
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Logged-in Contact:</span>
                                    <span class="value">{{ctrl.job.loggedInContactName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" ng-click="ctrl.contactClick($event, ctrl.job)"
                                          ng-if="!ctrl.job.bulkJob">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Contact name">person_add
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Name:</span>
                                    <span class="value">{{ctrl.job.fromContactName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.editJobContactPhone($event, ctrl.job, 'from')">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Phone number">phone_callback
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Phone:</span>
                                    <span class="value">{{ctrl.job.fromContactNumber || 'N/A'}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>
                </div>

                <!-- Job Details -->
                <div class="info-sections-container job-details-info md-whiteframe-1dp">
                    <div class="info-section">
                        <md-subheader class="section-header">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="Job details">
                                assignment
                            </md-icon>
                            <span>Job Details</span>
                        </md-subheader>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.speedClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Speed">speed</md-icon>
                                <div class="info-detail">
                                    <span class="label">Speed:</span>
                                    <span class="value">{{ctrl.job.speedName || 'N/A'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.jobTypeClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Job type">category
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Job Type:</span>
                                    <span class="value">{{ctrl.getJobTypeDescription(ctrl.job.jobType)}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="!ctrl.job.locked && ctrl.sizeClick($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Vehicle size">
                                    local_shipping
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Size:</span>
                                    <span class="value">{{ctrl.job.size.text}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="ctrl.editRef($event, ctrl.job, true)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Reference A">bookmark</md-icon>
                                <div class="info-detail">
                                    <span class="label">Ref A:</span>
                                    <span class="value">{{ctrl.job.refA || '-'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple
                                          ng-click="ctrl.editRef($event, ctrl.job, false)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Reference B">label</md-icon>
                                <div class="info-detail">
                                    <span class="label">Ref B:</span>
                                    <span class="value">{{ctrl.job.refB || '-'}}</span>
                                </div>
                            </md-list-item>

                            <md-list-item class="info-row" md-ink-ripple ng-click="ctrl.editOurRef($event, ctrl.job)">
                                <md-icon md-font-set="material-symbols-outlined" aria-label="Our reference">palette
                                </md-icon>
                                <div class="info-detail">
                                    <span class="label">Our Ref:</span>
                                    <span class="value">{{ctrl.job.ourRef}}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer-section md-whiteframe-1dp">
            <div layout="row">
                <!-- Left side -->
                <div flex="33" class="info-section">
                    <md-list>
                        <md-list-item class="info-row"
                                      ng-click="!ctrl.job.locked && ctrl.trackingMethodClick($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="tracking method">
                                location_searching
                            </md-icon>
                            <div class="info-detail">
                                <span class="label">Tracking Method:</span>
                                <span class="value">{{ctrl.getTrackingMethod(ctrl.job.trackingMethod)}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item class="info-row"
                                      ng-click="!ctrl.job.locked && ctrl.editTrackingMobile($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="tracking mobile">
                                smartphone
                            </md-icon>
                            <div class="info-detail">
                                <span class="label">Tracking Mobile:</span>
                                <span class="value">{{ctrl.job.trackingMobile || 'N/A'}}</span>
                            </div>
                        </md-list-item>

                        <md-list-item class="info-row"
                                      ng-click="!ctrl.job.locked && ctrl.editTrackingEmail($event, ctrl.job)">
                            <md-icon md-font-set="material-symbols-outlined" aria-label="tracking email">mail
                            </md-icon>
                            <div class="info-detail">
                                <span class="label">Tracking Email:</span>
                                <span class="value">{{ctrl.job.trackingEmail || 'N/A'}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <md-divider vertical></md-divider>

                <!-- Right side - Checkbox group -->
                <div flex="60" flex-offset="5" class="checkbox-group">
                    <div class="checkboxes-container">
                        <div class="checkbox-grid">
                            <div layout="row" layout-wrap>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'van')"
                                                 ng-model="ctrl.job.van" class="compact">Van
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'truck')"
                                                 ng-model="ctrl.job.truck" class="compact">Truck
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'pedal')"
                                                 ng-model="ctrl.job.ped" class="compact">PED
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'attention')"
                                                 ng-model="ctrl.job.attention" class="compact">Attention
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'vanOK')"
                                                 ng-model="ctrl.job.vanOk" class="compact">Van OK?
                                    </md-checkbox>
                                </div>
                            </div>

                            <div layout="row" layout-wrap>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'reprice')"
                                                 ng-model="ctrl.job.reprice" class="compact">Reprice
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'void')"
                                                 ng-model="ctrl.job.void" class="compact">Void
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.markJobAsDone(ctrl.job)"
                                                 ng-model="ctrl.job.done" class="compact">Done
                                    </md-checkbox>
                                </div>
                                <div flex="20">
                                    <md-checkbox ng-click="ctrl.toggleProperty(ctrl.job, 'delivered')"
                                                 ng-model="ctrl.delivered" class="compact">Delivered
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</div>

<no-data
        ng-if="!ctrl.job"
        title="No Job Selected"
        message="Please select a job or courier to view details."
        icon="assignment"
        show-action="false">
</no-data>


<div class="pod-photo-section md-whiteframe-1dp" ng-if="ctrl.job && ctrl.job.done && ctrl.formattedPodPhotos.length > 0">
    <div class="section-header">
        <div class="md-dense"
             style="display: flex; justify-content: space-between; align-items: center; padding: 8px 16px;">
            <div style="display: flex; align-items: center;">
                <md-icon md-font-set="material-symbols-outlined" style="margin-right: 8px;">photo_library</md-icon>
                <span>Proof of Delivery Photos</span>
                <span class="photo-count">{{ctrl.formattedPodPhotos.length}} photos</span>
            </div>

            <div style="display: flex; gap: 8px;">
                <md-button class="md-icon-button" ng-click="ctrl.sendPOD($event)" aria-label="Send POD">
                    <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                    <md-tooltip>Send POD</md-tooltip>
                </md-button>
            </div>
        </div>
    </div>

    <md-divider></md-divider>

    <!-- Main selected photo view -->
    <div class="pod-main-photo" ng-click="ctrl.openPodViewer(ctrl.selectedPhotoIndex)">
        <img ng-src="{{'data:image/png;base64,' +ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].url}}"
             alt="POD Photo {{ctrl.selectedPhotoIndex + 1}}">

        <div class="pod-photo-info">
            <p class="timestamp">{{ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].timestamp | date:'medium'}}</p>
            <p class="uploader">Delivered by {{ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].uploadedBy}}</p>
            <p class="coordinates" ng-if="ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].coordinates">
                Location: {{ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].coordinates.lat}},
                {{ctrl.formattedPodPhotos[ctrl.selectedPhotoIndex].coordinates.lng}}
            </p>
        </div>

        <!-- Navigation arrows -->
        <md-button class="md-icon-button nav-button prev-button"
                   ng-click="ctrl.prevPhoto(); $event.stopPropagation();"
                   ng-if="ctrl.formattedPodPhotos.length > 1">
            <md-icon md-font-set="material-symbols-outlined">chevron_left</md-icon>
        </md-button>

        <md-button class="md-icon-button nav-button next-button"
                   ng-click="ctrl.nextPhoto(); $event.stopPropagation();"
                   ng-if="ctrl.formattedPodPhotos.length > 1">
            <md-icon md-font-set="material-symbols-outlined">chevron_right</md-icon>
        </md-button>
    </div>

    <!-- Thumbnail grid using md-grid-list -->
    <div class="pod-thumbnails-container">
        <md-grid-list md-cols="5" md-cols-xs="3" md-cols-sm="4" md-row-height="1:1" md-gutter="8px">
            <md-grid-tile ng-repeat="photo in ctrl.formattedPodPhotos track by $index"
                          ng-click="ctrl.setSelectedPhoto($index)"
                          ng-class="{'active-thumbnail': $index === ctrl.selectedPhotoIndex}">
                <img ng-src="{{'data:image/png;base64,' +photo.url}}" alt="Photo {{$index + 1}}">
                <md-grid-tile-footer>
                    <h3>{{photo.timestamp | date:'shortTime'}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>

<div class="pod-photo-section md-whiteframe-1dp"
     ng-if="ctrl.formattedPodPhotos.length === 0 && ctrl.job.done">
    <div class="section-header">
        <div class="md-dense"
             style="display: flex; align-items: center; padding: 8px 16px;">
            <md-icon md-font-set="material-symbols-outlined" style="margin-right: 8px;">photo_library</md-icon>
            <span>Proof of Delivery Photos</span>
        </div>
    </div>

    <md-divider></md-divider>

    <div class="no-photos-message" style="padding: 24px; text-align: center;">
        <md-icon md-font-set="material-symbols-outlined"
                 style="font-size: 48px; height: 48px; width: 48px; color: rgba(0,0,0,0.54);">
            photo_library
        </md-icon>
        <h3 style="margin: 16px 0 8px; color: rgba(0,0,0,0.87);">No POD Photos Available</h3>
        <p style="color: rgba(0,0,0,0.54); margin: 0;">
            This completed job has no proof of delivery photos attached.
        </p>
    </div>
</div>


<!-- POD Photo -->
<pod-photo-viewer
        ng-if="ctrl.formattedPodPhotos.length > 0"
        photos="ctrl.formattedPodPhotos"
        is-open="ctrl.isPodViewerOpen"
        initial-photo-index="ctrl.selectedPhotoIndex"
        on-close="ctrl.closePodViewer()">
</pod-photo-viewer>
