<md-dialog class="resolution-warning-dialog" aria-label="Display Resolution Warning">
    <md-dialog-content class="md-dialog-content">
        <div class="dialog-header">
            <md-icon md-font-set="material-symbols-outlined" class="warning-icon">warning</md-icon>
            <h2 class="md-title">Display Resolution Notice</h2>
        </div>

        <div class="dialog-body">
            <p class="md-body-1">This application is optimized for higher resolution displays (minimum ${this.MIN_WIDTH}x${this.MIN_HEIGHT}).</p>

            <div class="current-resolution">
                <md-icon md-font-set="material-symbols-outlined" class="info-icon">info</md-icon>
                <span class="md-body-2">Current resolution: ${this.$window.screen.width}x${this.$window.screen.height}</span>
            </div>

            <div class="recommendations">
                <p class="md-body-1 recommendations-title">For the best experience, please consider:</p>
                <div class="recommendation-item" layout="row" layout-align="start center">
                    <md-icon md-font-set="material-symbols-outlined" class="recommendation-icon">monitor</md-icon>
                    <span class="md-body-2">Using a higher resolution display</span>
                </div>
                <div class="recommendation-item" layout="row" layout-align="start center">
                    <md-icon md-font-set="material-symbols-outlined" class="recommendation-icon">zoom_out</md-icon>
                    <span class="md-body-2">Zooming out your browser (Ctrl + Mouse Wheel or Ctrl + -)</span>
                </div>
                <div class="recommendation-item" layout="row" layout-align="start center">
                    <md-icon md-font-set="material-symbols-outlined" class="recommendation-icon">fullscreen</md-icon>
                    <span class="md-body-2">Maximizing your browser window</span>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="ctrl.dismiss()" class="md-primary">
            Don't show again
        </md-button>
        <md-button ng-click="ctrl.close()" class="md-primary md-raised">
            Got it
        </md-button>
    </md-dialog-actions>
</md-dialog>