<md-dialog aria-label="Assignment Dialog" class="md-whiteframe-5dp flight-agent-confirmation-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon ng-if="::ctrl.agent" class="popup-icon" md-font-set="material-symbols-outlined">assignment_ind
                </md-icon>
                <md-icon ng-if="::ctrl.flight" class="popup-icon" md-font-set="material-symbols-outlined">
                    airplane_ticket
                </md-icon>
                <h2 class="md-title">{{::ctrl.dialogTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()" aria-label="Close dialog">
                    <md-icon md-font-set="material-symbols-outlined">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                <div class="assignment-info md-subhead" ng-if="ctrl.flight">
                    <md-icon md-font-set="material-symbols-outlined" class="md-accent">flight</md-icon>
                    <span>You are assigning Job <strong>{{::ctrl.jobNumber}}</strong> to Flight <strong>{{::ctrl.flight.flightNumber}}</strong></span>
                </div>

                <div class="flight-details" ng-if="ctrl.flight" layout="row" layout-align="start center">
                    <div class="airport-code">{{::ctrl.flight.departureAirport}}</div>
                    <md-icon md-font-set="material-symbols-outlined">arrow_forward</md-icon>
                    <div class="airport-code">{{::ctrl.flight.departureAirport}}</div>
                </div>

                <div class="assignment-info md-subhead" ng-if="ctrl.agent">
                    <md-icon md-font-set="material-symbols-outlined" class="md-accent">person</md-icon>
                    <span>You are assigning Job <strong>{{::ctrl.jobNumber}}</strong> to Agent <strong>{{::ctrl.agent.text}}</strong></span>
                </div>

                <div class="assignment-info md-subhead" ng-if="ctrl.dgClassName">
                    <md-icon md-font-set="material-symbols-outlined" class="md-accent">dangerous</md-icon>
                    <span>Dangerous Goods Class: <strong>{{::ctrl.dgClassName}}</strong></span>
                </div>

                <p class="md-body-1" layout="row" layout-align="center center">Please confirm this is correct.</p>

                <md-input-container class="md-block" style="margin-top: 20px;">
                    <label for="awb">Air Waybill (AWB)</label>
                    <input id="awb" class="bold-input" ng-model="ctrl.awb" ng-disabled="::ctrl.isAwbDisabled" type="text">
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <div ng-if="::ctrl.showIncludeStopJobs" style="margin-top: 10px;" layout="row" layout-align="start center">
                    <md-checkbox
                            ng-model="ctrl.assignToStopJobs"
                            class="md-primary"
                            aria-label="assign agent to stop jobs">
                        Assign agent to all stop jobs in this job?
                    </md-checkbox>
                </div>
            </div>
        </md-dialog-content>

        <md-divider></md-divider>

        <md-dialog-actions layout="row" layout-align="end center" layout-padding>
            <md-button ng-click="ctrl.cancel()" class="md-button">
                Cancel
            </md-button>
            <md-button ng-click="ctrl.confirm()" class="md-raised md-primary">
                Confirm
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
