<md-sidenav class="md-sidenav-right" md-component-id="right">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            <span class="material-symbols-outlined">hub</span>
            <span style="margin-left: 8px;">Dispatch Manager</span>
        </h1>
    </md-toolbar>
    <md-content>
        <!-- Account header -->
        <div class="md-padding account-header" layout="column" layout-align="center center">
            <md-icon md-font-set="material-symbols-outlined"
                     style="font-size: 48px; height: 48px; width: 48px; margin-bottom: 8px;">account_circle
            </md-icon>
            <span class="md-subhead">{{userName}}</span>
            <span class="md-caption">{{companyName}}</span>
        </div>
        <md-divider></md-divider>
        <!-- Navigation menu items -->
        <md-list>
            <md-list-item ng-class="{'md-active': materialSidenavService.isActive('home')}" ui-sref="home">
                <md-icon md-font-set="material-symbols-outlined">dashboard</md-icon>
                <p>Dispatch</p>
            </md-list-item>
            <md-list-item ng-class="{'md-active': materialSidenavService.isActive('nw')}" ui-sref="nw">
                <md-icon md-font-set="material-symbols-outlined">local_shipping</md-icon>
                <p ng-if="isUsCustomer">Domestic</p>
                <p ng-if="!isUsCustomer">Nationwide</p>
            </md-list-item>
            <md-list-item ng-class="{'md-active': materialSidenavService.isActive('cs')}" ui-sref="cs">
                <md-icon md-font-set="material-symbols-outlined">search</md-icon>
                <p>Job Search</p>
            </md-list-item>
            <md-list-item ng-class="{'md-active': materialSidenavService.isActive('prebooks')}" ui-sref="prebooks">
                <md-icon md-font-set="material-symbols-outlined">event</md-icon>
                <p>PreBooks</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
