<jobs-list
        ng-if="ctrl.bulkJobList || ctrl.bulkJobList.length > 0"
        jobs="ctrl.bulkJobList"
        selected-job="ctrl.currentJob"
        on-job-select="ctrl.onBulkJobSelect(job)"
        on-load-more-jobs="ctrl.handleLoadMoreBulkJobs(page, pageSize)"
        enable-virtual-scrolling="true"
        get-context-menu-options="ctrl.getContextMenuOptions(job)"
        on-refresh="ctrl.refreshBulkData()"
        job-list-type="ctrl.bulkJobListType">
</jobs-list>

<no-data
        ng-if="!ctrl.bulkJobList || ctrl.bulkJobList.length === 0"
        title="No Bulk Jobs Available"
        message="There are currently no bulk jobs that match your criteria."
        icon="list_alt"
        show-action="false">
</no-data>
