<jobs-list
        ng-if="ctrl.jobList || ctrl.jobList.length > 0"
        jobs="ctrl.jobList"
        selected-job="ctrl.currentJob"
        on-job-select="ctrl.onJobSelect(job)"
        get-context-menu-options="ctrl.getContextMenuOptions(job)"
        on-refresh="ctrl.refreshData()"
        job-list-type="ctrl.jobListType">
</jobs-list>

<no-data
        ng-if="!ctrl.jobList || ctrl.jobList.length === 0"
        title="No Jobs Available"
        message="There are currently no jobs that match your criteria."
        icon="list_alt"
        show-action="false">
</no-data>
