<div class="dateService md-padding">
    <div class="container-fluid space">
        <label id="dateRange" class="label-padding">Quick Search: </label>
        <md-radio-group ng-change="ctrl.onSearchRangeChange(ctrl.dateSearchRange)" ng-model="ctrl.dateSearchRange"
                        aria-labelledby="dateRange" layout="row" layout-align="center center">
            <md-radio-button value="1">Fortnight</md-radio-button>
            <md-radio-button value="2">Today</md-radio-button>
            <md-radio-button value="3">Month</md-radio-button>
            <md-radio-button value="4">Custom</md-radio-button>
        </md-radio-group>

        <md-divider style="margin: 10px;"></md-divider>

        <div class="space" layout="column" layout-align="center end" ng-if="ctrl.dateSearchRange == 4">
            <div>
                <label id="from-datepicker-header">From: </label>
                <md-datepicker
                        md-date-locale="{ firstDayOfWeek: 1 }"
                        input-aria-describedby="from-datepicker-description"
                        input-aria-labelledby="from-datepicker-header "
                        md-placeholder="Enter date"
                        ng-model="ctrl.pickDateService.from_date"></md-datepicker>
                <p id="from-datepicker-description" style="display: none">
                    Start date search
                </p>
            </div>

            <div>
                <label id="datepicker-header">To: </label>
                <md-datepicker
                        md-date-locale="{ firstDayOfWeek: 1 }"
                        input-aria-describedby="to-datepicker-description"
                        input-aria-labelledby="to-datepicker-header "
                        md-placeholder="Enter date"
                        ng-model="ctrl.pickDateService.to_date"></md-datepicker>
                <p id="to-datepicker-description" style="display: none">
                    End date search
                </p>
            </div>
        </div>

        <div class="space">
            <label id="clientLabel">Client:</label>
            <md-autocomplete
                    input-aria-labelledby="clientLabel"
                    md-clear-button="true"
                    md-item-text="item.text"
                    md-items="item in ctrl.clientQuerySearch(ctrl.clientSearchText)"
                    md-min-length="2"
                    md-search-text="ctrl.clientSearchText"
                    md-selected-item="ctrl.clientSelectedItem"
                    md-selected-item-change="ctrl.selectedClientChange(item)"
                    placeholder="Start typing to enter new client...">
                <md-item-template>
                    <span md-highlight-flags="^i" md-highlight-text="ctrl.clientSearchText">{{item.text}}</span>
                </md-item-template>
                <md-not-found>
                    No clients matching "{{ctrl.clientSearchText}}" were found.
                </md-not-found>
            </md-autocomplete>
        </div>

        <div class="space">
            <label id="courierLabel">Courier:</label>
            <md-autocomplete
                    md-items="item in ctrl.courierQuerySearch(ctrl.courierSearchText)"
                    md-search-text="ctrl.courierSearchText"
                    md-selected-item="ctrl.courierSelectedItem"
                    md-selected-item-change="ctrl.selectedCourierChange(item)"
                    md-item-text="item.text"
                    md-min-length="1"
                    placeholder="Start typing to enter new courier..."
                    input-aria-labelledby="courierLabel"
                    md-clear-button="true">
                <md-item-template>
                    <span md-highlight-flags="^i" md-highlight-text="ctrl.courierSearchText">{{item.text}}</span>
                </md-item-template>
                <md-not-found>
                    No couriers matching "{{ctrl.courierSearchText}}" were found.
                </md-not-found>
            </md-autocomplete>
        </div>

        <div class="space">
            <b>Job Number:</b>
            <input class="form-control focusMe"
                   id="Job"
                   name="Job"
                   ng-keyup="$event.keyCode === 13 && ctrl.refreshAllData(true)"
                   ng-model="ctrl.pickDateService.job"
                   type="text"/>
        </div>

        <div class="space">
            <b>Everything Else (JobNo, Address, Name, Refs):</b>
            <input class="form-control focusMe"
                   id="Wild"
                   name="Wild"
                   ng-keyup="$event.keyCode === 13 && ctrl.refreshAllData(true)"
                   ng-model="ctrl.pickDateService.wild"
                   type="text"/>
        </div>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="space">
            <md-button class="md-raised md-primary" ng-click="ctrl.refreshAllData(true)">
                <md-icon md-font-set="material-symbols-outlined">
                    search
                </md-icon>
                Search
            </md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.downloadJobList()">
                <md-icon md-font-set="material-symbols-outlined">
                    cloud_download
                </md-icon>
                Download
            </md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.uploadJobList()">
                <md-icon md-font-set="material-symbols-outlined">
                    cloud_upload
                </md-icon>
                Upload
            </md-button>
            <input onchange="angular.element(this).scope().ctrl.onUploadJobList()" style="visibility: hidden;" type="file" name="jobListUpload" id="jobListUpload" file-model="myFile" class="inputfile" accept=".xlsx,.xls,.csv" data-multiple-caption="{count} files selected" />
        </section>
    </div>
</div>

<style>
    .label-padding {
        padding: 10px;
    }

    .space {
        margin-bottom: 20px;
    }
</style>
