<md-dialog aria-label="{{ ctrl.title }}" id="{{ ctrl.id }}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enter your Message</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                    <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ng-cloak>
            <div class="md-dialog-content">
                <form ng-submit="ctrl.submit(ctrl.message, ctrl.selectedItem)">

                    <p style="align-items: center;">Your message can be a max of 160 characters</p>

                    <md-input-container class="md-block">
                        <label for="message">Message</label>
                        <textarea id="message" max-rows="4" md-maxlength="160" md-no-asterisk ng-model="ctrl.message"
                                  required></textarea>
                    </md-input-container>

                    <md-autocomplete
                            md-autofocus
                            md-autoselect
                            md-escape-options="clear"
                            md-floating-label="Courier"
                            md-item-text="item.text"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-min-length="3"
                            md-search-text="ctrl.searchText"
                            md-selected-item="ctrl.selectedItem"
                            placeholder="Start typing to search couriers">
                        <md-item-template>
                            <span md-highlight-flags="^i" md-highlight-text="ctrl.searchText">{{item.text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No couriers matching "{{ctrl.searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>

                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="ctrl.submit(ctrl.message, ctrl.selectedItem)">
                <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
