<div>
    <div>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <img alt="DFRNT" class="toolbar-logo" src="images/dfrnt_logo.png">
                <md-divider class="vertical-divider"></md-divider>
                <h2 class="md-title">Prebook Dashboard</h2>

                <span flex></span>

                <span style="font-size: medium;">{{greeting}}</span>

                <md-button aria-label="Menu" class="md-icon-button" ng-click="toggleSidenav()"
                           ng-mouseover="toggleSidenav()">
                    <md-icon md-font-set="material-symbols-outlined">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <material-sidenav></material-sidenav>
    </div>

    <div class="">
        <div class="columns">
            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in layout.columns"
                 r-directions="['right']"
                 r-flex="true" resizable style="flex-basis: {{column.width}}">
                <div class="column-sortable" ng-model="column.boxes" ui-sortable="sortableOptions">
                    <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                         r-directions="['bottom']"
                         r-flex="true" resizable style="flex-basis: {{box.height}}">

                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">

                                <!--Icon-->
                                <span class="material-symbols-outlined">{{boxes[box.name].icon}}</span>

                                <span class="md-headline-title" flex style="margin-left: 8px;">{{boxes[box.name].title}} <span
                                    ng-if="box.name == 'scanList'">{{currentSelection}}</span>
                            </span>

                                <!--    Send all -->
                                <md-button class="md-icon-button" ng-click="sendAllSelectPrebookJobs(selectedPrebooks)"
                                           ng-if="selectedPrebooks && selectedPrebooks.length > 0">
                                    <md-tooltip md-direction="bottom">Send All Selected</md-tooltip>
                                    <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                                </md-button>

                                <!--    Void all -->
                                <md-button class="md-icon-button" ng-click="voidAllSelectPrebookJobs(selectedPrebooks)"
                                           ng-if="selectedPrebooks && selectedPrebooks.length > 0">
                                    <md-tooltip md-direction="bottom">Void All Selected</md-tooltip>
                                    <md-icon md-font-set="material-symbols-outlined">block</md-icon>
                                </md-button>

                                <!-- Refresh -->
                                <md-button class="md-icon-button md-primary" ng-click="refreshData()"
                                           ng-if="boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                </md-button>

                                <div ng-if="box.name == 'eventList'">
                                    <input ng-model="searchBox" placeholder="Search Events..." type="text"/>
                                    <div class="results" ng-if="searchBox">
                                        <ul>
                                            <li class="result"
                                                ng-mousedown="selectEvent(event)"
                                                ng-repeat="event in filteredEvents = ( allEvents | filter: searchBox) | limitTo:10">
                                                {{event.jobNumber}}<br/> <small
                                                    class="address">{{event.courierName}} {{event.courierCode}}</small>
                                            </li>
                                        </ul>
                                        <small ng-hide="filteredEvents.length">No results</small>
                                    </div>
                                </div>

                                <div ng-if="box.name == 'eventList'">
                                    <md-checkbox aria-label="Include Closed" ng-change="refreshData(true)"
                                                 ng-model="pickDateService.includeClosed">
                                        Include Closed?
                                    </md-checkbox>
                                    <div layout="row" ng-if="isAdmin">
                                        <md-radio-group ng-change="refreshData(true)" ng-model="followupClient.name">
                                            <md-radio-button value="All">
                                                All
                                            </md-radio-button>
                                            <md-radio-button value="UCL">
                                                UCL
                                            </md-radio-button>
                                            <md-radio-button value="Client">
                                                Client
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div aria-label="Basic example" class="btn-group" role="group">
                                        ri
                                        F
                                        <!--<button type="button" class="btn btn-sm btn-secondary" title="Choose Date" ng-click="chooseDate()"><i class="fa fa-calendar-alt"></i></button>-->
                                    </div>
                                </div>


                                <div ng-if="box.name == 'jobDetail'">
                                    <md-button aria-label="reply" class="md-icon-button"
                                               ng-click="reply(currentEvent)"
                                               ng-if="currentEvent && !currentEvent.closedDate">
                                        <md-tooltip md-direction="bottom">Reply</md-tooltip>
                                        <md-icon md-font-icon="reply" md-font-set="material-symbols-outlined"></md-icon>
                                    </md-button>

                                    <md-button aria-label="copy link" class="md-icon-button"
                                               ng-click="generateDirectLink(currentEvent)"
                                               ng-if="currentEvent && ((isAdmin && !currentEvent.internal) || (!isAdmin && !currentEvent.internal))">
                                        <md-tooltip md-direction="bottom">Copy Link</md-tooltip>
                                        <md-icon md-font-icon="link" md-font-set="material-symbols-outlined"></md-icon>
                                    </md-button>

                                    <md-button aria-label="email photo proof of delivery" class="md-icon-button"
                                               ng-click="sendPOD()" ng-if="currentJob">
                                        <md-tooltip md-direction="bottom">Email Photo POD</md-tooltip>
                                        <md-icon md-font-icon="send" md-font-set="material-symbols-outlined"></md-icon>
                                    </md-button>
                                </div>

                                <div class="row-overflow" id="box-{{box.name}}-{{$index}}" layout="row"
                                     ng-if="boxes[box.name].showSearch">
                                    <md-button class="md-icon-button" ng-click="openSearch(box.name, $index)">
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="!showInput[box.name + '-' + $index]">search
                                        </md-icon>
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="showInput[box.name + '-' + $index]">close
                                        </md-icon>
                                    </md-button>

                                    <md-input-container class="md-block search-input-container" md-no-float
                                                        ng-if="showInput[box.name + '-' + $index]">
                                        <md-icon md-font-set="material-symbols-outlined ">search</md-icon>
                                        <input class="search-input" ng-change="updateTable()" ng-model="searchText"
                                               placeholder="Search jobs..." type="text">
                                    </md-input-container>
                                </div>

                                <div class="box-handle md-icon-button">
                                    <md-icon class="md-drag-button" md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>

                            </div>
                        </md-toolbar>

                        <div class="box-content" ng-include="boxes[box.name].templateUrl"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id='draggingItems'></div>
</div>
