<div>
    <div>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <img alt="logo" class="logo" src="/images/DFRNT-logo.png"/>

                <span flex></span>

                <span style="font-size: medium;">{{greetUser()}}</span>

                <md-menu>
                    <md-button aria-label="Open layout options menu" class="md-icon-button"
                               ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">widgets</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="saveLayout()">
                                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                                Save Layout
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item ng-repeat="lo in layouts track by $index">
                            <md-button>
                                <md-icon md-font-set="material-symbols-outlined" ng-click="deleteLayout($index)">
                                    delete
                                </md-icon>
                                <span ng-click="loadLayout($index)"
                                      ng-style="lo.name == currentLayoutName ? {'font-weight':'bold'} : {}">{{lo.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-divider class="vertical-divider"></md-divider>

                <md-button aria-label="Menu" class="md-icon-button" ng-click="toggleSidenav()"
                           ng-mouseover="toggleSidenav()">
                    <md-icon md-font-set="material-symbols-outlined">menu</md-icon>
                </md-button>

            </div>
        </md-toolbar>
        <material-sidenav></material-sidenav>
    </div>


    <div class="">
        <div class="columns">
            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in layout.columns"
                 r-directions="['right']"
                 r-flex="true" resizable style="flex-basis: {{column.width}}">
                <div class="column-sortable" ng-model="column.boxes" ui-sortable="sortableOptions">
                    <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                         r-directions="['bottom']"
                         r-flex="true" resizable style="flex-basis: {{box.height}}">

                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">

                                   <span class="md-headline-title"
                                         flex>{{boxes[box.name].title}}
                                    <span ng-if="box.name == 'scanList'">{{currentSelection}}</span>
                                    <span ng-if="box.name == 'jobDetail'">{{currentSelection}}</span>
                                    <span ng-if="box.name == 'jobDetail' && currentJob.locked"> - LOCKED</span>
                                    <span ng-if="box.name == 'jobDetail' && currentJob.relatedJobs.length > 1"
                                          ng-repeat="jo in currentJob.relatedJobs">&nbsp;
                                        <span
                                                ng-click="loadRelatedJobDetail(jo.id, jo.label)"
                                                ng-style="currentJob.id == jo.id ? {'font-weight':'bold', 'color':'#fddd00'} : {'font-weight':'normal'}"
                                                style="cursor:pointer;text-decoration:underline;">{{jo.label}}
                                    </span>
                                    </span>
                                </span>

                                <div ng-if="box.name == 'eventList'">
                                    <md-checkbox ng-change="refreshData(true)" ng-model="followupClient.includeClosed">
                                        Include Closed?
                                    </md-checkbox>

                                    <md-radio-group ng-change="refreshData(true)" ng-model="followupClient.name"
                                                    ng-if="isAdmin">
                                        <md-radio-button value="All">
                                            All
                                        </md-radio-button>

                                        <md-radio-button value="UCL">
                                            UCL
                                        </md-radio-button>

                                        <md-radio-button value="Client">
                                            Client
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div ng-if="box.name == 'jobDetail'">
                                    <md-fab-speed-dial class="md-scale"
                                                       md-direction="left"
                                                       ng-if="currentJob"
                                                       md-open="jobDetailFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="jobDetailFabIsOpen=true"
                                                       ng-mouseleave="jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="showAdditionalServicesMenu($event, currentJob)"
                                                       ng-if="currentJob">
                                                <md-tooltip md-direction="bottom">Additional Services</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">add_shopping_cart
                                                </md-icon>
                                            </md-button>

                                            <md-button aria-label="Dispatch to Courier"
                                                       class="md-fab md-raised md-mini"
                                                       ng-click="selectAndDispatchJob($event, currentJob)"
                                                       ng-if="currentJob && !currentJob.bulkJob && !currentJob.preBook && currentJob.courier == null">
                                                <md-tooltip md-direction="bottom">Dispatch to Courier</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send_to_mobile
                                                </md-icon>
                                            </md-button>

                                            <md-button aria-label="Reply"
                                                       class="md-fab md-raised md-mini"
                                                       ng-click="reply(currentEvent)"
                                                       ng-if="currentEvent && !currentEvent.closedDate">
                                                <md-tooltip md-direction="bottom">Reply</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">reply</md-icon>
                                            </md-button>

                                            <md-button aria-label="Copy Link" class="md-fab md-raised md-mini"
                                                       ng-click="generateDirectLink(currentEvent)"
                                                       ng-if="currentEvent && ((isAdmin && !currentEvent.internal) || (!isAdmin && !currentEvent.internal))">
                                                <md-tooltip md-direction="bottom">Copy Link</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">link</md-icon>
                                            </md-button>

                                            <md-button aria-label="Restore Job" class="md-fab md-raised md-mini"
                                                       ng-click="restoreJob(currentJob)"
                                                       ng-if="currentJob && !currentJob.bulkJob && !currentJob.preBook && currentJob.courier != null && !currentJob.done">
                                                <md-tooltip md-direction="bottom">Restore Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>

                                            <md-button aria-label="Swap POD" class="md-fab md-raised md-mini"
                                                       ng-click="swapPOD($event)"
                                                       ng-if="currentJob && !currentJob.bulkJob && !currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Swap POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">swap_horiz</md-icon>
                                            </md-button>

                                            <md-button aria-label="Email Photo POD" class="md-fab md-raised md-mini"
                                                       ng-click="sendPOD($event)"
                                                       ng-if="currentJob && !currentJob.bulkJob && !currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Email Photo POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                                            </md-button>

                                            <md-button aria-label="Unlock Job" class="md-fab md-raised md-mini"
                                                       ng-click="unlockJob()"
                                                       ng-if="currentJob && !currentJob.preBook && (currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock</md-icon>
                                            </md-button>

                                            <md-button aria-label="Lock Job" class="md-fab md-raised md-mini"
                                                       ng-click="lockJob()"
                                                       ng-if="currentJob && !currentJob.preBook && !currentJob.bulkJob && (!currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open</md-icon>
                                            </md-button>

                                            <md-button aria-label="UnSplit Job" class="md-fab md-raised md-mini"
                                                       ng-click="unSplitJob()"
                                                       ng-if="currentJob && !currentJob.preBook && (!currentJob.locked && currentJob.jobRelationshipTypeID ==8)">
                                                <md-tooltip md-direction="bottom">UnSplit Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                            </div>
                        </md-toolbar>

                        <div class="box-content"
                             ng-class="{'related-content':box.name == 'jobDetail' && currentJob.relatedJobs.length > 4}"
                             ng-include="boxes[box.name].templateUrl"></div>
                    </div>

                </div>
            </div>

        </div>

        <ul active-icon="close"
            effect="slidein"
            mfb-menu
            position="bl"
            resting-icon="menu"
            template-url="ng-mfb-menu-md.tpl.html"
            toggling-method="hover">
            <mfb-button
                    icon="add"
                    label="Add New Job"
                    ng-click="createNewJob($event)"
                    template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
            <mfb-button
                    icon="attach_money"
                    label="Inter-Courier Charge"
                    ng-click="interCourierCharge($event)"
                    template-url="ng-mfb-button-md.tpl.html">
            </mfb-button>
        </ul>
    </div>

    <div id='draggingItems'></div>
</div>

<script>
    (function () {
        document.onkeydown = overrideKeyboardEvent;
        document.onkeyup = overrideKeyboardEvent;
        var keyIsDown = {};

        angular.element(document).on('focus', '.searchBox input', function () {
            angular.element(".results").fadeIn(100);
        });
        angular.element(document).on('blur', '.searchBox input', function () {
            angular.element(".results").fadeOut(100);
        });

        function overrideKeyboardEvent(e) {
            switch (e.type) {
                case "keydown":
                    if (!keyIsDown[e.keyCode]) {
                        keyIsDown[e.keyCode] = true;
                        // do key down stuff here
                        if (e.keyCode === 82 && e.ctrlKey) {
                            //location.reload();
                        }
                    }
                    break;
                case "keyup":
                    delete keyIsDown[e.keyCode];
                    // do key up stuff here
                    break;
            }
            disabledEventPropagation(e);
            if (e.keyCode === 68 && e.ctrlKey) {
                e.preventDefault();
                return false;
            }
            if (e.keyCode === 65 && e.ctrlKey) {
                e.preventDefault();
                return false;
            }
        }

        function disabledEventPropagation(e) {
            if (e.keyCode === 68 && e.ctrlKey) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
            }
        }

        angular.element(document).on('click', '.top-bar .btn-group .btn', function (event) {
            angular.element(this).parent().find('.topBarActive').removeClass('topBarActive');
            angular.element(this).addClass('topBarActive');
        });

        angular.element(document).ready(function () {
            var favicon = document.getElementById("favicon");
            favicon.setAttribute("href", "/POD_favicon.ico");
            var isDown = false;   // Tracks status of mouse button

            angular.element(document).mousedown(function () {
                isDown = true;      // When mouse goes down, set isDown to true
            })
                .mouseup(function () {
                    isDown = false;    // When mouse goes up, set isDown to false
                });

            var isOnRow = false;

            angular.element(document).on("mouseenter", ".activeTable .clickable-row", function (event) {
                if (event.ctrlKey) {
                    if (isDown) {        // Only change css if mouse is down
                        angular.element(this).addClass("active");
                    }
                }
            });

            angular.element(document).on("hover", ".activeTable .clickable-row", function (event) {
                isOnRow = true;
            });

            angular.element(document).on("mouseleave", ".activeTable .clickable-row", function (event) {
                isOnRow = false;
            });

            angular.element(document).on('click', '.box-content', function (event) {
                event.stopPropagation();
                if (isOnRow) {
                    angular.element(".activeTable .active").removeClass("active");
                }
            });
        });

        var mouseDown = 0;

        angular.element(document).on('mousedown', '.clickable-row', function (event) {
            var group;
            var jobNo;
            if (angular.element(".activeTable .clickable-row.active").length > 1) {
                jobNo = angular.element(".activeTable .clickable-row.active").length + " Jobs";
            } else {
                jobNo = angular.element(this).attr("data-jobno");
            }

            if (mouseDown === 0) {
                mouseDown = 1;

                if (event.which === 1) {
                    if (event.ctrlKey) {
                        if (angular.element(this).hasClass("active")) {
                            angular.element(this).removeClass('active');
                        } else {
                            angular.element(this).addClass('active');
                        }
                    } else {
                        if (!angular.element(this).hasClass("active")) {
                            group = angular.element(this).parents(".table-rows").attr("data-group");
                            angular.element('*[data-group="' + group + '"]').each(function () {
                                angular.element(this).find('.active').removeClass('active');
                            });

                            angular.element(this).addClass('active');
                        }
                    }

                    angular.element(".activeTable").removeClass("activeTable");
                    angular.element(this).parents(".table").addClass("activeTable");
                }

                if (!event.ctrlKey) {
                    if (angular.element(this).hasClass("draggable-row")) {
                        if (!angular.element(this).hasClass("active")) {
                            group = angular.element(this).parents(".table-rows").attr("data-group");
                            angular.element('*[data-group="' + group + '"]').each(function () {
                                angular.element(this).find('.active').removeClass('active');
                            });
                            angular.element(this).addClass('active');
                        }
                        setTimeout(function () {
                            if (mouseDown === 1) {
                                angular.element("#draggingItems").show();
                                angular.element("#draggingItems").html(jobNo);

                                angular.element("#draggingItems").css({
                                    "top": event.pageY - 25,
                                    "left": event.pageX - 50
                                });
                                angular.element("#draggingItems").draggable();
                                angular.element("#draggingItems").trigger(event);
                            }
                        }, 200);
                    }
                }
            }
        });

        angular.element(document).on('mouseup', '.clickable-row', function (event) {
            if (event.which === 3) {
                angular.element(".rightActiveTable").removeClass("rightActiveTable");
                angular.element(this).parents(".table").addClass("rightActiveTable");
            }
            if (!event.ctrlKey) {
                if (!angular.element(this).hasClass("active")) {
                    var group = angular.element(this).parents(".table-rows").attr("data-group");

                    angular.element('*[data-group="' + group + '"]').each(function () {
                        angular.element(this).find('.active').removeClass('active');
                    });
                    angular.element(this).addClass('active');
                }
            }
        });

        angular.element(document).on('click', '.clickable-row', function (event) {
            event.stopPropagation();
        });

        angular.element(document).on("mouseup", function (ev) {
            angular.element("#draggingItems").hide();
            mouseDown = 0;
        });

        angular.element(document).on("keydown", function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code === 40) {
                angular.element(".activeTable").find(".active").removeClass("active").next().addClass("active").mouseup().click();
            } else if (code === 38) {
                angular.element(".activeTable").find(".active").removeClass("active").prev().addClass("active").mouseup().click();
            }
        });

        function sizeHeadings(ele) {
            angular.element("body").find(".box").each(function () {
                var box = angular.element(this);
                box.find(".table-headings thead tr th").each(function (index) {
                    var newWidth = box.find(".table tbody tr td:visible").eq(index).width();
                    angular.element(this).width(newWidth);
                });
                box.find(".table-headings table").width(box.find(".table").width());
            });

            angular.element("body").find(".box").each(function () {
                var box = angular.element(this);
                box.find(".table-b-headings thead tr th").each(function (index) {
                    var newWidth = box.find(".table tbody tr td:visible").eq(index).width();
                    angular.element(this).width(newWidth);
                });
                box.find(".table-b-headings table").width(box.find(".table").width());
            });
        }
    })();
</script>
