<md-dialog aria-label="Select Date Range" class="date-range-dialog date-range-dialog-component">
    <form ng-cloak>
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <md-icon class="popup-icon" md-font-set="material-symbols-outlined">date_range</md-icon>
                <h2>Select Date Range</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-font-set="material-symbols-outlined">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-gt-sm="row">
                    <!-- Start Date Calendar -->
                    <div class="calendar-container" flex-order="1" flex-order-gt-sm="0" layout="column">
                        <md-subheader>Start Date</md-subheader>
                        <md-calendar ng-model="ctrl.startDate"></md-calendar>
                    </div>

                    <!-- End Date Calendar -->
                    <div class="calendar-container" flex-order="1" flex-order-gt-sm="1" layout="column">
                        <md-subheader>End Date</md-subheader>
                        <md-calendar ng-model="ctrl.endDate"></md-calendar>
                    </div>

                    <!-- Date Summary Section -->
                    <div class="date-summary" flex-order="0" flex-order-gt-sm="2" layout="column">
                        <md-subheader class="md-no-sticky">
                            <div layout="row" layout-align="start center">
                                <span class="subheader-text">Summary</span>
                            </div>
                        </md-subheader>

                        <div class="summary-card">
                            <!-- Start Date -->
                            <div class="date-item">
                                <div class="date-content" layout="column">
                                    <md-icon class="date-icon" md-font-set="material-symbols-outlined">calendar_today
                                    </md-icon>
                                    <span class="date-label">Start</span>
                                    <div class="date-value" ng-class="{'selected': ctrl.startDate}">
                                        {{ctrl.startDate | date:'MMM d, y'}}
                                    </div>
                                </div>
                            </div>

                            <md-divider></md-divider>

                            <!-- End Date -->
                            <div class="date-item">
                                <div class="date-content" layout="column">
                                    <md-icon class="date-icon" md-font-set="material-symbols-outlined">event</md-icon>
                                    <span class="date-label">End</span>
                                    <div class="date-value" ng-class="{'selected': ctrl.endDate}">
                                        {{ctrl.endDate | date:'MMM d, y'}}
                                    </div>
                                </div>
                            </div>

                            <md-divider></md-divider>

                            <!-- Duration -->
                            <div class="date-item">
                                <div class="date-content" layout="column">
                                    <md-icon class="date-icon" md-font-set="material-symbols-outlined">schedule
                                    </md-icon>
                                    <span class="date-label">Duration</span>
                                    <div class="date-value">
                                        {{ctrl.getDuration()}} Days
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="!ctrl.isValidRange()">
                Apply
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
