@import "variables";

md-toast {
  .md-toast-content {
    &.md-success-toast-theme {
      background-color: @primary-green !important;
      color: white !important;
    }

    &.md-error-toast-theme {
      background-color: @error-red !important;
      color: white !important;
    }

    &.md-warning-toast-theme {
      background-color: @primary-warning !important;
      color: white !important;
    }

    &.md-info-toast-theme {
      background-color: @primary-color !important;
      color: white !important;
    }
  }

  &.md-bottom {
    left: 50% !important;
    right: initial !important;
    max-width: 80%;
    min-width: 300px;
  }
}
