md-toast {
  .md-toast-content {
    &.md-success-toast-theme {
      background-color: rgb(76, 175, 80) !important;
      color: white !important;
    }

    &.md-error-toast-theme {
      background-color: rgb(244, 67, 54) !important;
      color: white !important;
    }

    &.md-warning-toast-theme {
      background-color: rgb(255, 152, 0) !important;
      color: white !important;
    }
  }
}
