// Material theme
@primary-color: #3EAFC2;
@hover-color: rgba(0, 150, 136, 0.04);
@active-color: rgba(0, 150, 136, 0.12);

// Status color variables
@status-blue: #BFDBFE; // New, Preassigned
@status-green: #BBF7D0; // Despatched, Accepted
@status-green-dark: #86EFAC; // Picked up, In Transit, Out for Delivery
@status-red-light: #FCA5A5; // Rejected, Late Pickup, Late Delivery, Warning
@status-red: #EF4444; // Undeliverable
@status-gray: #9CA3AF; // Completed, Awaiting POD, Assuming Completed

// Text colors
@text-dark: black;
@text-light: white;
