<md-dialog aria-label="Price Breakdown" class="price-breakdown-dialog">
    <form name="ctrl.priceBreakdownForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon class="popup-icon" md-font-set="material-symbols-outlined">payments</md-icon>
                <h2>Price Breakdown</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-tooltip md-direction="bottom">Close</md-tooltip>
                    <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!ctrl.isEditing">
                    <div class="table-header">
                        <h3>Price Breakdown Items for Job #{{ctrl.jobId}}</h3>
                        <md-button class="md-raised md-primary" ng-click="ctrl.addNewItem()">
                            <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                            Add New Item
                        </md-button>
                    </div>

                    <md-table-container ng-if="ctrl.priceBreakdown.length > 0">
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>Charge ID</th>
                                <th md-column>Name</th>
                                <th md-column>Amount</th>
                                <th md-column>Actions</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="item in ctrl.priceBreakdown">
                                <td md-cell>{{item.chargeId}}</td>
                                <td md-cell>{{item.name}}</td>
                                <td md-cell>{{item.amount | currency}}</td>
                                <td md-cell>
                                    <md-button class="md-icon-button" ng-click="ctrl.editItem(item)">
                                        <md-tooltip md-direction="left">Edit</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="ctrl.deleteItem(item)">
                                        <md-tooltip md-direction="left">Delete</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <div ng-if="ctrl.priceBreakdown.length === 0" class="no-items-message">
                        <md-icon md-font-set="material-symbols-outlined">info</md-icon>
                        <p>No price breakdown items found for this job.</p>
                        <md-button class="md-raised md-primary" ng-click="ctrl.addNewItem()">
                            Add New Item
                        </md-button>
                    </div>
                </div>

                <!-- Edit form -->
                <div ng-if="ctrl.isEditing">
                    <div class="form-header">
                        <h3>{{ctrl.isNew ? 'Add New' : 'Edit'}} Price Breakdown Item</h3>
                    </div>

                    <div layout="column">
                        <!-- Charge ID - only visible when editing existing -->
                        <md-input-container class="md-block" ng-if="!ctrl.isNew">
                            <label for="chargeId">Charge ID</label>
                            <input id="chargeId" name="chargeId" type="number" ng-model="ctrl.selectedPriceBreakdown.chargeId" required min="0" readonly/>
                        </md-input-container>

                        <!-- Name -->
                        <md-input-container class="md-block">
                            <label for="name">Name</label>
                            <input id="name" name="name" type="text" ng-model="ctrl.selectedPriceBreakdown.name" required/>
                            <div ng-messages="ctrl.priceBreakdownForm.name.$error">
                                <div ng-message="required">This field is required.</div>
                            </div>
                        </md-input-container>

                        <!-- Amount -->
                        <md-input-container class="md-block">
                            <label for="amount">Amount</label>
                            <input id="amount" name="amount" type="number" ng-model="ctrl.selectedPriceBreakdown.amount" required step="0.01"/>
                            <div ng-messages="ctrl.priceBreakdownForm.amount.$error">
                                <div ng-message="required">This field is required.</div>
                            </div>
                        </md-input-container>

                        <!-- Optional fields -->
                        <div layout="row">
                            <!-- Job ID (Hidden but included) -->
                            <input type="hidden" ng-model="ctrl.selectedPriceBreakdown.jobId"/>

                            <!-- Prebook Job ID (Optional) -->
                            <md-input-container class="md-block" flex>
                                <label for="prebookJobId">Prebook Job ID (Optional)</label>
                                <input id="prebookJobId" name="prebookJobId" type="number" ng-model="ctrl.selectedPriceBreakdown.prebookJobId" min="0"/>
                                <div ng-messages="ctrl.priceBreakdownForm.prebookJobId.$error">
                                    <div ng-message="min">Value must be 0 or greater.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <!-- Form actions -->
                        <div layout="row" layout-align="end center" class="form-actions">
                            <md-button class="md-raised" ng-click="ctrl.cancelEdit()">
                                Cancel
                            </md-button>
                            <md-button class="md-raised md-primary" ng-click="ctrl.saveItem()">
                                Save
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" ng-if="!ctrl.isEditing">
            <span flex></span>
            <md-button class="md-raised" ng-click="ctrl.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.save()">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
