<md-dialog aria-label="Map" class="map-dialog-component">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">map</md-icon>
            <h2>{{ctrl.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-font-set="material-symbols-outlined">close</md-icon>
                <md-tooltip md-direction="bottom">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <!-- Loading Indicator -->
            <div layout="row" layout-align="center center" ng-if="ctrl.loading" style="min-height: 300px;">
                <div style="position: relative;">
                    <md-progress-circular
                            md-diameter="70"
                            md-mode="indeterminate">
                    </md-progress-circular>
                    <md-icon
                            md-font-set="material-symbols-outlined"
                            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px;">
                        map
                    </md-icon>
                </div>
            </div>

            <!-- Map (shown when not loading) -->
            <div ng-if="!ctrl.loading">
                <here-map-tracking
                        config="ctrl.mapConfig"
                        credentials="ctrl.hereCredentials"
                        map-id="mapContainer"
                        on-map-ready=""
                        style="width: 800px; height:500px;">
                </here-map-tracking>

                <div class="job-timeline" layout="row" layout-align="center center" ng-if="!ctrl.loading">
                    <div class="timeline-container" layout="row" layout-align="center center">
                        <!-- Parent Job Step -->
                        <div layout="row" layout-align="center center">
                            <div class="timeline-step"
                                 ng-class="{'active': ctrl.selectedJobIndex === 0}"
                                 ng-click="ctrl.switchMapJob(0)">
                                <div class="step-circle"
                                     md-colors="{background: ctrl.selectedJobIndex === 0 ? 'primary' : 'background-400'}">
                                    P
                                </div>
                                <div class="step-label">{{ctrl.delivery.jobName}}</div>
                            </div>
                            <!-- Connector Line to first child -->
                            <div class="timeline-connector"
                                 md-colors="{background: 'background-400'}">
                                <md-icon md-font-set="material-symbols-outlined">arrow_forward</md-icon>
                            </div>
                        </div>

                        <!-- Child Jobs -->
                        <div layout="row" layout-align="center center" ng-repeat="job in ctrl.delivery.childJobs">
                            <!-- Job Step Circle -->
                            <div class="timeline-step"
                                 ng-class="{'active': ctrl.selectedJobIndex === $index + 1}"
                                 ng-click="ctrl.switchMapJob($index + 1)">
                                <div class="step-circle"
                                     md-colors="{background: ctrl.selectedJobIndex === $index + 1 ? 'primary' : 'background-400'}">
                                    {{$index + 1}}
                                </div>
                                <div class="step-label" ng-bind="job.jobName"></div>
                            </div>
                            <!-- Connector Line (don't show after last item) -->
                            <div class="timeline-connector"
                                 md-colors="{background: 'background-400'}"
                                 ng-if="!$last">
                                <md-icon md-font-set="material-symbols-outlined">arrow_forward</md-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
