<div class="error-page" ng-class="{'us-theme': ctrl.isUsCustomer, 'nz-theme': !ctrl.isUsCustomer}">
    <div class="error-page__card md-whiteframe-4dp">
        <div class="error-page__code" ng-if="ctrl.config.code">
            {{ctrl.config.code}}
        </div>
        <div class="error-page__icon-container">
            <md-icon class="error-page__icon" md-font-set="material-symbols-outlined">{{ctrl.config.icon}}</md-icon>
        </div>
        <div class="error-page__content">
            <h1 class="error-page__title">{{ctrl.config.title}}</h1>
            <p class="error-page__message">{{ctrl.config.message}}</p>
        </div>
        <div class="error-page__actions">
            <md-button class="md-raised" ng-click="ctrl.goBack()">
                <md-icon md-font-set="material-symbols-outlined">arrow_back</md-icon>
                Go Back
            </md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.goHome()">
                <md-icon md-font-set="material-symbols-outlined">home</md-icon>
                Go Home
            </md-button>
        </div>
    </div>
</div>
