<md-dialog style="width: 40%;">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">extension</md-icon>
            <h2>Additional Services</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.refreshServices()">
                <md-tooltip md-direction="bottom">Refresh Services</md-tooltip>
                <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Close</md-tooltip>
                <md-icon md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div ng-if="!ctrl.isLoading">
            <md-table-container>
                <table md-progress="ctrl.isLoading"
                       md-row-select
                       md-table
                       multiple
                       ng-model="ctrl.selected">
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Name</span></th>
                        <th md-column md-numeric md-order-by="rate"><span>Rate</span></th>
                        <th md-column md-order-by="description">Description</th>
                        <th md-column>Per Item?</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-auto-select="true" md-on-select="ctrl.addToSelectList" md-row md-select="service"
                        ng-repeat="service in ctrl.additionalServices">
                        <td md-cell>{{service.name}}</td>
                        <td md-cell>{{service.rate}}</td>
                        <td md-cell>{{service.description}}</td>
                        <td md-cell>
                            <md-checkbox disabled ng-model="service.perItem"></md-checkbox>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-card class="centered-card" ng-if="ctrl.totalServicesCount !== 0"
                     style="margin-top: 10px; margin-bottom: 10px;">
                <md-card-content>

                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; justify-content: space-between; font-size: 1.2em;">
                            <p style="font-weight: bold;">Description</p>
                            <p></p>
                        </div>

                        <div ng-repeat="service in ctrl.selected"
                             style="display: flex; justify-content: space-between;">
                            <span>{{service.name}}</span>
                            <span>{{service.rate}}</span>
                        </div>

                        <md-divider></md-divider>

                        <div style="display: flex; justify-content: space-between;">
                            <p style="font-weight: bold;">Total: (EXCL GST)</p>

                            <div ng-if="ctrl.isTotalCostCalculating">
                                <md-progress-circular md-diameter="20px" md-mode="indeterminate"></md-progress-circular>
                            </div>

                            <p ng-if="!ctrl.isTotalCostCalculating">${{ctrl.totalCost}}</p>
                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </div>

        <div ng-if="ctrl.isLoading"
             style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="ctrl.bookServices()"
                   ng-if="!ctrl.isLoading">
            Update
        </md-button>
    </md-dialog-actions>
</md-dialog>


<style>
    .centered-card {
        margin: auto;
        width: 80%;
        max-width: 100%;
    }

    @media screen and (max-width: 768px) {
        .centered-card {
            width: 100%;
        }
    }
</style>
