<md-dialog aria-label="{{ ctrl.title }}" id="{{ ctrl.id }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Enter your Message</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="ctrl.submit(ctrl.message)">

                <p style="align-items: center;">Your message can be a max of 160 characters</p>

                <md-input-container class="md-block">
                    <label for="message">Message</label>
                    <textarea
                            id="message"
                            md-maxlength="160"
                            md-no-asterisk
                            md-select-on-focus
                            ng-model="ctrl.message"
                            required
                            rows="5"></textarea>
                </md-input-container>

            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-progress-circular
                class="md-primary"
                md-diameter="40"
                md-mode="indeterminate"
                ng-disabled="!ctrl.message"
                ng-show="ctrl.isLoading">
        </md-progress-circular>

        <md-button
                class="md-raised md-primary"
                ng-click="ctrl.submit(ctrl.message)"
                ng-disabled="!ctrl.message"
                ng-show="!ctrl.isLoading">
            Send
        </md-button>
    </md-dialog-actions>
</md-dialog>
