<md-content class="md-dense job-search-view">
    <!-- React App Shell (Toolbar + Side Navigation) -->
    <react-app-shell
            section="Dashboards"
            title="Search"
            messages-count="0"
            on-messages-click="ctrl.openMessagingDialog($event)"
            layouts="ctrl.layouts"
            current-layout-name="ctrl.currentLayoutName"
            on-save-layout="ctrl.saveLayout()"
            on-load-layout="ctrl.loadLayout(index)"
            on-delete-layout="ctrl.deleteLayout(index)"
            on-settings-click="ctrl.openSettingsDialog($event)"
            on-customize-panels="ctrl.openCustomizePanelsDialog()"
            on-create-new-job="ctrl.createNewJob($event)"
            on-inter-courier-charge="ctrl.interCourierCharge($event)">
    </react-app-shell>

    <div class="dashboard-padding">
        <div class="columns" ng-class="{'layout-locked': ctrl.isDefaultLayout()}">
            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in ctrl.layout.columns"
                 ng-class="{'resize-disabled': ctrl.isDefaultLayout()}"
                 r-directions="['right']" r-flex="true" resizable style="flex-basis: {{column.width}}">

                <div class="column-sortable"
                     ui-sortable="ctrl.boxSortableOptions"
                     ng-model="column.boxes">
                    <div class="box"
                         id="box-{{box.name}}"
                         ng-repeat="(boxName,box) in column.boxes"
                         ng-class="{'box-collapsed': ctrl.boxes[box.name].collapsed, 'resize-disabled': ctrl.isDefaultLayout()}"
                         r-directions="['bottom']"
                         r-flex="true"
                         resizable
                         ng-if="ctrl.boxes[box.name].visible"
                         style="flex-basis: {{box.height}}">

                        <md-toolbar class="widget-toolbar">
                            <div class="md-toolbar-tools">
                                <!--Icon-->
                                <span class="material-symbols-outlined">{{::ctrl.boxes[box.name].icon}}</span>

                                <span class="md-card-title"
                                      flex md-truncate>{{::ctrl.boxes[box.name].title}}
                                    <span ng-if="::box.name == 'scanList'">{{ctrl.currentSelection}}</span>
                                    <span ng-if="::box.name == 'jobDetail'">{{ctrl.currentSelection}}</span>
                                    <span ng-if="box.name == 'jobDetail' && ctrl.currentJob.locked"> - LOCKED</span>
                                </span>

                                <div ng-if="box.name == 'eventList'">
                                    <md-checkbox ng-change="ctrl.refreshData(true)"
                                                 ng-model="ctrl.followupClient.includeClosed">
                                        Include Closed?
                                    </md-checkbox>

                                    <md-radio-group ng-change="ctrl.refreshData(true)"
                                                    ng-model="ctrl.followupClient.name"
                                                    ng-if="ctrl.isAdmin">
                                        <md-radio-button value="All">
                                            All
                                        </md-radio-button>

                                        <md-radio-button value="UCL">
                                            UCL
                                        </md-radio-button>

                                        <md-radio-button value="Client">
                                            Client
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div ng-if="box.name == 'jobDetail'">
                                    <md-fab-speed-dial class="md-scale"
                                                       md-direction="left"
                                                       ng-if="ctrl.currentJob"
                                                       md-open="ctrl.jobDetailFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="ctrl.jobDetailFabIsOpen=true"
                                                       ng-mouseleave="ctrl.jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-if="ctrl.currentJob && ctrl.currentJob.accessorialChargeGroupId"
                                                       ng-click="ctrl.showAccessorialChargesMenu($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Accessorial Charges</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">receipt_long</md-icon>
                                            </md-button>

                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.openFileAttachmentDialog($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Attachments</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">cloud_upload
                                                </md-icon>
                                            </md-button>

                                            <md-button aria-label="Dispatch to Courier"
                                                       class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.selectAndDispatchJob($event, ctrl.currentJob)"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.bulkJob && !ctrl.currentJob.preBook && ctrl.currentJob.courier == null">
                                                <md-tooltip md-direction="bottom">Dispatch to Courier</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send_to_mobile
                                                </md-icon>
                                            </md-button>

                                            <md-button aria-label="Reply"
                                                       class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.reply(ctrl.currentEvent)"
                                                       ng-if="ctrl.currentEvent && !ctrl.currentEvent.closedDate">
                                                <md-tooltip md-direction="bottom">Reply</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">reply</md-icon>
                                            </md-button>

                                            <md-button aria-label="Copy Link" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.generateDirectLink(ctrl.currentEvent)"
                                                       ng-if="ctrl.currentEvent && ((ctrl.isAdmin && !ctrl.currentEvent.internal) || (!ctrl.isAdmin && !ctrl.currentEvent.internal))">
                                                <md-tooltip md-direction="bottom">Copy Link</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">link</md-icon>
                                            </md-button>

                                            <md-button aria-label="Restore Job" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.restoreJob(ctrl.currentJob)"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.bulkJob && !ctrl.currentJob.preBook && ctrl.currentJob.courier != null && !ctrl.currentJob.done && !ctrl.currentJob.isArchived">
                                                <md-tooltip md-direction="bottom">Restore Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>

                                            <md-button aria-label="Swap POD" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.swapPOD($event)"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.bulkJob && !ctrl.currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Swap POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">swap_horiz
                                                </md-icon>
                                            </md-button>

                                            <md-button aria-label="Email Photo POD" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.sendPOD($event)"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.bulkJob && !ctrl.currentJob.preBook">
                                                <md-tooltip md-direction="bottom">Email Photo POD</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                                            </md-button>

                                            <md-button aria-label="Unlock Job" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.unlockJob()"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.preBook && (ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock</md-icon>
                                            </md-button>

                                            <md-button aria-label="Lock Job" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.lockJob()"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.preBook && !ctrl.currentJob.bulkJob && (!ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open</md-icon>
                                            </md-button>

                                            <md-button aria-label="UnSplit Job" class="md-fab md-raised md-mini"
                                                       ng-click="ctrl.unSplitJob()"
                                                       ng-if="ctrl.currentJob && !ctrl.currentJob.preBook && (!ctrl.currentJob.locked && ctrl.currentJob.jobRelationshipTypeID ==8)">
                                                <md-tooltip md-direction="bottom">UnSplit Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <md-button class="md-icon-button"
                                           ng-click="ctrl.onRefreshButtonClicked(box.name)"
                                           ng-if="::ctrl.boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                    <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                                </md-button>

                                <md-button class="md-icon-button box-collapse-btn"
                                           ng-click="ctrl.toggleBoxCollapse(box.name)"
                                           ng-if="!ctrl.isDefaultLayout()"
                                           aria-label="{{ctrl.boxes[box.name].collapsed ? 'Expand' : 'Collapse'}}">
                                    <md-icon md-font-set="material-symbols-outlined">
                                        {{ctrl.boxes[box.name].collapsed ? 'expand_more' : 'expand_less'}}
                                    </md-icon>
                                    <md-tooltip md-direction="bottom">
                                        {{ctrl.boxes[box.name].collapsed ? 'Expand' : 'Collapse'}}
                                    </md-tooltip>
                                </md-button>

                                <div class="box-handle md-icon-button" ng-if="!ctrl.isDefaultLayout()">
                                    <md-icon class="md-drag-button" md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>
                            </div>
                        </md-toolbar>

                        <div class="box-content" ng-if="!ctrl.boxes[box.name].collapsed" ng-include="::ctrl.boxes[box.name].templateUrl"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="draggingItems"></div>
</md-content>
