<div class="sticky-notes">
    <div class="note-list-container">

        <md-toolbar class="job-detail-toolbar">
            <div class="md-toolbar-tools">
                <span class="material-symbols-outlined">note</span>
                <span class="md-headline-title" flex style="margin-left: 8px;">
                    Notes
                    <span ng-if="ctrl.isFilterActive()" class="filter-indicator">
                        - {{ctrl.getCategoryName()}}
                    </span>
                </span>

                <div flex></div>

                <md-menu>
                    <md-button aria-label="Open note category menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined" ng-if="ctrl.noteCategories">
                            {{ctrl.isFilterActive() ? 'filter_alt' : 'category'}}
                        </md-icon>
                        <md-tooltip md-direction="bottom">Filter by Category</md-tooltip>
                        <md-progress-circular md-diameter="18" md-mode="indeterminate"
                                              ng-if="!ctrl.noteCategories"></md-progress-circular>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-if="ctrl.noteCategories && ctrl.noteCategories.length === 0">
                            <p>No note categories are available.</p>
                        </md-menu-item>

                        <md-menu-item ng-if="ctrl.noteCategories && ctrl.noteCategories.length > 0">
                            <md-button ng-click="ctrl.filterByCategory('all')"
                                       ng-class="{'md-primary': ctrl.selectedCategory === 'all'}">
                                <md-icon md-font-set="material-symbols-outlined" md-menu-align-target>topic</md-icon>
                                All Categories
                                <span class="category-count">({{ctrl.notes.length}})</span>
                            </md-button>
                        </md-menu-item>

                        <md-menu-divider ng-if="ctrl.noteCategories && ctrl.noteCategories.length > 0"></md-menu-divider>

                        <md-menu-item ng-repeat="category in ctrl.noteCategories">
                            <md-button ng-click="ctrl.filterByCategory(category)"
                                       ng-class="{'md-primary': ctrl.selectedCategory === category.noteTypeId.toString()}">
                                <md-icon md-font-set="material-symbols-outlined" md-menu-align-target>topic</md-icon>
                                {{ category.text }}
                                <span class="category-count">
                                    ({{(ctrl.notes | filter: {noteTypeId: category.id}).length}})
                                </span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-button class="md-icon-button" ng-click="ctrl.addNote($event)">
                    <md-icon md-font-set="material-symbols-outlined">note_add</md-icon>
                    <md-tooltip md-direction="bottom">Add Note</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-progress-linear
                md-mode="indeterminate"
                ng-show="ctrl.loading"
                class="md-primary">
        </md-progress-linear>

        <div class="sticky-notes-container">
            <div ng-repeat="note in ctrl.getDisplayNotes()"
                 class="sticky-note {{::note.noteTypeName | lowercase}} {{::note.isImportant ? 'important' : ''}}"
                 ng-style="{'transform': 'rotate(' + (-1 + $index % 3) + 'deg)'}"
                 ng-click="ctrl.editNote($event, note)">

                <div class="note-header">
                    <div class="note-type-info">
                        <md-icon md-font-set="material-symbols-outlined">
                            {{::note.isImportant ? 'priority_high' : 'note'}}
                        </md-icon>
                        <div class="note-type">
                            {{::note.noteTypeName || 'Note'}}
                        </div>
                    </div>
                    <div class="note-metadata">
                        {{::note._createdDateStr}}
                    </div>
                </div>

                <div class="note-content">{{::note.noteText}}</div>

                <div class="note-actions">
                    <md-button class="md-icon-button" ng-click="ctrl.deleteNote($event, note)" aria-label="Delete">
                        <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                        <md-tooltip>Delete Note</md-tooltip>
                    </md-button>
                </div>
            </div>

            <!-- Message when no notes -->

            <div class="no-notes-center" ng-if="!ctrl.loading && ctrl.getDisplayNotes().length === 0">
                <no-data
                        title="No Notes"
                        message="{{ctrl.getNoNotesMessage()}}"
                        icon="sticky_note_2"
                        show-action="true"
                        action-text="Show all notes"
                        on-action="ctrl.filterByCategory('all')">
                </no-data>
            </div>

        </div>
    </div>
</div>
