<div class="current-work-widget">
    <div ng-if="::ctrl.isUsCustomer" class="current-work-header">
        <md-radio-group ng-model="ctrl.currentWorkViewMode" ng-change="ctrl.switchCurrentWorkViewMode()" layout="row">
            <md-radio-button value="overview" class="md-primary">
                All Drivers
            </md-radio-button>
            <md-radio-button value="selected" class="md-primary" ng-disabled="!ctrl.currentCourier">
                {{ctrl.currentCourier ? ctrl.currentCourier.text : 'Selected Driver'}}
            </md-radio-button>
        </md-radio-group>
    </div>

    <md-progress-linear
            md-mode="indeterminate"
            ng-show="ctrl.currentListLoading"
            class="md-primary">
    </md-progress-linear>

    <div ng-if="ctrl.isUsCustomer && ctrl.currentWorkViewMode === 'overview'" class="driver-overview-container">
        <current-work-all-drivers-react
                drivers="ctrl.driversWithJobCounts"
                loading="ctrl.currentListLoading"
                selected-courier-id="ctrl.currentCourier.id"
                on-driver-select="ctrl.selectDriverFromOverview(driver)">
        </current-work-all-drivers-react>
    </div>

    <!-- Selected Driver Mode -->
    <div ng-if="!ctrl.isUsCustomer || ctrl.currentWorkViewMode === 'selected'">
        <div id="react-current-work-job-list"
             ng-if="ctrl.jobsCurrentList"
             style="height: 100%;"></div>

        <no-data-react
                ng-if="!ctrl.jobsCurrentList"
                title="No Courier Selected"
                message="Please Select a Courier to View Available Work"
                icon="local_shipping"
                show-action="false">
        </no-data-react>
    </div>
</div>