<md-progress-linear
        md-mode="indeterminate"
        ng-show="ctrl.driverLocationsLoading"
        class="md-primary">
</md-progress-linear>

<no-data
        ng-if="ctrl.showDriverLocationsNoData"
        title="No Driver Locations"
        message="Please configure driver locations in Admin Manager to continue."
        icon="person_pin_circle"
        show-action="false">
</no-data>

<div class="basic-box-scroll">
    <div id="driverLocations" ng-if="ctrl.showDriverLocationsData">
    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3" ng-repeat="area in ctrl.driverLocations.areas">
                    <div class="driverLocations-list" ng-style="{ 'height': area.percentHeight + '%' }">
                        <div class="driverLocations-list-title"
                             ng-class="{'listActive': area.isActive}"
                             ng-click="ctrl.selectClearList(area); ctrl.setActiveArea(area);">
                            {{area.name}} {{area.totalRemaining}}
                        </div>
                        <div class="driverLocations-list-items">
                            <table>
                                <tr class="driverLocations-list-items-item driverLocations-list-items-top droppable-row draggable-row"
                                    data-courier="{{section.courierNumber}}"
                                    ng-class="{'active': section.isActive}"
                                    ng-click="ctrl.selectCourier(section.courierData)"
                                    ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                    ng-repeat="section in area.top">
                                    <td class="driverLocations-list-items-item-number"
                                        ng-class="{'active': section.isActive}">
                                        {{section.courierNumber}} ({{section.jobCount}})
                                    </td>
                                    <td>
                                        <div class="driverLocations-list-items-item-dest"
                                             ng-repeat="destination in section.destinations">{{destination.label}}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="driverLocations-list-items-item driverLocations-list-items-middle droppable-row draggable-row"
                                    data-courier="{{section.courierNumber}}"
                                    ng-class="{'active': section.isActive}"
                                    ng-click="ctrl.selectCourier(section.courierData)"
                                    ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                    ng-repeat="section in area.middle">
                                    <td class="driverLocations-list-items-item-number"
                                        ng-class="{'active': section.isActive}">{{section.courierNumber}}
                                    </td>
                                    <td>
                                        <div class="driverLocations-list-items-item-dest"
                                             ng-repeat="destination in section.destinations">{{destination.label}}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="driverLocations-list-items-item driverLocations-list-items-bottom droppable-row draggable-row"
                                    data-courier="{{section.courierNumber}}"
                                    ng-class="{'active': section.isActive}"
                                    ng-click="ctrl.selectCourier(section.courierData)"
                                    ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                    ng-repeat="section in area.bottom">
                                    <td class="driverLocations-list-items-item-number"
                                        ng-class="{'active': section.isActive}">{{section.courierNumber}}
                                    </td>
                                    <td>
                                        <div class="driverLocations-list-items-item-dest"
                                             ng-repeat="destination in section.destinations">{{destination.label}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
