<!-- Loading State -->
<md-progress-linear
        md-mode="indeterminate"
        ng-show="ctrl.driverLocationsLoading"
        class="md-primary driver-locations-loader">
</md-progress-linear>

<!-- Empty State -->
<no-data
        ng-if="ctrl.showDriverLocationsNoData"
        title="No Driver Locations"
        message="Please configure driver locations in Admin Manager to continue."
        icon="person_pin_circle"
        show-action="false">
</no-data>

<!-- Main Content -->
<div class="driver-locations-wrapper">
    <div id="driverLocations" ng-if="ctrl.showDriverLocationsData">
        <div class="driver-locations-container">
            <div class="driver-locations-grid">
                <div class="location-column"
                     ng-repeat="area in ctrl.driverLocations.areas track by area.id"
                     ng-style="{ 'height': area.percentHeight + '%' }">

                    <!-- Area Header -->
                    <div class="area-header">
                        <md-button class="md-raised area-button"
                                   ng-class="{'md-accent': area.isActive}"
                                   ng-click="ctrl.selectAndActivateArea(area)">
                            <md-icon class="area-icon">location_on</md-icon>
                            <span class="area-name">{{area.name}}</span>
                            <md-chip class="area-count">{{area.totalRemaining}}</md-chip>
                        </md-button>
                    </div>

                    <!-- Courier List -->
                    <div class="courier-list-container">
                        <div class="courier-list">

                            <!-- Top Section Couriers -->
                            <div class="courier-section section-top">
                                <div class="courier-card draggable-row droppable-row"
                                     data-courier="{{section.courierNumber}}"
                                     ng-class="{'is-active': section.isActive}"
                                     ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                     ng-repeat="section in area.top">

                                    <md-card class="courier-card-content" ng-click="ctrl.selectCourier(section.courierData)">
                                        <div class="courier-header">
                                            <span class="courier-number">{{section.courierNumber}}</span>
                                            <md-chip class="job-count">{{section.jobCount}}</md-chip>
                                        </div>
                                        <div class="destination-list">
                                            <md-chip class="destination-chip"
                                                     ng-repeat="destination in section.destinations">
                                                {{destination.label}}
                                            </md-chip>
                                        </div>
                                    </md-card>
                                </div>
                            </div>

                            <!-- Middle Section Couriers -->
                            <div class="courier-section section-middle">
                                <div class="courier-card draggable-row droppable-row"
                                     data-courier="{{section.courierNumber}}"
                                     ng-class="{'is-active': section.isActive}"
                                     ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                     ng-repeat="section in area.middle">

                                    <md-card class="courier-card-content" ng-click="ctrl.selectCourier(section.courierData)">
                                        <div class="courier-header">
                                            <span class="courier-number">{{section.courierNumber}}</span>
                                        </div>
                                        <div class="destination-list">
                                            <md-chip class="destination-chip"
                                                     ng-repeat="destination in section.destinations">
                                                {{destination.label}}
                                            </md-chip>
                                        </div>
                                    </md-card>
                                </div>
                            </div>

                            <!-- Bottom Section Couriers -->
                            <div class="courier-section section-bottom">
                                <div class="courier-card draggable-row droppable-row"
                                     data-courier="{{section.courierNumber}}"
                                     ng-class="{'is-active': section.isActive}"
                                     ng-if="((section.courierNumber.indexOf('T') >= 0 && (ctrl.truckMode=='On' || ctrl.truckMode=='Only')) || (section.courierNumber.indexOf('T') < 0 && ctrl.truckMode !== 'Only'))"
                                     ng-repeat="section in area.bottom">

                                    <md-card class="courier-card-content" ng-click="ctrl.selectCourier(section.courierData)">
                                        <div class="courier-header">
                                            <span class="courier-number">{{section.courierNumber}}</span>
                                        </div>
                                        <div class="destination-list">
                                            <md-chip class="destination-chip"
                                                     ng-repeat="destination in section.destinations">
                                                {{destination.label}}
                                            </md-chip>
                                        </div>
                                    </md-card>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>