<div class="table-headings">
    <table>
        <thead class="thead-dark no select">
            <th scope="col" ng-click="orderList('jobUpdates', 'event')">Event <i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'event'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-event'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'courier')">Courier <i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'courier'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-courier'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'client')">Client <i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'client'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-client'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'from')">From <i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'from'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-from'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'to')">To<i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'to'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-to'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'address')">Address<i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'address'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-address'"></i></th>
            <th scope="col" ng-click="orderList('jobUpdates', 'operator')">Operator<i class="fa fa-caret-down" ng-if="sort.jobUpdates == 'operator'"></i><i class="fa fa-caret-up" ng-if="sort.jobUpdates == 'd-operator'"></i></th>
        </thead>
    </table>
</div>


<table class="table table-striped table-responsive table-rows" id="jobUpdates" data-group="jobUpdates">
    <tbody>
    <tr class="clickable-row" ng-repeat="update in jobUpdates | filter: box.searchBox" ng-click="" context-menu="jobUpdatesMenu">
        <td>{{update.event}}</td>
        <td>{{update.courier}}</td>
        <td>{{update.client}}</td>
        <td>{{update.from}}</td>
        <td>{{update.to}}</td>
        <td>{{update.address}}</td>
        <td>{{update.operator}}</td>
    </tr>
    <tr>
        <td><div style="width:30px;"></div></td>
        <td><div style="width:40px;"></div></td>
        <td><div style="width:40px;"></div></td>
        <td><div style="width:40px;"></div></td>
        <td><div style="width:40px;"></div></td>
        <td><div style="width:40px;"></div></td>
        <td><div style="width:40px;"></div></td>
    </tr>
    </tbody>
</table>

<div class="loading">
    <div class="text">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>
    angular.element(".box-content").on("scroll", function () {
        const newTop = angular.element(this).scrollTop();
        angular.element(this).find(".table-headings").css({"top": newTop});
    });
</script>
