<!-- Pot Couriers Component -->
<div class="job-list-container">
    <!-- Pot Couriers Table -->
    <div class="job-list-table" ng-if="!potentialCouriersLoading && potentialCouriers.length > 0">
        <!-- Table Headers -->
        <div class="table-headings sticky-header">
            <table>
                <thead class="thead-dark no select">
                <tr>
                    <th ng-click="orderList('jobList', header.key)" ng-repeat="header in potentialCouriersHeaders">
                        <i class="material-symbols-outlined job-table-icon"
                           ng-if="sort.jobList == header.key">arrow_drop_down</i>
                        <i class="material-symbols-outlined job-table-icon"
                           ng-if="sort.jobList == 'd-' + header.key">arrow_drop_up</i>
                        {{header.label}}
                    </th>
                </tr>
                </thead>
            </table>
        </div>

        <table class="table table-striped table-responsive table-rows md-truncate" data-group="couriers"
               id="potentialCouriers">
            <tbody>
            <tr $index by class="clickable-row droppable-row" context-menu="courierMenu" data-courier="{{courier.courier}}"
                ng-click="selectPotentialCourier(courier)" ng-repeat="courier in potentialCouriers"
                track>
                <td>{{courier.code}}&nbsp;{{courier.firstName}}</td>
                <td>{{courier.ruleNumber}}</td>
                <td>{{courier.reason}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- No Data Message -->
    <div class="no-data" ng-if="!potentialCouriersLoading && (!potentialCouriers || potentialCouriers.length === 0)">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">groups</md-icon>
            </div>
            <div class="text">
                Please Select a Job or Courier
            </div>
        </div>
    </div>

    <!-- Loading Indicator -->
    <div class="loader-container" ng-if="potentialCouriersLoading">
        <div class="full-height" layout="row" layout-align="center center">
            <div class="material-icon-loader">
                <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
                <md-icon class="loader-icon" md-font-set="material-symbols-outlined">groups</md-icon>
            </div>
        </div>
    </div>
</div>
