<!-- Supports List using Task List Item Component -->
<div class="droppable-box nationwide-job-list">
    <!-- Loading Indicator -->
    <div ng-if="ctrl.supportsLoading" layout="row" layout-align="center center" style="padding: 24px;">
        <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- Task List using the new component -->
    <md-list ng-if="!ctrl.supportsLoading && ctrl.supports && ctrl.supports.length > 0">
        <task-item-component
                ng-repeat="support in ctrl.supports | filter: box.searchBox"
                task="ctrl.supportToTaskModel(support)"
                config="ctrl.supportItemConfig"
                on-status-change="ctrl.closeSupport(support)"
                on-date-click="ctrl.selectSupportJobDetail(support)"
                on-time-click="ctrl.selectSupportJobDetail(support)"
                on-reassign="ctrl.lockSupport(support)">
        </task-item-component>
    </md-list>

    <!-- No Data Message -->
    <div class="no-data" ng-if="!ctrl.supportsLoading && (!ctrl.supports || ctrl.supports.length === 0)">
        <div class="content">
            <div class="icon">
                <md-icon md-font-set="material-symbols-outlined">support</md-icon>
            </div>
            <div class="text">
                No Supports Available
            </div>
        </div>
    </div>
</div>
