<md-dialog aria-label="Add event" style="width: 50%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">event</md-icon>
            <h2>Add Task</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="ctrl.eventForm" ng-submit="ctrl.submit(ctrl.event)" novalidate>
        <md-dialog-content ng-cloak>
            <div class="md-dialog-content">
                <!-- Job/Client Information -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="jobNumber">Job Number</label>
                        <input disabled id="jobNumber" ng-model="ctrl.event.jobNumber" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="clientCode">Client</label>
                        <input disabled id="clientCode" ng-model="ctrl.event.clientCode" type="text">
                    </md-input-container>
                </div>

                <!-- Task Type Selection -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Task Type</label>
                        <md-select id="eventTypes" ng-model="ctrl.selectedEventType" required>
                            <md-option ng-repeat="eventType in ctrl.eventTypes" ng-value="eventType">
                                {{ eventType.text }}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="ctrl.eventForm.eventTypes.$error">
                            <div ng-message="required">Task Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="taskDate">Task Date ({{::ctrl.browserTimeZone | timezoneShort}})</label>
                        <input class=" dtp-no-msclear dtp-input md-input"
                               date="true" edit-input="true" id="taskDate"
                               mdc-datetime-picker
                               minutes="true"
                               name="taskDate"
                               ng-model="ctrl.event.eventDate"
                               required
                               short-time="false"
                               show-icon="true"
                               show-todays-date
                               time="true"
                               type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <div flex></div>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="notes">Notes</label>
                        <textarea id="notes" md-maxlength="150" md-select-on-focus ng-model="ctrl.event.notes"
                                  rows="3"></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-disabled="ctrl.eventForm.$invalid || ctrl.isLoading"
                       type="submit">
                <span ng-if="!ctrl.isLoading">Save</span>
                <md-progress-circular aria-label="Loading"
                                      class="md-accent"
                                      md-diameter="20"
                                      md-mode="indeterminate"
                                      ng-if="ctrl.isLoading">
                </md-progress-circular>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
