<md-dialog aria-label="Add event" style="width: 50%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">event</md-icon>
            <h2>Add Task</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="ctrl.eventForm" ng-submit="ctrl.submit(ctrl.event)" novalidate>
        <md-dialog-content ng-cloak>
            <div class="md-dialog-content">
                <!-- Job/Client Information -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="jobNumber">Job Number</label>
                        <input disabled id="jobNumber" ng-model="ctrl.event.jobNumber" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="clientCode">Client</label>
                        <input disabled id="clientCode" ng-model="ctrl.event.clientCode" type="text">
                    </md-input-container>
                </div>

                <!-- Task Type Selection -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Task Type</label>
                        <md-select id="eventTypes" ng-model="ctrl.selectedEvent" required>
                            <md-option ng-repeat="eventType in ctrl.eventTypes" ng-value="eventType">
                                {{ eventType.text }}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="ctrl.eventForm.eventTypes.$error">
                            <div ng-message="required">Task Required</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="notes">Notes</label>
                        <textarea id="notes" md-maxlength="150" md-select-on-focus ng-model="ctrl.event.notes"
                                  rows="3"></textarea>
                    </md-input-container>
                </div>

                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">schedule</md-icon>
                            <h2>Task Schedule</h2>
                            <div flex></div>
                        </div>
                    </md-toolbar>
                    <md-card-content class="md-padding">
                        <div layout-gt-sm="row">
                            <div flex-gt-sm class="md-block layout-padding layout-align-center-center layout-column">
                                <span class="md-body-1 text-center">Task Date</span>
                                <div class="layout-row layout-align-center-center">
                                    <md-datepicker
                                            id="TaskDate"
                                            ng-model="ctrl.event.eventDate"
                                            md-placeholder="MM/DD/YYYY"
                                            md-date-locale="ctrl.dateLocale">
                                    </md-datepicker>
                                </div>
                            </div>

                            <md-divider vertical></md-divider>

                            <div flex-gt-sm class="md-block layout-padding layout-align-center-center layout-column">
                                <span class="md-body-1 text-center">Task Time</span>
                                <div class="layout-row layout-align-center-center">
                                    <md-time-picker
                                            id="TaskTime"
                                            ng-model="ctrl.event.eventTime"
                                            no-meridiem
                                            no-auto-switch>
                                    </md-time-picker>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       type="submit"
                       ng-disabled="ctrl.eventForm.$invalid || ctrl.isLoading">
                <span ng-if="!ctrl.isLoading">Save</span>
                <md-progress-circular ng-if="ctrl.isLoading"
                                      md-mode="indeterminate"
                                      md-diameter="20"
                                      class="md-accent"
                                      aria-label="Loading">
                </md-progress-circular>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
