<md-dialog flex="60" class="job-file-upload-dialog">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">
                {{::ctrl.isPODUpload() ? 'camera_alt' : 'upload_file'}}
            </md-icon>
            <h2>{{::ctrl.isPODUpload() ? 'POD Photos' : 'Attached Files'}}</h2>
            <span flex></span>
            
            <md-button ng-if="::ctrl.isPODUpload()" class="md-button" ng-click="ctrl.close()">
                <md-icon aria-label="skip icon" md-font-set="material-symbols-outlined">double_arrow</md-icon>
                <md-tooltip md-direction="bottom">Skip File Upload</md-tooltip>
                Skip
            </md-button>
            
            <md-button ng-if="::!ctrl.isPODUpload()" class="md-icon-button close-dialog-button" 
                       ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Close</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
        <div layout="column">
            <!-- Single Tab Mode -->
            <div ng-if="::!ctrl.showNormalTab || !ctrl.showPodTab">
                <!-- Regular File Upload -->
                <div ng-if="::ctrl.showNormalTab && !ctrl.showPodTab" layout="column">
                    <div
                            class="drop-box"
                            ng-model="ctrl.files"
                            ngf-change="ctrl.uploadFiles($files)"
                            ngf-drop
                            ngf-multiple="true"
                            ngf-accept="'image/*,application/pdf'"
                            ngf-drag-over-class="'dragover'"
                            ngf-max-size="10MB"
                            ngf-select>
                        <md-icon md-font-set="material-symbols-outlined" style="font-size: 48px;">cloud_upload</md-icon>
                        <p>Drag and drop files here or click to upload</p>
                        <p class="md-caption">Accepted file types: Images, PDF. Max size: 10MB</p>
                    </div>

                    <!-- Regular Files List -->
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>File Name</th>
                                <th md-column>Size</th>
                                <th md-column>Last Modified</th>
                                <th md-column>Actions</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="file in ctrl.files">
                                <td md-cell>{{file.fileName}}</td>
                                <td md-cell>{{file.size | bytes}}</td>
                                <td md-cell>{{file.lastModified | date: 'MMM d, y HH:mm:ss'}}</td>
                                <td md-cell>
                                    <md-button class="md-icon-button" ng-click="ctrl.downloadFile(file)">
                                        <md-tooltip>Download</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">cloud_download</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="ctrl.deleteFile(file)">
                                        <md-tooltip>Delete</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>

                <!-- POD Upload (Only) -->
                <div ng-if="::!ctrl.showNormalTab && ctrl.showPodTab" layout="column">
                    <!-- POD Description Input -->
                    <md-input-container class="md-block">
                        <label>POD Photo Description</label>
                        <input ng-model="ctrl.podDescription" type="text" placeholder="Enter description for POD photo">
                    </md-input-container>

                    <div
                            class="drop-box pod-drop-box"
                            ng-model="ctrl.podFiles"
                            ngf-change="ctrl.uploadFiles($files)"
                            ngf-drop
                            ngf-multiple="true"
                            ngf-accept="'image/*,application/pdf'"
                            ngf-drag-over-class="'dragover'"
                            ngf-max-size="10MB"
                            ngf-select>
                        <md-icon md-font-set="material-symbols-outlined" style="font-size: 48px;">camera_alt</md-icon>
                        <p>Drag and drop POD photo here or click to upload</p>
                        <p class="md-caption">Accepted file types: Images, PDF. Max size: 10MB</p>
                    </div>

                    <!-- POD Files List -->
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>Photo Name</th>
                                <th md-column>Description</th>
                                <th md-column>Size</th>
                                <th md-column>Upload Date</th>
                                <th md-column>Actions</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="file in ctrl.podFiles track by $index">
                                <td md-cell>{{file.fileName}}</td>
                                <td md-cell>{{file.podDescription || 'No description'}}</td>
                                <td md-cell>{{file.size | bytes}}</td>
                                <td md-cell>{{file.uploadDate | date: 'MMM d, y HH:mm:ss'}}</td>
                                <td md-cell>
                                    <md-button class="md-icon-button" ng-click="ctrl.downloadFile({fileName: file.fileName, s3Key: file.s3Key, isPOD: true})">
                                        <md-tooltip>Download</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">cloud_download</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="ctrl.deleteFile({s3Key: file.s3Key, isPOD: true})">
                                        <md-tooltip>Delete</md-tooltip>
                                        <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>

            <!-- Multi-Tab Mode -->
            <div ng-if="::ctrl.showNormalTab && ctrl.showPodTab">
                <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.selectedTabIndex">
                    <md-tab id="tab1" label="Regular Files" md-on-select="ctrl.setUploadType('normal')">
                        <div layout="column" class="md-padding">
                            <div
                                    class="drop-box"
                                    ng-model="ctrl.files"
                                    ngf-change="ctrl.uploadFiles($files)"
                                    ngf-drop
                                    ngf-multiple="true"
                                    ngf-accept="'image/*,application/pdf'"
                                    ngf-drag-over-class="'dragover'"
                                    ngf-max-size="10MB"
                                    ngf-select>
                                <md-icon md-font-set="material-symbols-outlined" style="font-size: 48px;">cloud_upload</md-icon>
                                <p>Drag and drop files here or click to upload</p>
                                <p class="md-caption">Accepted file types: Images, PDF. Max size: 10MB</p>
                            </div>

                            <!-- Regular Files List -->
                            <md-table-container>
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>File Name</th>
                                        <th md-column>Size</th>
                                        <th md-column>Last Modified</th>
                                        <th md-column>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="file in ctrl.files">
                                        <td md-cell>{{file.fileName}}</td>
                                        <td md-cell>{{file.size | bytes}}</td>
                                        <td md-cell>{{file.lastModified | date: 'MMM d, y HH:mm:ss'}}</td>
                                        <td md-cell>
                                            <md-button class="md-icon-button" ng-click="ctrl.downloadFile({fileName: file.fileName, s3Key: file.s3Key, isPOD: false})">
                                                <md-tooltip>Download</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">cloud_download</md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="ctrl.deleteFile({s3Key: file.s3Key, isPOD: false})">
                                                <md-tooltip>Delete</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                    </md-tab>

                    <md-tab id="tab2" label="POD Photos" md-on-select="ctrl.setUploadType('pod')">
                        <div layout="column" class="md-padding">
                            <!-- POD Description Input -->
                            <md-input-container class="md-block">
                                <label>POD Photo Description</label>
                                <input ng-model="ctrl.podDescription" type="text" placeholder="Enter description for POD photo">
                            </md-input-container>

                            <div
                                    class="drop-box pod-drop-box"
                                    ng-model="ctrl.podFiles"
                                    ngf-change="ctrl.uploadFiles($files)"
                                    ngf-drop
                                    ngf-multiple="true"
                                    ngf-accept="'image/*,application/pdf'"
                                    ngf-drag-over-class="'dragover'"
                                    ngf-max-size="10MB"
                                    ngf-select>
                                <md-icon md-font-set="material-symbols-outlined" style="font-size: 48px;">camera_alt</md-icon>
                                <p>Drag and drop a POD photo here or click to upload</p>
                                <p class="md-caption">Accepted file types: Images, PDF. Max size: 10MB</p>
                            </div>

                            <!-- POD Files List -->
                            <md-table-container>
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>Photo Name</th>
                                        <th md-column>Description</th>
                                        <th md-column>Size</th>
                                        <th md-column>Upload Date</th>
                                        <th md-column>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="file in ctrl.podFiles">
                                        <td md-cell>{{file.fileName}}</td>
                                        <td md-cell>{{file.podDescription || 'No description'}}</td>
                                        <td md-cell>{{file.size | bytes}}</td>
                                        <td md-cell>{{file.uploadDate | date: 'MMM d, y HH:mm:ss'}}</td>
                                        <td md-cell>
                                            <md-button class="md-icon-button" ng-click="ctrl.downloadFile(file)">
                                                <md-tooltip>Download</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">cloud_download</md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" ng-click="ctrl.deleteFile(file)">
                                                <md-tooltip>Delete</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>

            <!-- Uploading Files Progress (Shared between both tabs) -->
            <div ng-if="ctrl.uploadingFiles.length > 0" class="uploads-progress-section">
                <h3>Uploading Files ({{ctrl.completedFiles}}/{{ctrl.totalFiles}})</h3>

                <!-- Overall progress bar -->
                <div layout="column" class="upload-progress-item">
                    <div layout="row" layout-align="space-between center">
                        <span>Overall Progress</span>
                        <span>{{ctrl.overallProgress}}%</span>
                    </div>
                    <md-progress-linear md-mode="determinate" value="{{ctrl.overallProgress}}"></md-progress-linear>
                </div>

                <!-- Current file being uploaded -->
                <div ng-if="ctrl.currentUploadingFile" class="current-file-info md-caption" style="margin-top: 8px;">
                    <span>Currently uploading: {{ctrl.currentUploadingFile.name}} {{ctrl.currentUploadingFile.isPOD ? '(POD)' : ''}}</span>
                    <span ng-if="ctrl.currentUploadingFile.isPOD && ctrl.currentUploadingFile.podDescription">
            - {{ctrl.currentUploadingFile.podDescription}}
        </span>
                </div>

                <!-- List of files in the queue -->
                <div ng-if="ctrl.uploadingFiles.length > 1" class="md-caption" style="margin-top: 4px;">
                    <span>Files in queue: {{ctrl.uploadingFiles.length - 1}}</span>
                </div>
            </div>
            
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="ctrl.cancel()">Complete</md-button>
    </md-dialog-actions>
</md-dialog>
