.job-file-upload-dialog {
  .pod-drop-box {
    background-color: #f0f7ff;
    border: 2px dashed #2196F3;
  }
  .drop-box {
    padding: 20px;
    border: 2px dashed #9E9E9E;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #f5f5f5;
  }
  .drop-box.dragover {
    border-color: #4CAF50;
    background: #E8F5E9;
  }
  
  .upload-progress-item {
    margin-bottom: 15px;
  }
  .pod-description-text {
    font-size: 12px;
    color: #666;
    margin: 2px 0 5px 0;
  }
}
