<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">upload_file</md-icon>
            <h2>Attached Files</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Close</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column">
            <div
                    class="drop-box"
                    ng-model="ctrl.files"
                    ngf-change="ctrl.uploadFiles($files)"
                    ngf-drop
                    ngf-multiple="true"
                    ngf-accept="'image/*,application/pdf'"
                    ngf-drag-over-class="'dragover'"
                    ngf-max-size="10MB"
                    ngf-select
            >
                <md-icon md-font-set="material-symbols-outlined" style="font-size: 48px;">cloud_upload</md-icon>
                <p>Drag and drop files here or click to upload</p>
                <p class="md-caption">Accepted file types: Images, PDF. Max size: 10MB</p>
            </div>

            <!-- Uploading Files Progress -->
            <div ng-repeat="file in ctrl.uploadingFiles">
                <p>{{file.name}}</p>
                <md-progress-linear md-mode="determinate" value="{{file.progress}}"></md-progress-linear>
            </div>

            <!-- File List -->
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>File Name</th>
                        <th md-column>Size</th>
                        <th md-column>Last Modified</th>
                        <th md-column>Actions</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="file in ctrl.files">
                        <td md-cell>{{file.fileName}}</td>
                        <td md-cell>{{file.size | bytes}}</td>
                        <td md-cell>{{file.lastModified | date:'medium'}}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="ctrl.downloadFile(file)">
                                <md-tooltip>Download</md-tooltip>
                                <md-icon md-font-set="material-symbols-outlined">cloud_download</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="ctrl.deleteFile(file)">
                                <md-tooltip>Delete</md-tooltip>
                                <md-icon md-font-set="material-symbols-outlined">delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-dialog-content>
</md-dialog>
