<div class="material-menu md-dense" style="position: fixed; z-index: 100;"
     ng-style="{'top': ctrl.menuState.position.top, 'left': ctrl.menuState.position.left, 'display': ctrl.menuState.visible ? 'block' : 'none'}">
    <div ng-click="$event.stopPropagation()">
        <md-menu-bar>
            <md-menu>
                <md-content md-dense>
                    <md-list>
                        <md-list-item ng-click="ctrl.voidJobAction()">
                            <md-icon md-font-set="material-symbols-outlined">cancel</md-icon>
                            <p>Void Job</p>
                        </md-list-item>

                        <md-divider></md-divider>

                        <md-list-item ng-click="ctrl.addEventOtherAction($event)">
                            <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                            <p>Add Event - Other</p>
                        </md-list-item>

                        <md-divider></md-divider>

                        <!-- Event Groups Menu with Hover -->
                        <md-menu md-position-mode="target-right target" md-offset="0 -33">
                            <md-list-item ng-mouseenter="$mdMenu.open()" ng-click="$mdMenu.open()">
                                <md-icon md-font-set="material-symbols-outlined">event</md-icon>
                                <p>Event Groups</p>
                                <md-icon md-font-set="material-symbols-outlined" class="md-secondary">arrow_right</md-icon>
                            </md-list-item>

                            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item ng-repeat="group in ctrl.menuState.eventGroups">
                                    <md-button ng-click="ctrl.selectEventGroup(group.id)">
                                        {{group.text}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <md-divider></md-divider>

                        <md-list-item ng-if="ctrl.menuState.currentJob.allowSplit" ng-click="ctrl.splitJobAction($event)">
                            <md-icon md-font-set="material-symbols-outlined">call_split</md-icon>
                            <p>Split Job</p>
                        </md-list-item>

                        <md-divider ng-if="ctrl.menuState.currentJob.allowSplit"></md-divider>

                        <md-list-item ng-click="ctrl.setFirstJobAction()">
                            <md-icon md-font-set="material-symbols-outlined">first_page</md-icon>
                            <p>Set First Job</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-menu>
        </md-menu-bar>
    </div>
</div>
