<div class="pod-photo-viewer-overlay" ng-if="ctrl.isOpen">
    <div class="pod-photo-viewer-container">
        <button
                ng-click="ctrl.closeViewer()"
                class="close-button md-icon-button">
            <md-icon md-font-set="material-symbols-outlined">close</md-icon>
        </button>

        <div class="photo-container">
            <img
                    ng-src="{{'data:image/png;base64,' + ctrl.photos[ctrl.currentIndex].url}}"
                    alt="POD {{ctrl.currentIndex + 1}}"
                    class="pod-image"
            />
            <button
                    ng-click="ctrl.prevPhoto()"
                    class="nav-button prev-button md-icon-button">
                <md-icon md-font-set="material-symbols-outlined">chevron_left</md-icon>
            </button>

            <button
                    ng-click="ctrl.nextPhoto()"
                    class="nav-button next-button md-icon-button">
                <md-icon md-font-set="material-symbols-outlined">chevron_right</md-icon>
            </button>
        </div>

        <div class="indicator-dots">
            <button
                    ng-repeat="photo in ctrl.photos track by $index"
                    ng-click="ctrl.setPhotoIndex($index)"
                    class="indicator-dot"
                    ng-class="{'active': ctrl.currentIndex === $index}"
            ></button>
        </div>

        <div class="photo-info">
            <p class="timestamp">{{::ctrl.photos[ctrl.currentIndex].timestamp | momentFormat:'MM/DD/YYYY HH:mm'}} ({{::ctrl.timeZone | timezoneShort}})</p>
            <p class="uploader">Delivered by {{::ctrl.photos[ctrl.currentIndex].uploadedBy}}</p>
            <p class="coordinates" ng-if="ctrl.photos[ctrl.currentIndex].coordinates">
                Location: {{::ctrl.photos[ctrl.currentIndex].coordinates.lat}},
                {{::ctrl.photos[ctrl.currentIndex].coordinates.lng}}
            </p>
        </div>
    </div>
</div>
