<md-dialog aria-label="{{ ctrl.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">schedule</md-icon>
            <h2>Edit {{ ctrl.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content date-time-content">
            <!-- Calendar -->
            <div class="date-time-field" ng-if="ctrl.showDate">
                <md-datepicker
                        md-date-locale="{ firstDayOfWeek: 1 }"
                        class="md-block"
                        input-aria-describedby="datepicker-description"
                        input-aria-labelledby="datepicker-header"
                        md-placeholder="Enter date"
                        ng-model="ctrl.date">
                </md-datepicker>
            </div>

            <md-divider class="date-time-divider" ng-show="ctrl.showDate && ctrl.showTime"></md-divider>

            <!-- Time Picker -->
            <div class="date-time-field" ng-if="ctrl.showTime">
                <md-time-picker
                        message="ctrl.message"
                        ng-model="ctrl.time"
                        no-meridiem
                        no-auto-switch>
                </md-time-picker>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-progress-circular
                class="md-primary"
                md-diameter="40"
                md-mode="indeterminate"
                ng-disabled="!ctrl.isValid()"
                ng-show="ctrl.isLoading">
        </md-progress-circular>

        <md-button
                class="md-raised md-primary"
                ng-click="ctrl.submit()"
                ng-disabled="!ctrl.isValid()"
                ng-show="!ctrl.isLoading">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
