<md-dialog aria-label="{{ ctrl.title }}" class="date-time-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">schedule</md-icon>
            <h2>{{ ctrl.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()" aria-label="Close dialog">
                <md-icon md-font-set="material-symbols-outlined">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content date-time-content">
            <!-- Date Picker -->
            <div class="date-time-field" ng-if="ctrl.showDate">
                <md-input-container class="md-block">
                    <label for="date">
                        <span>Date ({{ctrl.selectedTimeZone.timeZoneIana | timezoneShort}})</span>
                    </label>
                    <input class="dtp-no-msclear dtp-input md-input"
                           id="date"
                           name="date"
                           mdc-datetime-picker
                           date="true"
                           time="false"
                           type="text"
                           format="YYYY-MM-DD"
                           edit-input="true"
                           minutes="true"
                           short-time="false"
                           show-icon="true"
                           show-todays-date
                           on-change="ctrl.updateDateTime('date', $value)"
                           placeholder="YYYY-MM-DD"
                           ng-model="ctrl.momentDateTime._d"
                           required>
                </md-input-container>
            </div>

            <!-- Time Picker -->
            <div class="date-time-field" ng-if="ctrl.showTime">
                <md-input-container class="md-block">
                    <label for="time">
                        <span>Time ({{ctrl.selectedTimeZone.timeZoneIana | timezoneShort}})</span>
                    </label>
                    <input class="dtp-no-msclear dtp-input md-input"
                           id="time"
                           name="time"
                           mdc-datetime-picker
                           date="false"
                           time="true"
                           type="text"
                           format="HH:mm"
                           edit-input="true"
                           minutes="true"
                           short-time="false"
                           show-icon="true"
                           on-change="ctrl.updateDateTime('time', $value)"
                           placeholder="HH:MM"
                           ng-model="ctrl.momentDateTime._d"
                           required>
                </md-input-container>
            </div>

            <!-- Timezone Selector -->
            <div ng-if="ctrl.showTimeZoneSelector">
                <md-divider class="date-time-divider" ng-if="(ctrl.showDate || ctrl.showTime)"></md-divider>

                <div class="date-time-field">
                    <label class="timezone-label md-body-1">Timezone</label>
                    <md-select ng-model="ctrl.selectedTimeZone"
                               class="md-block timezone-select"
                               aria-label="Selected timezone"
                               disabled>
                        <md-option ng-value="ctrl.selectedTimeZone">
                            {{ ctrl.selectedTimeZone.text }}
                        </md-option>
                    </md-select>
                    <div class="timezone-info md-caption" ng-if="ctrl.selectedTimeZone">
                        Local timezone: {{ ctrl.browserTimeZone }}
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-button" ng-click="ctrl.cancel()" ng-if="!ctrl.isLoading">
            Cancel
        </md-button>
        <md-progress-circular class="md-primary"
                              md-diameter="20"
                              md-mode="indeterminate"
                              ng-if="ctrl.isLoading">
        </md-progress-circular>
        <md-button class="md-raised md-primary"
                   ng-click="ctrl.submit()"
                   ng-disabled="!ctrl.isValid()"
                   ng-if="!ctrl.isLoading">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
