<md-dialog aria-label="{{ ::ctrl.title }}" class="date-time-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">today</md-icon>
            <h2>{{ ::ctrl.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()" aria-label="Close dialog">
                <md-icon md-font-set="material-symbols-outlined">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <!-- Date and Time Picker -->
            <div ng-if="ctrl.showDate && ctrl.showTime">
                <md-input-container class="md-block">
                    <label for="dateTime">
                        Date & Time{{ctrl.selectedTimeZone.timeZoneIana ? ' (' + (ctrl.selectedTimeZone.timeZoneIana | timezoneShort) + ')' : ''}}
                    </label>
                    <input class="dtp-no-msclear dtp-input md-input"
                           id="dateTime"
                           name="dateTime"
                           mdc-datetime-picker
                           date="true"
                           time="true"
                           type="text"
                           placeholder="Select date and time"
                           edit-input="true"
                           minutes="true"
                           short-time="true"
                           show-todays-date
                           ng-model="ctrl.dateTime"
                           required>
                </md-input-container>
            </div>

            <!-- Date Only Picker -->
            <div ng-if="ctrl.showDate && !ctrl.showTime">
                <md-input-container class="md-block">
                    <label for="date">
                        Date{{ctrl.selectedTimeZone.timeZoneIana ? ' (' + (ctrl.selectedTimeZone.timeZoneIana | timezoneShort) + ')' : ''}}
                    </label>
                    <input class="dtp-no-msclear dtp-input md-input"
                           id="date"
                           name="date"
                           mdc-datetime-picker
                           date="true"
                           time="false"
                           type="text"
                           edit-input="true"
                           minutes="true"
                           short-time="false"
                           show-todays-date
                           placeholder="Select date"
                           ng-model="ctrl.dateTime"
                           required>
                </md-input-container>
            </div>

            <!-- Time Only Picker -->
            <div ng-if="ctrl.showTime && !ctrl.showDate">
                <md-input-container class="md-block">
                    <label for="time">
                        Time{{ctrl.selectedTimeZone.timeZoneIana ? ' (' + (ctrl.selectedTimeZone.timeZoneIana | timezoneShort) + ')' : ''}}
                    </label>
                    <input class="dtp-no-msclear dtp-input md-input"
                           id="time"
                           name="time"
                           mdc-datetime-picker
                           date="false"
                           time="true"
                           type="text"
                           edit-input="true"
                           minutes="true"
                           short-time="false"
                           placeholder="Select time"
                           ng-model="ctrl.dateTime"
                           required>
                </md-input-container>
            </div>

            <!-- Timezone Selector -->
            <div ng-if="ctrl.showTimeZoneSelector">
                <md-input-container class="md-block">
                    <label>Timezone</label>
                    <md-select ng-model="ctrl.selectedTimeZone"
                               aria-label="Selected timezone"
                               disabled>
                        <md-option ng-value="ctrl.selectedTimeZone">
                            {{ ctrl.selectedTimeZone.text }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <p ng-if="ctrl.selectedTimeZone" class="md-body-1">
                    Local timezone: {{ ::ctrl.browserTimeZone }}
                </p>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.cancel()" ng-if="!ctrl.isLoading">
            Cancel
        </md-button>
        <md-progress-circular md-diameter="24"
                              md-mode="indeterminate"
                              ng-if="ctrl.isLoading">
        </md-progress-circular>
        <md-button class="md-raised md-primary"
                   ng-click="ctrl.submit()"
                   ng-disabled="!ctrl.isValid()"
                   ng-if="!ctrl.isLoading">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
