<md-dialog aria-label="Edit Dimensions" id="edit-dimensions-dialog" class="parcel-dimensions-dialog-component md-whiteframe-z2">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">inventory_2</md-icon>
            <h2>Edit Dimensions</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()" aria-label="Close dialog">
                <md-tooltip md-direction="bottom">Close</md-tooltip>
                <md-icon md-font-set="material-symbols-outlined">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div ng-if="::ctrl.isParentJob" md-colors="{background: 'primary-50'}" class="md-padding" layout="row" layout-align="start center">
        <md-icon md-font-set="material-symbols-outlined" md-colors="{color: 'primary'}" class="md-margin">info</md-icon>
        <span class="md-body-1">This is a child job. Parcel information has been inherited from the parent job.</span>
    </div>

    <div ng-if="!ctrl.hasCurrentParcel()" class="md-padding" layout="column" layout-align="center center">
        <md-card class="md-padding" style="max-width: 400px; text-align: center;">
            <md-card-content layout="column" layout-align="center center">
                <md-icon md-font-set="material-symbols-outlined" style="font-size: 64px;" md-colors="{color: 'primary-700'}">inventory_2</md-icon>
                <h3 class="md-headline">No Parcels Added</h3>
                <p class="md-body-1">Add a parcel to begin entering dimensions</p>
                <md-button class="md-raised md-primary" ng-click="ctrl.addNewParcel()">
                    <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                    Add Parcel
                </md-button>
            </md-card-content>
        </md-card>
    </div>

    <div ng-if="ctrl.hasCurrentParcel()">
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-card md-colors="{background: 'primary-50'}" class="md-padding" layout="row" layout-align="start center">
                    <md-icon md-font-set="material-symbols-outlined" md-colors="{color: 'primary'}" style="margin: 8px;">inventory_2</md-icon>
                    <span class="md-subhead">{{ctrl.getCurrentParcel().itemName || 'Parcel ' + (ctrl.selectedParcelIndex + 1)}}</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.addNewParcel()" aria-label="Add new parcel">
                        <md-tooltip md-direction="bottom">Add New Parcel</md-tooltip>
                        <md-icon md-font-set="material-symbols-outlined" md-colors="{color: 'primary'}">add</md-icon>
                    </md-button>
                </md-card>

                <!-- Main content with form and visualization -->
                <div layout="row" layout-wrap layout-align="space-between start" class="md-padding">
                        <form ng-submit="ctrl.submit()">
                            <md-input-container class="md-block">
                                <label for="itemName">Item Name</label>
                                <input id="itemName" ng-model="ctrl.getCurrentParcel().itemName" type="text" placeholder="Enter item name">
                            </md-input-container>

                            <md-card class="md-padding" md-colors="{background: 'background-hue-1'}">
                                <h4 class="md-subhead">Dimensions</h4>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="length">Length</label>
                                        <input id="length" min="0" ng-model="ctrl.getCurrentParcel().length" step="0.01" type="number" placeholder="0.00">
                                        <div class="md-caption dimension-unit">inches</div>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="width">Width</label>
                                        <input id="width" min="0" ng-model="ctrl.getCurrentParcel().depth" step="0.01" type="number" placeholder="0.00">
                                        <div class="md-caption dimension-unit">inches</div>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="height">Height</label>
                                        <input id="height" min="0" ng-model="ctrl.getCurrentParcel().height" step="0.01" type="number" placeholder="0.00">
                                        <div class="md-caption dimension-unit">inches</div>
                                    </md-input-container>
                                </div>
                            </md-card>
                        </form>
                </div>
            </div>
        </md-dialog-content>

        <!-- Parcel Timeline -->
        <md-card class="md-padding" md-colors="{background: 'background-hue-1'}">
            <div class="timeline-container" layout="row" layout-align="center center">
                <div layout="row" layout-align="center center" ng-repeat="parcel in ctrl.parcels">
                    <!-- Parcel Step -->
                    <div class="timeline-step"
                         ng-class="{'md-accent': ctrl.selectedParcelIndex === $index}"
                         ng-click="ctrl.switchParcel($index)">
                        <div class="step-circle md-whiteframe-1dp"
                             md-colors="{background: ctrl.selectedParcelIndex === $index ? 'primary' : 'background-50', color: ctrl.selectedParcelIndex === $index ? 'primary-contrast' : 'background-900'}">
                            {{$index + 1}}
                            <md-button class="md-icon-button delete-button md-mini md-whiteframe-1dp"
                                       ng-click="ctrl.deleteParcel($index, $event)"
                                       ng-show="ctrl.parcels.length > 1"
                                       md-colors="{background: 'background-900-0.7', color: 'background-50'}"
                                       aria-label="Delete parcel"
                                       style="display: flex; align-items: center; justify-content: center;">
                                <md-icon md-font-set="material-symbols-outlined" style="margin: 0; display: block; color: white;">close</md-icon>
                                <md-tooltip md-direction="top">Delete Parcel</md-tooltip>
                            </md-button>
                        </div>
                        <div class="step-label md-caption" ng-class="{'md-body-2': ctrl.selectedParcelIndex === $index, 'md-body-1': ctrl.selectedParcelIndex !== $index}">
                            {{parcel.itemName || 'Parcel ' + ($index + 1)}}
                        </div>
                    </div>

                    <div class="timeline-connector"
                         md-colors="{background: 'background-400'}"
                         ng-if="!$last">
                    </div>
                </div>

                <div layout="row" layout-align="center center" ng-if="ctrl.parcels.length < 10">
                    <div class="timeline-connector"
                         md-colors="{background: 'background-400'}"
                         ng-if="ctrl.parcels.length > 0">
                    </div>
                    <div class="timeline-step">
                        <div class="step-circle add-button" ng-click="ctrl.addNewParcel()" md-colors="{color: 'background-700'}">
                            <md-icon md-font-set="material-symbols-outlined">add</md-icon>
                        </div>
                        <div class="step-label md-caption">Add Parcel</div>
                    </div>
                </div>
            </div>
        </md-card>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="ctrl.cancel()">Cancel</md-button>
            <md-progress-circular
                    class="md-primary"
                    md-diameter="20"
                    md-mode="indeterminate"
                    ng-show="ctrl.isLoading">
            </md-progress-circular>

            <md-button
                    class="md-raised md-primary"
                    ng-click="ctrl.submit()"
                    ng-disabled="!ctrl.isValid() || ctrl.isLoading"
                    ng-show="!ctrl.isLoading">
                Save
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>
