<link href="app/components/dialogs/edit-parcel-dimensions-dialog/edit-parcel-dimensions-dialog.styles.min.css"
      rel="stylesheet">

<md-dialog aria-label="Edit Dimensions" id="edit-dimensions-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="popup-icon" md-font-set="material-symbols-outlined">inventory_2</md-icon>
            <h2>Edit Dimensions</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="row" layout-align="space-between start">
                <!-- Left side - Form -->
                <div flex="45">
                    <form ng-submit="ctrl.submit(ctrl.dimensions)">
                        <!-- Item Name -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label for="itemName">Item Name</label>
                            <input id="itemName" ng-model="ctrl.dimensions.itemName" type="text">
                        </md-input-container>

                        <!-- Dimensions Input Group -->
                        <div layout="column">
                            <md-input-container>
                                <label>Length</label>
                                <input min="0" ng-model="ctrl.dimensions.length" step="0.1" type="number">
                                <div class="md-caption dimension-unit">inches</div>
                            </md-input-container>

                            <md-input-container>
                                <label>Width</label>
                                <input min="0" ng-model="ctrl.dimensions.depth" step="0.1" type="number">
                                <div class="md-caption dimension-unit">inches</div>
                            </md-input-container>

                            <md-input-container>
                                <label>Height</label>
                                <input min="0" ng-model="ctrl.dimensions.height" step="0.1" type="number">
                                <div class="md-caption dimension-unit">inches</div>
                            </md-input-container>
                        </div>
                    </form>
                </div>

                <!-- Right side - Visual representation -->
                <div class="dimension-visualization" flex="50">
                    <parcel-visualization
                            height="{{ctrl.dimensions.height}}"
                            length="{{ctrl.dimensions.length}}"
                            width="{{ctrl.dimensions.depth}}">
                    </parcel-visualization>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-progress-circular
                class="md-primary"
                md-diameter="40"
                md-mode="indeterminate"
                ng-disabled="!ctrl.isValid()"
                ng-show="ctrl.isLoading">
        </md-progress-circular>

        <md-button
                class="md-raised md-primary"
                ng-click="ctrl.submit(ctrl.dimensions)"
                ng-disabled="!ctrl.isValid()"
                ng-show="!ctrl.isLoading">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
