<md-dialog aria-label="Add event" style="width: 50%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Truck Loading Status for {{ ctrl.data.courierCode }} {{ ctrl.data.firstName }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon aria-label="Close dialog" md-font-set="material-symbols-outlined">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
            <div class="md-dialog-content">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="maxPallets">Max Pallets</label>
                        <input disabled id="maxPallets" ng-model="ctrl.data.maxPallets" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="maxPayLoad">Max Weight</label>
                        <input disabled id="maxPayLoad" ng-model="ctrl.data.maxPayLoad" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="availablePallets">Available Pallets</label>
                        <input disabled id="availablePallets" ng-model="ctrl.data.availablePallets" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="currentPallets">Current Pallets</label>
                        <input disabled id="currentPallets" ng-model="ctrl.data.currentPallets" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="currentWeight">Current Weight</label>
                        <input disabled id="currentWeight" ng-model="ctrl.data.currentWeight" type="text">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="availableWeight">Available Weight</label>
                        <input disabled id="availableWeight" ng-model="ctrl.data.availableWeight" type="text">
                    </md-input-container>
                </div>

            </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-progress-circular
                class="md-primary"
                md-diameter="40"
                md-mode="indeterminate"
                ng-if="ctrl.isLoading">
        </md-progress-circular>

        <md-button
                class="md-raised md-primary"
                ng-click="ctrl.refresh()"
                ng-if="!ctrl.isLoading">
            Refresh
        </md-button>
    </md-dialog-actions>
</md-dialog>
