<md-content class="md-dense nationwide-view">
    <!-- React App Shell (Toolbar + Side Navigation) -->
    <react-app-shell
            section="Dashboards"
            title="{{ ctrl.isUsCustomer ? 'Domestic' : 'Nationwide' }}"
            messages-count="ctrl.unReadMessageCount"
            on-messages-click="ctrl.openMessagingDialog($event)"
            views="ctrl.views"
            views-loading="!ctrl.viewsInitialized"
            on-toggle-view="ctrl.toggleView(view)"
            on-clear-all-views="ctrl.clearAllViews()"
            layouts="ctrl.layouts"
            current-layout-name="ctrl.currentLayoutName"
            on-save-layout="ctrl.saveLayout()"
            on-load-layout="ctrl.loadLayout(index)"
            on-delete-layout="ctrl.deleteLayout(index)"
            on-settings-click="ctrl.openSettingsDialog($event)"
            date-filter-data="ctrl.dateFilterData"
            app-page="nationwide"
            on-date-filter-refresh="ctrl.refreshDataTimeSpan(dateFilterData)">
    </react-app-shell>

    <div ng-if="ctrl.isDataLoading">
        <md-progress-linear md-mode="indeterminate" class="md-primary" style="padding: 10px;"></md-progress-linear>
    </div>

    <div class="dashboard-padding">
        <div class="columns" ng-class="{'layout-locked': ctrl.isDefaultLayout(), 'us-theme': ctrl.isUsCustomer, 'nz-theme': !ctrl.isUsCustomer}">
            <div
                    class="column"
                    id="co-{{column.id}}"
                    ng-repeat="(colKey,column) in ctrl.layout.columns"
                    ng-class="{'resize-disabled': ctrl.isDefaultLayout()}"
                    r-directions="['right']"
                    r-flex="true"
                    resizable
                    style="flex-basis: {{column.width}}">
                <div
                        class="column-sortable"
                        ng-model="column.boxes"
                        ui-sortable="ctrl.boxSortableOptions">
                    <div
                            class="box"
                            id="box-{{box.name}}"
                            ng-repeat="(boxName,box) in column.boxes"
                            ng-class="{'box-collapsed': ctrl.boxes[box.name].collapsed, 'resize-disabled': ctrl.isDefaultLayout()}"
                            r-directions="['bottom']"
                            r-flex="true"
                            resizable
                            ng-if="ctrl.boxes[box.name].visible"
                            style="flex-basis: {{box.height}}">
                        <md-toolbar class="widget-toolbar">
                            <div class="md-toolbar-tools">
                                <!--Icon-->
                                <span class="material-symbols-outlined">{{::ctrl.boxes[box.name].icon}}</span>
                                <span class="md-card-title" flex md-truncate>
  {{::ctrl.boxes[box.name].title}}
                                    <span ng-if="::box.name == 'tasksList'">{{ctrl.getActiveTaskFilterNames()}}</span>
                  <span ng-if="::box.name == 'jobDetail'">{{ctrl.currentSelection}}
                    <md-icon
                            md-font-set="material-symbols-outlined"
                            ng-if="ctrl.currentJob.assignedFlight">flight</md-icon>
                    <span ng-if="ctrl.currentJob.assignedFlight">{{ctrl.currentJob.assignedFlight.flightNumber}}</span>
                  </span>

                  <span ng-if="::box.name == 'flightAgentDataTable'">
                        Flights/Agents</span>
                </span>

                                <!-- Detail Buttons-->
                                <div
                                        class="row-overflow"
                                        layout="row"
                                        ng-if="ctrl.currentJob && ctrl.boxes[box.name].showDetailButtons">
                                    <md-fab-speed-dial
                                            class="md-scale"
                                            md-direction="left"
                                            md-open="jobDetailFabIsOpen"
                                            ng-class="{ 'md-hover-full': true }"
                                            ng-mouseenter="jobDetailFabIsOpen=true"
                                            ng-mouseleave="jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button
                                                    aria-label="menu"
                                                    class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info
                                                </md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.addStopToJob($event, ctrl.currentJob)"
                                                    ng-if="::ctrl.isDeliveryJobType">
                                                <md-tooltip md-direction="bottom">Add Stop</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    pin_drop
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-if="ctrl.currentJob && ctrl.currentJob.accessorialChargeGroupId"
                                                       ng-click="ctrl.showAccessorialChargesMenu($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Accessorial Charges</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">receipt_long</md-icon>
                                            </md-button>
                                            <md-button
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.createEvent($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Add Task</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">edit_calendar
                                                </md-icon>
                                            </md-button>
                                            <md-button
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.openFileAttachmentDialog($event, ctrl.currentJob)">
                                                <md-tooltip md-direction="bottom">Attachments
                                                </md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">
                                                    cloud_upload
                                                </md-icon>
                                            </md-button>
                                            <md-button
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.unlockJob(ctrl.currentJob)"
                                                    ng-if="ctrl.currentJob && (ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job
                                                </md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open
                                                </md-icon>
                                            </md-button>
                                            <md-button
                                                    class="md-fab md-raised md-mini"
                                                    ng-click="ctrl.lockJob(ctrl.currentJob)"
                                                    ng-if="ctrl.currentJob && (!ctrl.currentJob.locked && !ctrl.currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock
                                                </md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <div ng-if="::box.name == 'tasksList'">
                                    <md-menu>
                                        <md-button aria-label="open staff support filter menu"
                                                   class="md-icon-button"
                                                   ng-click="$mdMenu.open($event)">
                                            <md-icon md-font-set="material-symbols-outlined" md-menu-origin>
                                                person_apron
                                            </md-icon>
                                            <md-tooltip md-direction="bottom">Filter by Staff</md-tooltip>
                                        </md-button>

                                        <md-menu-content width="4">
                                            <md-menu-item ng-if="ctrl.staffList && ctrl.staffList.length === 0">
                                                <p>No staff.</p>
                                            </md-menu-item>

                                            <md-menu-item ng-if="ctrl.staffList && ctrl.staffList.length > 0">
                                                <md-button ng-class="{'md-primary': ctrl.staffFilter === 'all'}"
                                                           ng-click="ctrl.filterByStaff('all')">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    All Staff
                                                </md-button>
                                            </md-menu-item>

                                            <md-menu-divider
                                                    ng-if="ctrl.staffList && ctrl.staffList.length > 0"></md-menu-divider>

                                            <md-menu-item ng-repeat="staff in ctrl.staffList">
                                                <md-button
                                                        ng-class="{'md-primary': ctrl.staffFilter === staff.id.toString()}"
                                                        ng-click="ctrl.filterByStaff(staff)">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    {{ staff.text }}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>

                                    <md-menu>
                                        <md-button aria-label="open event types filter menu"
                                                   class="md-icon-button"
                                                   ng-click="$mdMenu.open($event)">
                                            <md-icon md-font-set="material-symbols-outlined" md-menu-origin>category
                                            </md-icon>
                                            <md-tooltip md-direction="bottom">Filter by Event Type</md-tooltip>
                                        </md-button>

                                        <md-menu-content width="4">
                                            <md-menu-item
                                                    ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length === 0">
                                                <p>No event types.</p>
                                            </md-menu-item>

                                            <md-menu-item
                                                    ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length > 0">
                                                <md-button ng-class="{'md-primary': ctrl.eventTypeFilter === 'all'}"
                                                           ng-click="ctrl.filterBySupportType('all')">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    All Task Types
                                                </md-button>
                                            </md-menu-item>

                                            <md-menu-divider
                                                    ng-if="ctrl.eventTypesList && ctrl.eventTypesList.length > 0"></md-menu-divider>

                                            <md-menu-item ng-repeat="eventType in ctrl.eventTypesList">
                                                <md-button
                                                        ng-class="{'md-primary': ctrl.eventTypeFilter === eventType.id.toString()}"
                                                        ng-click="ctrl.filterBySupportType(eventType)">
                                                    <md-icon md-font-set="material-symbols-outlined"
                                                             md-menu-align-target>topic
                                                    </md-icon>
                                                    {{ eventType.text }}
                                                </md-button>
                                            </md-menu-item>

                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <md-button
                                        class="md-icon-button"
                                        ng-click="ctrl.refreshAction(box.name)"
                                        ng-if="::ctrl.boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                    <md-tooltip md-direction="bottom">Refresh</md-tooltip>
                                </md-button>

                                <md-button class="md-icon-button box-collapse-btn"
                                           ng-click="ctrl.toggleBoxCollapse(box.name)"
                                           ng-if="!ctrl.isDefaultLayout()"
                                           aria-label="{{ctrl.boxes[box.name].collapsed ? 'Expand' : 'Collapse'}}">
                                    <md-icon md-font-set="material-symbols-outlined">
                                        {{ctrl.boxes[box.name].collapsed ? 'expand_more' : 'expand_less'}}
                                    </md-icon>
                                    <md-tooltip md-direction="bottom">
                                        {{ctrl.boxes[box.name].collapsed ? 'Expand' : 'Collapse'}}
                                    </md-tooltip>
                                </md-button>

                                <div class="box-handle md-icon-button" ng-if="!ctrl.isDefaultLayout()">
                                    <md-icon
                                            class="md-drag-button"
                                            md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>
                            </div>
                        </md-toolbar>

                        <div
                                class="box-content"
                                ng-if="!ctrl.boxes[box.name].collapsed"
                                ng-include="::ctrl.boxes[box.name].templateUrl"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="draggingItems"></div>

</md-content>