<div class="top-bar">
    <img src="/images/DFRNT-logo.png" class="logo" />

        <div class="btn-group" id="status-group" role="group">
            <button class="btn all btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'all'})"
                    type="button">All
            </button>
            <button class="btn active btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'active'})"
                    type="button">Active
            </button>
            <button class="btn done btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'status':'done'})"
                    type="button">Done
            </button>
        </div>

        <div aria-label="Basic example" class="btn-group" id="area-group" ng-if="isInternal" role="group">
            <button class="btn mainfu btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'mainfu'})"
                    type="button">Main-FU
            </button>
            <button class="btn nwakl btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'nwakl'})"
                    type="button">NW-AKL
            </button>
            <button class="btn baggage btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'baggage'})"
                    type="button">Baggage
            </button>
            <button class="btn chch btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'chch'})"
                    type="button">ChCh
            </button>
            <button class="btn int btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'int'})"
                    type="button">
                International
            </button>
            <button class="btn nwother btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'nwother'})"
                    type="button">NW-Other
            </button>
            <button class="btn sameday btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'sameday'})"
                    type="button">SameDay
            </button>
            <button class="btn wlg btn-sm btn-secondary" ng-click="setFiltersFromTopBar({'area':'wlg'})"
                    type="button">
                WLG
            </button>

        </div>
        <div class="topbar-NavButtons" role="navigation">
            <div class="btn btn-sm btn-nav topbar-button" ui-sref="home" ui-sref-active="topbar-active">Dispatch</div>
            <div class="btn btn-sm btn-nav topbar-button" ui-sref="nw" ui-sref-active="topbar-active">Nationwide</div>
            <div class="btn btn-sm btn-nav topbar-button" ui-sref="cs" ui-sref-active="topbar-active">POD/Search</div>
            <div class="btn btn-sm btn-nav topbar-button" ui-sref="prebooks" ui-sref-active="topbar-active">PreBooks
            </div>

        </div>

        <div class="btn-group box-search chat" ng-if="showChat">
            <i class="material-symbols-outlined small-icon" ng-click="openChat()">search</i>
            <i class="material-symbols-outlined small-icon" ng-click="chatBox = ''" title="Clear"></i>
            <input ng-model="chatBox" ng-model-options="{debounce: 300}" placeholder="Chat to..." type="text">
        </div>

        <div class="topbar-buttons">
            <span ng-if="!isInternal" style="color:white;">Clients:</span>
            <div class="multi-element btn-sm topbar-active" disabled="false"
                 extra-settings="pickService.settings"
                 ng-dropdown-multiselect="" ng-if="!isInternal" options="pickClients"
                 selected-model="pickService.clients"
                 style="display: inline-block; margin-top: -5px; padding-left: 0px; padding-right: 50px;">

            </div>

            <div style="display: flex; align-items: center;">
                <div class="btn topbar-button" style="color: white;">
                    <span>{{greetUser()}}</span>
                </div>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open layout options menu"
                               class="md-fab md-mini md-primary"
                               ng-click="$mdMenu.open($event)">
                        <md-icon md-font-set="material-symbols-outlined">widgets</md-icon>
                        <md-tooltip md-direction="bottom">Layouts</md-tooltip>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="saveLayout()">
                                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                                Save Layout
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-repeat="lo in layouts track by $index">
                            <md-button>
                                <md-icon md-font-set="material-symbols-outlined"
                                         ng-click="deleteLayout($index)">
                                    delete
                                </md-icon>
                                <span ng-click="loadLayout($index)"
                                      ng-style="lo.name == currentLayoutName ? {'font-weight':'bold'} : {}">{{lo.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

        </div>
    </div>

    <div class="">

        <div class="columns">

            <div class="column" id="co-{{column.id}}" ng-repeat="(colKey,column) in layout.columns"
                 r-directions="['right']"
                 r-flex="true" resizable style="flex-basis: {{column.width}}">
                <div class="column-sortable" ng-model="column.boxes" ui-sortable="sortableOptions">
                    <div class="box" id="box-{{box.name}}" ng-repeat="(boxName,box) in column.boxes"
                         r-directions="['bottom']"
                         r-flex="true" resizable style="flex-basis: {{box.height}}">


                        <md-toolbar class="md-accent" layout="row" layout-align="center center">
                            <div class="md-toolbar-tools">

                                <span class="md-headline-title" flex>
                                    {{boxes[box.name].title}}
                                    <span ng-if="box.name == 'jobDetail'">{{currentSelection}}</span>
                                    <span ng-if="box.name == 'jobGroups'">{{groupJobsSelection}}</span>
                                    <span ng-if="box.name == 'potentialCouriers'">{{potentialCouriersSelection}}</span>
                                    <span ng-if="box.name == 'currentWork' || box.name == 'map'">{{currentWorkSelection}}</span>
                                    <span ng-if="box.name == 'jobDetail' && currentJob.relatedJobs.length > 1"
                                          ng-repeat="jo in currentJob.relatedJobs">&nbsp;
                                        <span
                                                ng-click="loadRelatedJobDetail(jo.id, jo.label)"
                                                ng-style="currentJob.id == jo.id ? {'font-weight':'bold', 'color':'#fddd00'} : {'font-weight':'normal'}">
                                        {{jo.label}}
                                    </span>
                                    </span>
                                </span>

                                <md-button class="md-icon-button md-primary" ng-click="getData()"
                                           ng-if="boxes[box.name].showRefresh">
                                    <md-icon md-font-set="material-symbols-outlined">refresh</md-icon>
                                </md-button>

                                <!-- Courier Card Buttons-->
                                <div class="row-overflow" layout="row" ng-if="currentCourier"
                                     ng-if="box.name === 'currentWork'">
                                    <md-fab-speed-dial class="md-scale" md-direction="left"
                                                       md-open="courierListFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="courierListFabIsOpen=true"
                                                       ng-mouseleave="courierListFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="truckLoadingStatus($event)"
                                                       ng-if="truckCourierStatus.length >0">
                                                <md-tooltip md-direction="bottom">Truck Loading Status</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">local_shipping
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="restoreAll($event)">
                                                <md-tooltip md-direction="bottom">Restore All</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">undo</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="redispatchAll($event)">
                                                <md-tooltip md-direction="bottom">Redispatch All</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">repeat</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="resendAll($event)">
                                                <md-tooltip md-direction="bottom">Resend All Jobs</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">send</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="messageClick($event, currentJob)">
                                                <md-tooltip md-direction="bottom">Send Message</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">sms</md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <!-- Detail Buttons-->
                                <div class="row-overflow" layout="row" ng-if="currentJob"
                                     ng-if="boxes[box.name].showDetailButtons">
                                    <md-fab-speed-dial class="md-scale" md-direction="left"
                                                       md-open="jobDetailFabIsOpen"
                                                       ng-class="{ 'md-hover-full': true }"
                                                       ng-mouseenter="jobDetailFabIsOpen=true"
                                                       ng-mouseleave="jobDetailFabIsOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                                <md-tooltip md-direction="bottom">Options</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">page_info</md-icon>
                                            </md-button>
                                        </md-fab-trigger>

                                        <md-fab-actions>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="createEvent($event, currentJob)">
                                                <md-tooltip md-direction="bottom">Add Event</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">edit_calendar</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="closeSupport(currentSupport);"
                                                       ng-disabled="!currentSupport">
                                                <md-tooltip md-direction="bottom">Close Event</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">event_available
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="unlockJob(currentJob)"
                                                       ng-if="currentJob && (currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Unlock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock_open</md-icon>
                                            </md-button>
                                            <md-button class="md-fab md-raised md-mini"
                                                       ng-click="lockJob(currentJob)"
                                                       ng-if="currentJob && (!currentJob.locked && !currentJob.invoiced)">
                                                <md-tooltip md-direction="bottom">Lock Job</md-tooltip>
                                                <md-icon md-font-set="material-symbols-outlined">lock</md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>

                                <div ng-if="box.name === 'clearLists'">
                                    <md-menu>
                                        <md-button aria-label="truck mode" class="md-raised md-accent"
                                                   ng-click="$mdMenu.open($event)">
                                            Trucks <span>{{truckMode}} </span>
                                        </md-button>
                                        <md-menu-content class="md-dense">
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('On');">
                                                    On
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('Off');">
                                                    Off
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setTruckMode('Only');">
                                                    Only
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>


                                <div ng-if="box.name === 'supports'">
                                    <md-menu>
                                        <md-button aria-label="Open sample menu" class="md-raised md-accent"
                                                   ng-click="$mdMenu.open($event)">
                                            Channel <span>{{supportChannel}} </span>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="setSupportChannel('City')">
                                                    City
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setSupportChannel('Main')">
                                                    Main
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setSupportChannel('Trucks')">
                                                    Trucks
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="setSupportChannel('All')">
                                                    All
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div layout="row" ng-if="box.name === 'map'">
                                    <md-switch class="md-primary" ng-model="areaListCity"
                                               ng-if="box.name === 'clearLists'">
                                        City
                                    </md-switch>
                                    <md-switch class="md-primary" ng-change="getAvailableCourierLocation()"
                                               ng-if="box.name === 'map'" ng-model="allCouriers.display">
                                        All
                                    </md-switch>
                                    <md-switch class="md-primary" ng-change="storeMapZoomDisplay()"
                                               ng-if="box.name === 'map'" ng-model="mapZoom.display">
                                        Auto Zoom
                                    </md-switch>
                                    <md-switch class="md-primary" ng-change="getAvailableCourierLocation()"
                                               ng-if="box.name === 'map'" ng-model="allCouriers.includeUA">
                                        Include UA
                                    </md-switch>
                                </div>

                                <div class="row-overflow" id="box-{{box.name}}-{{$index}}" layout="row"
                                     ng-if="boxes[box.name].showSearch">
                                    <md-button class="md-icon-button"
                                               ng-click="openSearch(box.name, $index)">
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="!showInput[box.name + '-' + $index]">search
                                        </md-icon>
                                        <md-icon md-font-set="material-symbols-outlined"
                                                 ng-if="showInput[box.name + '-' + $index]">close
                                        </md-icon>
                                    </md-button>

                                    <md-autocomplete
                                            md-autoselect
                                            md-escape-options="clear"
                                            md-item-text="item.text"
                                            md-items="item in jobRecordSearch(jobRecordSearchText)"
                                            md-min-length="1"
                                            md-search-text="jobRecordSearchText"
                                            md-selected-item="selectedJobRecord"
                                            md-selected-item-change="JobRecordSelected(item.id)"
                                            ng-if="showInput[box.name + '-' + $index]"
                                            placeholder="Search by job number...">
                                        <md-item-template>
                                            <span md-highlight-flags="^i"
                                                  md-highlight-text="jobRecordSearchText">{{item.text}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No jobs matching "{{jobRecordSearchText}}" were found. Please check the
                                            POD page.
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>

                                <div class="box-handle md-icon-button">
                                    <md-icon class="md-drag-button" md-font-set="material-symbols-outlined">
                                        drag_indicator
                                    </md-icon>
                                </div>

                            </div>
                        </md-toolbar>

                        <div class="box-content" ng-include="boxes[box.name].tpl"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id='draggingItems'></div>
</div>
