<md-dialog aria-label="{{ ctrl.title }}" id="{{ ctrl.id }}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit {{ ctrl.title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                    <md-icon md-font-set="material-symbols-outlined" aria-label="Close dialog">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ng-cloak>
            <div class="md-dialog-content">
                <p>
                    Search for your desired {{ ctrl.title }} below
                </p>
                <md-select aria-label="Select an option" ng-model="ctrl.field.value"
                           placeholder="{{ ctrl.field.options.placeholder }}">
                    <md-option ng-repeat="item in ctrl.field.options.items" ng-value="item">
                        {{ item.text }}
                    </md-option>
                </md-select>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="ctrl.submit(ctrl.field.value)">
                <md-icon md-font-set="material-symbols-outlined">save</md-icon>
                Update Field
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
